@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBody.scss
 *
 */
/* the other files */
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBasics.scss
 *
 */
@import url(../../../css/csslayer.css);
/* animation */
#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

/* tooltips */
.midSizeDialog {
  max-width: 400px;
}

.tooltipimage {
  vertical-align: top;
  display: inline-block;
}

.tooltiptext {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.tooltiptitle {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  width: 100%;
  background-color: antiquewhite;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
}

.tooltip-body {
  width: 100%;
  padding: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }
  50% {
    transform: scale(1.2) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}
.infobox {
  position: absolute !important;
  bottom: 0px;
  right: 0px;
  font-family: FontAwesome;
  font-size: x-large;
  width: 1em;
  height: 1em;
  opacity: 0.3;
}

.limbo {
  display: none;
  height: 0px;
  overflow: hidden;
}

#button_undo {
  float: right;
  background-color: red;
  background-image: none;
}

/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameTokens.scss
 *
 */
.location {
  display: block;
  width: 100%;
  position: relative;
}

.hand {
  height: 16em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.location > * {
  display: inline-block;
  position: relative;
}

.location > .counter {
  position: absolute;
  top: 0;
  left: 0;
}

.spectatorMode .hand {
  display: none;
}

.carddeck > .counter {
  position: absolute;
  top: 90%;
  left: calc(50% - 0.5em);
}

.active_slot {
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #800cea !important;
}

#ebd-body {
  --card-width: 10em; /* 18vh */
  --card-height: calc(var(--card-width)*1.5);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5019607843);
}

.location .card {
  margin-right: 5px;
}

.card[data-card-type="0"] {
  background-color: white;
}

.card[data-card-type="1"] {
  background-color: lightgreen;
}

.card[data-card-type="2"] {
  background-color: lightblue;
}

.card[data-card-type="3"] {
  background-color: lightyellow;
}

.token_cost {
  position: absolute;
  top: 0%;
  width: calc(var(--card-width) * 0.2);
  height: calc(var(--card-width) * 0.2);
  background-color: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  border: calc(var(--card-width) * 0.02) solid black;
  border-radius: 1vh;
}

.token_title {
  position: absolute;
  top: 16%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(var(--card-width) * 0.075);
}

.token_descr {
  position: absolute;
  top: 50%;
  font-size: calc(var(--card-width) * 0.07);
  width: 96%;
  padding: 2%;
  height: 38%;
  background-color: rgba(0, 0, 0, 0.0509803922);
}

.token_rules {
  position: absolute;
  top: 30%;
  font-size: calc(var(--card-width) * 0.075);
  width: 100%;
  display: flex;
  justify-content: center;
}

#ebd-body {
  --map-width:40em; /* 75vh */
  --map-height: calc(var(--map-width)*0.92);
}

#map {
  position: relative;
  width: var(--map-width);
  height: var(--map-height);
}

.map_bg {
  background-image: url("img/map.png");
  width: var(--map-width);
  height: var(--map-height);
  border: 1px solid red;
  background-size: contain;
  position: absolute;
}

#map .hex {
  width: calc(var(--map-width) * 0.109);
  height: calc(var(--map-width) * 0.118);
  border-radius: 30%;
  outline: 1px solid black;
  position: absolute;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 100ms ease-in-out;
}

.map_hexes #hex_1_1 {
  left: 1%;
  top: 1%;
}

.map_hexes #hex_1_2 {
  left: 1%;
  top: 11.3%;
}

.map_hexes #hex_1_3 {
  left: 1%;
  top: 21.6%;
}

.map_hexes #hex_1_4 {
  left: 1%;
  top: 31.9%;
}

.map_hexes #hex_1_5 {
  left: 1%;
  top: 42.2%;
}

.map_hexes #hex_1_6 {
  left: 1%;
  top: 52.5%;
}

.map_hexes #hex_1_7 {
  left: 1%;
  top: 62.8%;
}

.map_hexes #hex_1_8 {
  left: 1%;
  top: 73.1%;
}

.map_hexes #hex_1_9 {
  left: 1%;
  top: 83.4%;
}

.map_hexes #hex_2_1 {
  left: 11.9%;
  top: 1%;
}

.map_hexes #hex_2_2 {
  left: 11.9%;
  top: 11.3%;
}

.map_hexes #hex_2_3 {
  left: 11.9%;
  top: 21.6%;
}

.map_hexes #hex_2_4 {
  left: 11.9%;
  top: 31.9%;
}

.map_hexes #hex_2_5 {
  left: 11.9%;
  top: 42.2%;
}

.map_hexes #hex_2_6 {
  left: 11.9%;
  top: 52.5%;
}

.map_hexes #hex_2_7 {
  left: 11.9%;
  top: 62.8%;
}

.map_hexes #hex_2_8 {
  left: 11.9%;
  top: 73.1%;
}

.map_hexes #hex_2_9 {
  left: 11.9%;
  top: 83.4%;
}

.map_hexes #hex_3_1 {
  left: 22.8%;
  top: 1%;
}

.map_hexes #hex_3_2 {
  left: 22.8%;
  top: 11.3%;
}

.map_hexes #hex_3_3 {
  left: 22.8%;
  top: 21.6%;
}

.map_hexes #hex_3_4 {
  left: 22.8%;
  top: 31.9%;
}

.map_hexes #hex_3_5 {
  left: 22.8%;
  top: 42.2%;
}

.map_hexes #hex_3_6 {
  left: 22.8%;
  top: 52.5%;
}

.map_hexes #hex_3_7 {
  left: 22.8%;
  top: 62.8%;
}

.map_hexes #hex_3_8 {
  left: 22.8%;
  top: 73.1%;
}

.map_hexes #hex_3_9 {
  left: 22.8%;
  top: 83.4%;
}

.map_hexes #hex_4_1 {
  left: 33.7%;
  top: 1%;
}

.map_hexes #hex_4_2 {
  left: 33.7%;
  top: 11.3%;
}

.map_hexes #hex_4_3 {
  left: 33.7%;
  top: 21.6%;
}

.map_hexes #hex_4_4 {
  left: 33.7%;
  top: 31.9%;
}

.map_hexes #hex_4_5 {
  left: 33.7%;
  top: 42.2%;
}

.map_hexes #hex_4_6 {
  left: 33.7%;
  top: 52.5%;
}

.map_hexes #hex_4_7 {
  left: 33.7%;
  top: 62.8%;
}

.map_hexes #hex_4_8 {
  left: 33.7%;
  top: 73.1%;
}

.map_hexes #hex_4_9 {
  left: 33.7%;
  top: 83.4%;
}

.map_hexes #hex_5_1 {
  left: 44.6%;
  top: 1%;
}

.map_hexes #hex_5_2 {
  left: 44.6%;
  top: 11.3%;
}

.map_hexes #hex_5_3 {
  left: 44.6%;
  top: 21.6%;
}

.map_hexes #hex_5_4 {
  left: 44.6%;
  top: 31.9%;
}

.map_hexes #hex_5_5 {
  left: 44.6%;
  top: 42.2%;
}

.map_hexes #hex_5_6 {
  left: 44.6%;
  top: 52.5%;
}

.map_hexes #hex_5_7 {
  left: 44.6%;
  top: 62.8%;
}

.map_hexes #hex_5_8 {
  left: 44.6%;
  top: 73.1%;
}

.map_hexes #hex_5_9 {
  left: 44.6%;
  top: 83.4%;
}

.map_hexes #hex_6_1 {
  left: 55.5%;
  top: 1%;
}

.map_hexes #hex_6_2 {
  left: 55.5%;
  top: 11.3%;
}

.map_hexes #hex_6_3 {
  left: 55.5%;
  top: 21.6%;
}

.map_hexes #hex_6_4 {
  left: 55.5%;
  top: 31.9%;
}

.map_hexes #hex_6_5 {
  left: 55.5%;
  top: 42.2%;
}

.map_hexes #hex_6_6 {
  left: 55.5%;
  top: 52.5%;
}

.map_hexes #hex_6_7 {
  left: 55.5%;
  top: 62.8%;
}

.map_hexes #hex_6_8 {
  left: 55.5%;
  top: 73.1%;
}

.map_hexes #hex_6_9 {
  left: 55.5%;
  top: 83.4%;
}

.map_hexes #hex_7_1 {
  left: 66.4%;
  top: 1%;
}

.map_hexes #hex_7_2 {
  left: 66.4%;
  top: 11.3%;
}

.map_hexes #hex_7_3 {
  left: 66.4%;
  top: 21.6%;
}

.map_hexes #hex_7_4 {
  left: 66.4%;
  top: 31.9%;
}

.map_hexes #hex_7_5 {
  left: 66.4%;
  top: 42.2%;
}

.map_hexes #hex_7_6 {
  left: 66.4%;
  top: 52.5%;
}

.map_hexes #hex_7_7 {
  left: 66.4%;
  top: 62.8%;
}

.map_hexes #hex_7_8 {
  left: 66.4%;
  top: 73.1%;
}

.map_hexes #hex_7_9 {
  left: 66.4%;
  top: 83.4%;
}

.map_hexes #hex_8_1 {
  left: 77.3%;
  top: 1%;
}

.map_hexes #hex_8_2 {
  left: 77.3%;
  top: 11.3%;
}

.map_hexes #hex_8_3 {
  left: 77.3%;
  top: 21.6%;
}

.map_hexes #hex_8_4 {
  left: 77.3%;
  top: 31.9%;
}

.map_hexes #hex_8_5 {
  left: 77.3%;
  top: 42.2%;
}

.map_hexes #hex_8_6 {
  left: 77.3%;
  top: 52.5%;
}

.map_hexes #hex_8_7 {
  left: 77.3%;
  top: 62.8%;
}

.map_hexes #hex_8_8 {
  left: 77.3%;
  top: 73.1%;
}

.map_hexes #hex_8_9 {
  left: 77.3%;
  top: 83.4%;
}

.map_hexes #hex_9_1 {
  left: 88.2%;
  top: 1%;
}

.map_hexes #hex_9_2 {
  left: 88.2%;
  top: 11.3%;
}

.map_hexes #hex_9_3 {
  left: 88.2%;
  top: 21.6%;
}

.map_hexes #hex_9_4 {
  left: 88.2%;
  top: 31.9%;
}

.map_hexes #hex_9_5 {
  left: 88.2%;
  top: 42.2%;
}

.map_hexes #hex_9_6 {
  left: 88.2%;
  top: 52.5%;
}

.map_hexes #hex_9_7 {
  left: 88.2%;
  top: 62.8%;
}

.map_hexes #hex_9_8 {
  left: 88.2%;
  top: 73.1%;
}

.map_hexes #hex_9_9 {
  left: 88.2%;
  top: 83.4%;
}

.hex.even {
  margin-left: calc(var(--map-width) * -0.0553);
}

.outer.hex {
  background-color: rgba(128, 128, 128, 0.66);
}

#hex_0_1 {
  left: 0%;
  top: 0%;
}

#hex_0_2 {
  right: 0%;
  top: 0%;
}

#hex_0_3 {
  right: 0%;
  bottom: 0%;
}

.hex:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

.hex.active_slot {
  background-color: rgba(86, 207, 110, 0.4);
}

.hex.active_slot:hover {
  background-color: rgb(86, 207, 110);
}

#decks_area > * {
  display: inline-block;
}

.display_main, #decks_area {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tracker::after, .param::after {
  content: attr(data-state);
}

/** Temp markers */
#params {
  width: 100%;
}

#params > * {
  display: inline-block;
  margin-right: 20px;
}

.tracker_pm::before {
  content: "prod MC ";
}

.tracker_m::before {
  content: "MC ";
}

.tracker_passed::before {
  content: "Passed ";
}

.tile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: 1px solid gray;
}

.tile_3 {
  background-color: blue;
}
