@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBody.scss
 *
 */
/* the other files */
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBasics.scss
 *
 */
@import url(../../../css/csslayer.css);
/* animation */
#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

/* tooltips */
.midSizeDialog {
  max-width: 400px;
}

.tooltipimage {
  vertical-align: top;
  display: inline-block;
}

.tooltiptext {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.tooltiptitle {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  width: 100%;
  background-color: antiquewhite;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
}

.tooltip-body {
  width: 100%;
  padding: 10px;
}

@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }
  50% {
    transform: scale(1.2) !important;
  }
  100% {
    transform: scale(1) !important;
  }
}
.infobox {
  position: absolute !important;
  bottom: 0px;
  right: 0px;
  font-family: FontAwesome;
  font-size: x-large;
  width: 1em;
  height: 1em;
  opacity: 0.3;
}

.limbo {
  display: none;
  height: 0px;
  overflow: hidden;
}

#button_undo {
  float: right;
  background-color: red;
  background-image: none;
}

/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameTokens.scss
 *
 */
.location {
  display: block;
  width: 100%;
  position: relative;
}

.hand, .draw {
  min-height: var(--card-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.draw {
  min-height: unset;
}

.location > * {
  display: inline-block;
  position: relative;
}

.location > .counter {
  position: absolute;
  top: 0;
  left: 0;
}

.spectatorMode .hand {
  display: none;
}

.carddeck > .counter {
  position: absolute;
  top: 90%;
  left: calc(50% - 0.5em);
}

.active_slot {
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #800cea !important;
}

/*card bg ratio : 1.40658174*/
#ebd-body {
  --card-width: 10em; /* 18vh */
  --card-height: calc(var(--card-width)*1.40658174);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5019607843);
  background-image: url("img/cards_bg.jpg");
  background-size: 300% 100%;
}

.location .card {
  margin-right: 5px;
}

.card[data-card-type="0"] {
  background-color: white;
  background-image: revert;
}

#discard_main {
  background-image: revert;
}

.card[data-card-type="1"] {
  background-color: lightgreen;
  background-position-x: 0;
}

.card[data-card-type="2"] {
  background-color: lightblue;
  background-position-x: -200%;
}

.card[data-card-type="3"] {
  background-color: lightyellow;
  background-position-x: -100%;
}

/* effects face down */
.tableau .card[data-state="0"] {
  filter: grayscale(1);
}

.token_cost {
  font-family: "Prototype";
  position: absolute;
  top: 0%;
  width: calc(var(--card-width) * 0.19);
  height: calc(var(--card-width) * 0.19);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--card-width) * 0.09);
  /*
     width: calc(var(--card-width) * 0.2);
    height: calc(var(--card-width) * 0.2);
    background-color: gold;
    border: calc(var(--card-width) * 0.015) solid black;
    border-radius: calc(var(--card-width) * 0.08);
    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: -300% 0;
   */
}

#display_main .token_cost {
  border-radius: calc(var(--card-width) * 0.08);
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  background-position: -300% 0;
}

.token_title {
  font-family: "Prototype";
  position: absolute;
  top: 10.3%;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: calc(var(--card-width) * 0.07);
}

.token_descr {
  position: absolute;
  top: 50%;
  font-size: calc(var(--card-width) * 0.07);
  width: 96%;
  padding: 2%;
  height: 38%;
  background-color: rgba(249, 249, 249, 0.84);
}

.token_rules {
  position: absolute;
  top: 30%;
  font-size: calc(var(--card-width) * 0.075);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-wrap: anywhere;
  background-color: rgba(128, 128, 128, 0.2509803922);
}

.token_badges {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: row-reverse;
}

.badge {
  width: calc(var(--card-width) * 0.15);
  height: calc(var(--card-width) * 0.15);
  background-image: url("img/badges.png");
  background-size: 1200% 100%;
}

.badge.tag_City {
  background-position-x: 0;
}

.badge.tag_Event {
  background-position-x: -100%;
}

.badge.tag_Earth {
  background-position-x: -200%;
}

.badge.tag_EventAggro {
  background-position-x: -300%;
}

.badge.tag_Plant {
  background-position-x: -400%;
}

.badge.tag_Space {
  background-position-x: -500%;
}

.badge.tag_Jovian {
  background-position-x: -600%;
}

.badge.tag_Science {
  background-position-x: -700%;
}

.badge.tag_Building {
  background-position-x: -800%;
}

.badge.tag_Energy {
  background-position-x: -900%;
}

.badge.tag_Microbe {
  background-position-x: -1000%;
}

.badge.tag_Animal {
  background-position-x: -1100%;
}

#ebd-body {
  --map-width: 75vh;
  --map-height: calc(var(--map-width)*0.92);
}

#map_middle {
  display: flex;
  width: calc(var(--map-width) * 1.45);
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
}

#main_board {
  display: flex;
  flex-direction: column;
}

#map_top {
  padding: 1%;
  display: flex;
  justify-content: center;
}

#map_right {
  padding: 1%;
  height: 96%;
}

#map_left {
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 96%;
}

#map {
  position: relative;
  width: var(--map-width);
  height: var(--map-height);
}

.map_bg {
  background-image: url("img/map.png");
  width: var(--map-width);
  height: var(--map-height);
  background-size: contain;
  position: absolute;
}

#map .hex {
  width: calc(var(--map-width) * 0.109);
  height: calc(var(--map-width) * 0.118);
  border-radius: 30%;
  outline: 1px solid black;
  position: absolute;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 100ms ease-in-out;
}

.map_hexes #hex_1_1 {
  left: 1%;
  top: 1%;
}

.map_hexes #hex_1_2 {
  left: 1%;
  top: 11.3%;
}

.map_hexes #hex_1_3 {
  left: 1%;
  top: 21.6%;
}

.map_hexes #hex_1_4 {
  left: 1%;
  top: 31.9%;
}

.map_hexes #hex_1_5 {
  left: 1%;
  top: 42.2%;
}

.map_hexes #hex_1_6 {
  left: 1%;
  top: 52.5%;
}

.map_hexes #hex_1_7 {
  left: 1%;
  top: 62.8%;
}

.map_hexes #hex_1_8 {
  left: 1%;
  top: 73.1%;
}

.map_hexes #hex_1_9 {
  left: 1%;
  top: 83.4%;
}

.map_hexes #hex_2_1 {
  left: 11.9%;
  top: 1%;
}

.map_hexes #hex_2_2 {
  left: 11.9%;
  top: 11.3%;
}

.map_hexes #hex_2_3 {
  left: 11.9%;
  top: 21.6%;
}

.map_hexes #hex_2_4 {
  left: 11.9%;
  top: 31.9%;
}

.map_hexes #hex_2_5 {
  left: 11.9%;
  top: 42.2%;
}

.map_hexes #hex_2_6 {
  left: 11.9%;
  top: 52.5%;
}

.map_hexes #hex_2_7 {
  left: 11.9%;
  top: 62.8%;
}

.map_hexes #hex_2_8 {
  left: 11.9%;
  top: 73.1%;
}

.map_hexes #hex_2_9 {
  left: 11.9%;
  top: 83.4%;
}

.map_hexes #hex_3_1 {
  left: 22.8%;
  top: 1%;
}

.map_hexes #hex_3_2 {
  left: 22.8%;
  top: 11.3%;
}

.map_hexes #hex_3_3 {
  left: 22.8%;
  top: 21.6%;
}

.map_hexes #hex_3_4 {
  left: 22.8%;
  top: 31.9%;
}

.map_hexes #hex_3_5 {
  left: 22.8%;
  top: 42.2%;
}

.map_hexes #hex_3_6 {
  left: 22.8%;
  top: 52.5%;
}

.map_hexes #hex_3_7 {
  left: 22.8%;
  top: 62.8%;
}

.map_hexes #hex_3_8 {
  left: 22.8%;
  top: 73.1%;
}

.map_hexes #hex_3_9 {
  left: 22.8%;
  top: 83.4%;
}

.map_hexes #hex_4_1 {
  left: 33.7%;
  top: 1%;
}

.map_hexes #hex_4_2 {
  left: 33.7%;
  top: 11.3%;
}

.map_hexes #hex_4_3 {
  left: 33.7%;
  top: 21.6%;
}

.map_hexes #hex_4_4 {
  left: 33.7%;
  top: 31.9%;
}

.map_hexes #hex_4_5 {
  left: 33.7%;
  top: 42.2%;
}

.map_hexes #hex_4_6 {
  left: 33.7%;
  top: 52.5%;
}

.map_hexes #hex_4_7 {
  left: 33.7%;
  top: 62.8%;
}

.map_hexes #hex_4_8 {
  left: 33.7%;
  top: 73.1%;
}

.map_hexes #hex_4_9 {
  left: 33.7%;
  top: 83.4%;
}

.map_hexes #hex_5_1 {
  left: 44.6%;
  top: 1%;
}

.map_hexes #hex_5_2 {
  left: 44.6%;
  top: 11.3%;
}

.map_hexes #hex_5_3 {
  left: 44.6%;
  top: 21.6%;
}

.map_hexes #hex_5_4 {
  left: 44.6%;
  top: 31.9%;
}

.map_hexes #hex_5_5 {
  left: 44.6%;
  top: 42.2%;
}

.map_hexes #hex_5_6 {
  left: 44.6%;
  top: 52.5%;
}

.map_hexes #hex_5_7 {
  left: 44.6%;
  top: 62.8%;
}

.map_hexes #hex_5_8 {
  left: 44.6%;
  top: 73.1%;
}

.map_hexes #hex_5_9 {
  left: 44.6%;
  top: 83.4%;
}

.map_hexes #hex_6_1 {
  left: 55.5%;
  top: 1%;
}

.map_hexes #hex_6_2 {
  left: 55.5%;
  top: 11.3%;
}

.map_hexes #hex_6_3 {
  left: 55.5%;
  top: 21.6%;
}

.map_hexes #hex_6_4 {
  left: 55.5%;
  top: 31.9%;
}

.map_hexes #hex_6_5 {
  left: 55.5%;
  top: 42.2%;
}

.map_hexes #hex_6_6 {
  left: 55.5%;
  top: 52.5%;
}

.map_hexes #hex_6_7 {
  left: 55.5%;
  top: 62.8%;
}

.map_hexes #hex_6_8 {
  left: 55.5%;
  top: 73.1%;
}

.map_hexes #hex_6_9 {
  left: 55.5%;
  top: 83.4%;
}

.map_hexes #hex_7_1 {
  left: 66.4%;
  top: 1%;
}

.map_hexes #hex_7_2 {
  left: 66.4%;
  top: 11.3%;
}

.map_hexes #hex_7_3 {
  left: 66.4%;
  top: 21.6%;
}

.map_hexes #hex_7_4 {
  left: 66.4%;
  top: 31.9%;
}

.map_hexes #hex_7_5 {
  left: 66.4%;
  top: 42.2%;
}

.map_hexes #hex_7_6 {
  left: 66.4%;
  top: 52.5%;
}

.map_hexes #hex_7_7 {
  left: 66.4%;
  top: 62.8%;
}

.map_hexes #hex_7_8 {
  left: 66.4%;
  top: 73.1%;
}

.map_hexes #hex_7_9 {
  left: 66.4%;
  top: 83.4%;
}

.map_hexes #hex_8_1 {
  left: 77.3%;
  top: 1%;
}

.map_hexes #hex_8_2 {
  left: 77.3%;
  top: 11.3%;
}

.map_hexes #hex_8_3 {
  left: 77.3%;
  top: 21.6%;
}

.map_hexes #hex_8_4 {
  left: 77.3%;
  top: 31.9%;
}

.map_hexes #hex_8_5 {
  left: 77.3%;
  top: 42.2%;
}

.map_hexes #hex_8_6 {
  left: 77.3%;
  top: 52.5%;
}

.map_hexes #hex_8_7 {
  left: 77.3%;
  top: 62.8%;
}

.map_hexes #hex_8_8 {
  left: 77.3%;
  top: 73.1%;
}

.map_hexes #hex_8_9 {
  left: 77.3%;
  top: 83.4%;
}

.map_hexes #hex_9_1 {
  left: 88.2%;
  top: 1%;
}

.map_hexes #hex_9_2 {
  left: 88.2%;
  top: 11.3%;
}

.map_hexes #hex_9_3 {
  left: 88.2%;
  top: 21.6%;
}

.map_hexes #hex_9_4 {
  left: 88.2%;
  top: 31.9%;
}

.map_hexes #hex_9_5 {
  left: 88.2%;
  top: 42.2%;
}

.map_hexes #hex_9_6 {
  left: 88.2%;
  top: 52.5%;
}

.map_hexes #hex_9_7 {
  left: 88.2%;
  top: 62.8%;
}

.map_hexes #hex_9_8 {
  left: 88.2%;
  top: 73.1%;
}

.map_hexes #hex_9_9 {
  left: 88.2%;
  top: 83.4%;
}

.hex.even {
  margin-left: calc(var(--map-width) * -0.0553);
}

.outer.hex {
  background-color: rgba(128, 128, 128, 0.66);
}

#hex_0_1 {
  left: 0%;
  top: 0%;
}

#hex_0_2 {
  right: 0%;
  top: 0%;
}

#hex_0_3 {
  right: 0%;
  bottom: 0%;
}

.hex:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

.hex.active_slot {
  background-color: rgba(86, 207, 110, 0.4);
}

.hex.active_slot:hover {
  background-color: rgb(86, 207, 110);
}

.tile {
  width: calc(var(--map-width) * 0.109);
  height: calc(var(--map-width) * 0.118);
  background-image: url("img/tiles.png");
  background-size: 1000% 200%;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.tile.tile_2 {
  background-position: 0 0;
}

.tile.tile_1 {
  background-position: -100% 0;
}

.tile.tile_3 {
  background-position: -200% 0;
}

.tile.tile_8 {
  background-position: -300% 0;
}

.tile.tile_85 {
  background-position: -400% 0;
}

.tile.tile_128 {
  background-position: -500% 0;
}

.tile.tile_123 {
  background-position: -600% 0;
}

.tile.tile_140 {
  background-position: -700% 0;
}

.tile.tile_5 {
  background-position: -800% 0;
}

.tile.tile_142 {
  background-position: -900% 0;
}

.tile.tile_natural {
  background-position: 0 -100%;
}

.tile.tile_97 {
  background-position: -100% -100%;
}

.tile.tile_199 {
  background-position: -200% -100%;
}

#map_bottom {
  display: flex;
  width: 100%;
}

#main_awards, #main_milestones {
  width: 48%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgb(51, 51, 51) 0%, rgb(225, 225, 225) 24%, rgb(158, 158, 158) 82%, rgb(225, 225, 225) 100%);
  padding: 0.3vh;
  border: 0.4vh solid #938989;
  width: fit-content;
  border-radius: 30% 30% 0 0;
}

.map_milesawardscontent {
  display: flex;
  flex-wrap: wrap;
}

.milestone, .award {
  width: calc(var(--map-width) * 0.138);
  height: calc(var(--map-width) * 0.08);
  background-image: url("img/milestones_awards.png");
  background-size: 500% 200%;
}

.award_1 {
  background-position: -200% 0;
}

.award_2 {
  background-position: 0 0;
}

.award_3 {
  background-position: -100% 0;
}

.award_4 {
  background-position: -300% 0;
}

.award_5 {
  background-position: -400% 0;
}

.milestone_1 {
  background-position: 0% -100%;
}

.milestone_2 {
  background-position: -100% -100%;
}

.milestone_3 {
  background-position: -200% -100%;
}

.milestone_4 {
  background-position: -300% -100%;
}

.milestone_5 {
  background-position: -400% -100%;
}

.map_milesawardsheader {
  display: flex;
  justify-content: space-evenly;
}

.map_title {
  background-color: #EE6F10;
  padding: 0.3vh;
  border: 0.4vh solid #938989;
  width: fit-content;
  border-radius: 30% 30% 0 0;
  font-family: "Prototype";
}

#temperature_map {
  position: relative;
  height: 100%;
  width: 2em;
  border: 1px solid red;
  background: linear-gradient(180deg, rgb(255, 0, 8) 0%, rgb(47, 0, 255) 75%, rgb(0, 255, 252) 100%);
}

.temperature_scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.temperature_scale_item {
  position: absolute;
  height: 4%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.temperature_scale_item::after {
  content: attr(data-val);
}

#temperature_map #tracker_t {
  position: absolute;
  height: 4%;
  width: 100%;
  box-shadow: #fff 0px 0px 0px 3px;
}

#temperature_map #tracker_t::after {
  content: revert;
}

.temperature_scale_item[data-val="-30"] {
  bottom: 0%;
}

#temperature_map #tracker_t[data-state="-30"] {
  bottom: 0%;
}

.temperature_scale_item[data-val="-28"] {
  bottom: 5%;
}

#temperature_map #tracker_t[data-state="-28"] {
  bottom: 5%;
}

.temperature_scale_item[data-val="-26"] {
  bottom: 10%;
}

#temperature_map #tracker_t[data-state="-26"] {
  bottom: 10%;
}

.temperature_scale_item[data-val="-24"] {
  bottom: 15%;
}

#temperature_map #tracker_t[data-state="-24"] {
  bottom: 15%;
}

.temperature_scale_item[data-val="-22"] {
  bottom: 20%;
}

#temperature_map #tracker_t[data-state="-22"] {
  bottom: 20%;
}

.temperature_scale_item[data-val="-20"] {
  bottom: 25%;
}

#temperature_map #tracker_t[data-state="-20"] {
  bottom: 25%;
}

.temperature_scale_item[data-val="-18"] {
  bottom: 30%;
}

#temperature_map #tracker_t[data-state="-18"] {
  bottom: 30%;
}

.temperature_scale_item[data-val="-16"] {
  bottom: 35%;
}

#temperature_map #tracker_t[data-state="-16"] {
  bottom: 35%;
}

.temperature_scale_item[data-val="-14"] {
  bottom: 40%;
}

#temperature_map #tracker_t[data-state="-14"] {
  bottom: 40%;
}

.temperature_scale_item[data-val="-12"] {
  bottom: 45%;
}

#temperature_map #tracker_t[data-state="-12"] {
  bottom: 45%;
}

.temperature_scale_item[data-val="-10"] {
  bottom: 50%;
}

#temperature_map #tracker_t[data-state="-10"] {
  bottom: 50%;
}

.temperature_scale_item[data-val="-8"] {
  bottom: 55%;
}

#temperature_map #tracker_t[data-state="-8"] {
  bottom: 55%;
}

.temperature_scale_item[data-val="-6"] {
  bottom: 60%;
}

#temperature_map #tracker_t[data-state="-6"] {
  bottom: 60%;
}

.temperature_scale_item[data-val="-4"] {
  bottom: 65%;
}

#temperature_map #tracker_t[data-state="-4"] {
  bottom: 65%;
}

.temperature_scale_item[data-val="-2"] {
  bottom: 70%;
}

#temperature_map #tracker_t[data-state="-2"] {
  bottom: 70%;
}

.temperature_scale_item[data-val="0"] {
  bottom: 75%;
}

#temperature_map #tracker_t[data-state="0"] {
  bottom: 75%;
}

.temperature_scale_item[data-val="2"] {
  bottom: 80%;
}

#temperature_map #tracker_t[data-state="2"] {
  bottom: 80%;
}

.temperature_scale_item[data-val="4"] {
  bottom: 85%;
}

#temperature_map #tracker_t[data-state="4"] {
  bottom: 85%;
}

.temperature_scale_item[data-val="6"] {
  bottom: 90%;
}

#temperature_map #tracker_t[data-state="6"] {
  bottom: 90%;
}

.temperature_scale_item[data-val="8"] {
  bottom: 95%;
}

#temperature_map #tracker_t[data-state="8"] {
  bottom: 95%;
}

#oxygen_map {
  position: relative;
  width: 60%;
  height: 2em;
  border: 1px solid red;
  background: linear-gradient(90deg, rgb(180, 105, 0) 0%, rgb(238, 223, 120) 75%, rgb(0, 255, 252) 100%);
}

.oxygen_scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.oxygen_scale_item {
  position: absolute;
  width: 4%;
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}

.oxygen_scale_item::after {
  content: attr(data-val);
}

#oxygen_map #tracker_o {
  position: absolute;
  width: 4%;
  height: 100%;
  box-shadow: #fff 0px 0px 0px 3px;
}

#oxygen_map #tracker_o::after {
  content: revert;
}

.oxygen_scale_item[data-val="0"] {
  left: 0%;
}

#oxygen_map #tracker_o[data-state="0"] {
  left: 0%;
}

.oxygen_scale_item[data-val="1"] {
  left: 6.8%;
}

#oxygen_map #tracker_o[data-state="1"] {
  left: 6.8%;
}

.oxygen_scale_item[data-val="2"] {
  left: 13.6%;
}

#oxygen_map #tracker_o[data-state="2"] {
  left: 13.6%;
}

.oxygen_scale_item[data-val="3"] {
  left: 20.4%;
}

#oxygen_map #tracker_o[data-state="3"] {
  left: 20.4%;
}

.oxygen_scale_item[data-val="4"] {
  left: 27.2%;
}

#oxygen_map #tracker_o[data-state="4"] {
  left: 27.2%;
}

.oxygen_scale_item[data-val="5"] {
  left: 34%;
}

#oxygen_map #tracker_o[data-state="5"] {
  left: 34%;
}

.oxygen_scale_item[data-val="6"] {
  left: 40.8%;
}

#oxygen_map #tracker_o[data-state="6"] {
  left: 40.8%;
}

.oxygen_scale_item[data-val="7"] {
  left: 47.6%;
}

#oxygen_map #tracker_o[data-state="7"] {
  left: 47.6%;
}

.oxygen_scale_item[data-val="8"] {
  left: 54.4%;
}

#oxygen_map #tracker_o[data-state="8"] {
  left: 54.4%;
}

.oxygen_scale_item[data-val="9"] {
  left: 61.2%;
}

#oxygen_map #tracker_o[data-state="9"] {
  left: 61.2%;
}

.oxygen_scale_item[data-val="10"] {
  left: 68%;
}

#oxygen_map #tracker_o[data-state="10"] {
  left: 68%;
}

.oxygen_scale_item[data-val="11"] {
  left: 74.8%;
}

#oxygen_map #tracker_o[data-state="11"] {
  left: 74.8%;
}

.oxygen_scale_item[data-val="12"] {
  left: 81.6%;
}

#oxygen_map #tracker_o[data-state="12"] {
  left: 81.6%;
}

.oxygen_scale_item[data-val="13"] {
  left: 88.4%;
}

#oxygen_map #tracker_o[data-state="13"] {
  left: 88.4%;
}

.oxygen_scale_item[data-val="14"] {
  left: 95.2%;
}

#oxygen_map #tracker_o[data-state="14"] {
  left: 95.2%;
}

.miniboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  --resourcesize:30px;
}

.miniboard > * {
  display: flex;
  width: 55px;
  justify-content: normal;
  align-items: center;
  font-weight: bold;
  order: 99;
}

.token_img {
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  width: var(--resourcesize);
  height: var(--resourcesize);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 4px;
}

.playerboard_produce .token_img {
  width: var(--producesize);
  height: var(--producesize);
}

.outer_tracker {
  /* border: 1px solid; */
}

.outer_tracker_m {
  order: 0;
}

.outer_tracker_pm {
  order: 1;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_s {
  order: 2;
}

.outer_tracker_ps {
  order: 3;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_u {
  order: 4;
}

.outer_tracker_pu {
  order: 5;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_p {
  order: 6;
}

.outer_tracker_pp {
  order: 7;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_e {
  order: 8;
}

.outer_tracker_pe {
  order: 9;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_h {
  order: 10;
}

.outer_tracker_ph {
  order: 11;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_tr {
  order: 12;
}

.token_img.tracker_p {
  background-position: 0 0;
}

.token_img.tracker_h {
  background-position: -200% 0;
}

.token_img.tracker_m {
  background-position: -300% 0;
}

.token_img.tracker_e {
  background-position: -500% 0;
}

.token_img.tracker_s {
  background-position: -700% 0;
}

.token_img.tracker_u {
  background-position: -800% 0;
}

.token_img.tracker_pp {
  background-position: 0 0;
}

.token_img.tracker_ph {
  background-position: -200% 0;
}

.token_img.tracker_pm {
  background-position: -300% 0;
}

.token_img.tracker_pe {
  background-position: -500% 0;
}

.token_img.tracker_ps {
  background-position: -700% 0;
}

.token_img.tracker_pu {
  background-position: -800% 0;
}

.token_img.tracker_tr {
  background-position: -900% 0;
}

.token_img.tracker_passed {
  background-image: revert;
  background-size: revert;
  background-origin: revert;
}

.token_img.tracker_passed::after {
  content: "[P]";
}

.tracker_passed[data-state="0"]::after {
  content: "☐";
}

.tracker_passed[data-state="1"]::after {
  content: "☑";
}

/*
.tracker_pm::before {
  content: "prod MC ";
}

.tracker_m::before {
  content: "MC ";
}

.tracker_passed::before {
  content: "Passed ";
}*/
#ebd-body {
  /* --pb_cellsize:8vh; */
  --pb_cellsize:4.5em;
}

.player_area {
  border: 0.4vh solid var(--plcolor);
  position: relative;
  border-radius: 1vh;
}

.playerboard {
  position: relative;
  width: 100%;
  height: fit-content;
  display: flex;
  --resourcesize: 2em;
  --producesize: 1.6em;
  font-family: "Prototype";
  flex-wrap: wrap;
}

.playerboard_group {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}

.playerboard_own {
  width: var(--pb_cellsize);
  height: calc(var(--pb_cellsize) * 0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mini .playerboard_own {
  width: calc(var(--pb_cellsize) * 0.8);
}

.playerboard_produce {
  width: var(--pb_cellsize);
  height: calc(var(--pb_cellsize) * 0.5);
  background-image: url("img/prodtexture.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.player_area .location {
  width: revert;
}

.mfull .player_area {
  max-width: 1024px;
}
.mfull #ebd-body {
  --map-width:40em; /* 75vh */
}
.mfull .tracker_tagCity {
  background-position-x: 0;
}
.mfull .tracker_tagEvent {
  background-position-x: -100%;
}
.mfull .tracker_tagEarth {
  background-position-x: -200%;
}
.mfull .tracker_tagEventAggro {
  background-position-x: -300%;
}
.mfull .tracker_tagPlant {
  background-position-x: -400%;
}
.mfull .tracker_tagSpace {
  background-position-x: -500%;
}
.mfull .tracker_tagJovian {
  background-position-x: -600%;
}
.mfull .tracker_tagScience {
  background-position-x: -700%;
}
.mfull .tracker_tagBuilding {
  background-position-x: -800%;
}
.mfull .tracker_tagEnergy {
  background-position-x: -900%;
}
.mfull .tracker_tagMicrobe {
  background-position-x: -1000%;
}
.mfull .tracker_tagAnimal {
  background-position-x: -1100%;
}

@font-face {
  font-family: "Prototype";
  src: url("img/Prototype.woff2") format("woff2"), url("img/Prototype.woff") format("woff"), url("img/Prototype.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
#ebd-body {
  --stan-width:12em; /* 25vh */
  --stan-height: calc(var(--stan-width)*0.3);
}

#thething {
  display: flex;
  flex-direction: column;
}

#main_area {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
}

#decks_area > * {
  display: inline-block;
}

.display_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
  padding: calc(var(--stan-width) * 0.07);
}

#decks_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40%;
}

/** hide cards in discard */
#discard_main > .card {
  position: absolute;
  opacity: 0;
}

/*
#discard_main > .card ~ .card {
  opacity: 0;
}
*/
.tracker::after, .param::after {
  content: attr(data-state);
}

#oceans_pile {
  position: relative;
  clip-path: revert;
}

#oceans_pile #tracker_w {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  background: black;
  color: white;
  width: calc(var(--stan-width) * 0.15);
  height: calc(var(--stan-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1%;
}

/** Temp markers */
#params {
  width: fit-content;
}

#params > * {
  display: inline-block;
  margin-right: 20px;
}

/* standard projects */
#display_main .card {
  width: var(--stan-width);
  height: var(--stan-height);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5019607843);
  font-size: calc(var(--stan-width) * 0.07);
  margin-bottom: calc(var(--stan-height) * 0.1);
}

.token.marker {
  width: 10px;
  height: 10px;
  outline: 1px dashed black;
}

.card .resource {
  width: 10px;
  height: 10px;
  outline: 1px dashed black;
}

#display_main .card .token_descr {
  display: none;
}

#display_main .card .token_rules {
  top: 55%;
}

#display_main .card .token_cost {
  top: 20%;
}

/* decks */
#decks_area .card {
  width: calc(var(--stan-width) * 0.4);
  height: calc(var(--stan-width) * 0.5);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.5019607843);
  font-size: calc(var(--stan-width) * 0.07);
  margin-bottom: calc(var(--stan-height) * 0.1);
}

#decks_area .milestone, #decks_area .award {
  width: calc(var(--stan-width) * 0.4);
  height: calc(var(--stan-width) * 0.5);
}

#deck_main {
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  background-position: 0 -100%;
  background-color: grey;
}

#discard_main {
  background-color: ghostwhite;
}

.carddeck .counter {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  background: black;
  color: white;
  width: calc(var(--stan-width) * 0.15);
  height: calc(var(--stan-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1%;
}

/* */
