.cardstack {
  --subcount: "0"; // overriden by js
  --outlinecolor: lightgray;
  --hlcolor: gray;

  transition: all 400ms ease-in;
  position: relative;
  user-select: none;
  flex: 0 0 auto;

  .stack_content_txt {
    position: relative;
    display: none;
    width: 100%;
  }

  .stack_content_txt::after {
    content: ": "var(--subcount);
  }

  .stack_sum.cards::after {
    content: var(--subcount);
    position: relative;
  }
  .stack_sum.cards {
    width: calc(var(--card-width)*0.15);
    height: calc(var(--card-width)*0.2);
    border-radius: 20%;
    background-color: var(--hlcolor);
    text-align: center;
  }

  .stack_header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stack_header_left {
      width: fit-content;
      padding: 3px;
      display: flex;
      align-items: center;
    }

    .stack_header_right {
      width: fit-content;
      padding: 3px;
      display: flex;
      align-items: center;
    }

    .stack_header_middle {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.mcompact {
  .cardstack {
    outline: 1px dashed var(--outlinecolor);
    border-radius: calc(var(--card-width) * 0.05);
    margin: calc(var(--card-width) * 0.02) calc(var(--card-width) * 0.09) calc(var(--card-width) * 0.08) calc(var(--card-width) * 0.01);

    .stack_header {
      border-radius: calc(var(--card-width) * 0.05);
      background-color: var(--outlinecolor);
    }


    .topline {
      display: flex;
      flex-direction: row;
      background-color: var(--outlinecolor);
      padding: calc(var(--card-width)*0.02);
      align-items: center;
    }

    .bottomline {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      /*height: calc(var(--card-width) * 0.25);*/
      align-items: center;
    }

    .stack_sum.cards {
      width: calc(var(--card-width)*0.15);
      height: calc(var(--card-width)*0.2);
      border-radius: 20%;
      outline: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--hlcolor);
      box-shadow: black 1px 1px 0px 1px;
    }

    .stack_label {
      /*margin-left: 1vh;*/
      font-size: calc(var(--card-height) * 0.07);
    }

    .stack_detail_txt {
      font-size: calc(var(--card-height) * 0.05);
      font-style: italic;
    }

    .stack_sum {
      display: none;
    }


    .stack_btn {
      width: calc(var(--card-width) * 0.16);
      height: calc(var(--card-width) * 0.16);
      font-size: calc(var(--card-width) * 0.1);
      border-radius: 50%;
      outline: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      background-color: var(--hlcolor);
      box-shadow: black 1px 1px 0px 1px;
    }

    .switchview {
      margin-right: calc(var(--card-width) * 0.02);
    }

    .popout {
      display: none;
    }

    .stack_content_txt {
      font-size: calc(var(--card-height) * 0.05);
      font-style: italic;
      color: white;
    }

  }
}
.cardstack.blue {
  --outlinecolor: #8699fa;
  --hlcolor: #c9ccee;
}
.cardstack.red {
  --outlinecolor: #ce6565;
  --hlcolor: #daa7a7;
}
.cardstack.green {
  --outlinecolor: #68d968;
  --hlcolor: #b7d7b7;
}


.stack_content {
  --overlap: 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-height: calc(var(--card-height) * (2.5 - var(--overlap)));
  position: relative;
  padding: calc(var(--card-width) * 0.03);
  // padding to offset margin-top + default padding
  padding-top: calc(var(--card-height) * var(--overlap) + var(--card-width) * 0.03);

  .card {
    margin-top: calc(var(--card-height) * var(--overlap) * -1);
  }
}

// hidden
.cardstack[data-currentview="0"] {
  height:calc(var(--card-width) * 0.5);
  .stack_content  .card {
      display: none;
  }
  .stack_content_txt {
    display: block;
  }
}

// synthetic
.cardstack[data-currentview="1"] .stack_content{
  .active_slot.card {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5019607843), 0px 0px 0px 2px #ff9800 !important;
    transform: none;
    top: 0px;
    left: 0px;
  }
}

// stack
.cardstack[data-currentview="2"] .stack_content {
  --overlap: 0.88;
}

.cardstack[data-currentview="2"].blue .stack_content {
  --overlap: 0.62;
}

// tiles
.cardstack[data-currentview="3"] .stack_content {
 row-gap: calc(var(--card-height) * 0.01);
}

.cardstack[data-currentview="2"].red,.cardstack[data-currentview="3"].red {
    .stack_content_txt {
      display: block;
      width: 100%;
    }
}

.mcompact {
  .player_controls {
    display: none;
  }
  .cardstack[data-currentview="1"] .stack_content{

    .card[data-card-type="2"] {
      background-color: #167abf;
    }
    .card[data-card-type="1"] {
      background-color: #43a31d;
    }
    .card[data-card-type="3"] {
      background-color: #ee750e;
    }

    .card {
     // height: calc(var(--card-height)*0.4);
    //  overflow: hidden;
      height:fit-content;
      margin-bottom: calc(var(--card-height)*0.03);
      padding-bottom: calc(var(--card-height) * 0.03);


      .card_decor {
        position: relative;
        display: flex;
        flex-direction: column;
        height: fit-content;
      }

      .card_outer_action {
        position: relative;
        top:0;
      }
      .card_action_bottomdecor,.card_action_text{
        display: none;
      }

      .card_resource_holder  {
        position: relative;
        margin-top: calc(var(--card-height) * 0.02);
        top:0;
      }
      .card_badges,.card_cost,.card_bg,.card_illustration,.card_effect,.card_prereq,.card_number,.card_number_binary {
        display: none;
      }

      .card_title{
        position: relative;
        top:0;

      }

      .card_vp {
        top: 0;
        right: 0;
        bottom:revert;
      }
      .card_vp.vp_custom {
        position: relative;
        margin-top: calc(var(--card-height) * 0.02);
        left: 37%;
      }
    }
  }
}

