/*card bg ratio : 1.40658174*/

#ebd-body {
  --card-width: 10vw; /* 18vh */
  --card-height: calc(var(--card-width)*1.40658174);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px #00000080;
  position: relative;
  --resourcesize: calc(var(--card-width) * 0.16);
  user-select: none;
}

.location .card {
  margin-right: 5px;
  position: relative;
}

.card[data-card-type="0"] {
  background-color: white;
  background-image:revert;

}
#discard_main{
  background-image:revert;
}

.card[data-card-type="1"] {
  background-color: lightgreen;
}
.card[data-card-type="2"] {
  background-color: lightblue;
}
.card[data-card-type="3"] {
  background-color: lightyellow;
}


/* effects face down */
.tableau .card[data-state="0"] {
   filter: grayscale(1);
}

.card_cost {
  font-family: "Prototype";
  position: absolute;
  top: 0%;
  width: calc(var(--card-width) * 0.16);
  height: calc(var(--card-width) * 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--card-width) * 0.09);
  /*
     width: calc(var(--card-width) * 0.2);
    height: calc(var(--card-width) * 0.2);
    background-color: gold;
    border: calc(var(--card-width) * 0.015) solid black;
    border-radius: calc(var(--card-width) * 0.08);
    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: -300% 0;
   */

}

#display_main  .token_cost {
  border-radius: calc(var(--card-width) * 0.08);
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  background-position: -300% 0;
}

.card_title{
  font-family: "Prototype";
  position: absolute;
  top: 11%;
  left: 4%;
  width: 92%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: calc(var(--card-width) * 0.06);
  overflow: hidden;
  height: 6%;
}

.card_title_inner{
  width: fit-content;
  white-space: nowrap;
}

.token_descr{
  position: absolute;
  top: 50%;
  font-size: calc(var(--card-width) * 0.07);
  width: 96%;
  padding: 2%;
  height: 38%;
  background-color: rgba(249, 249, 249, 0.84);
  display: none;
}

.card_effect{
  position: absolute;
  top: 70%;
  font-size: calc(var(--card-width) * 0.07);
  width: 96%;
  padding: 2%;
  height: 24%;
  background-color: rgba(249, 249, 249, 0.84);
}

.card_action{
  position: absolute;
  top: 18%;
  font-size: calc(var(--card-width) * 0.075);
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-wrap: anywhere;
  background-color: #80808040;
}

.card_number{
  position: absolute;
  top: 69%;
  right: 3%;
  font-size: calc(var(--card-width) * 0.04);
  font-family: "Prototype";
  padding: calc(var(--card-width) * 0.005);
}

.card_number_binary{
  position: absolute;
  top: 63.3%;
  left: 36%;
  width: 28%;
  display: flex;
  font-size: calc(var(--card-width) * 0.05);
  font-family: "Prototype";
  opacity: 0.3;
  justify-content: center;
}

.card[data-card-type="2"] {
  .card_number_binary {
    top: 74.2%;
  }
  .card_number {
    top: 74.2%;
  }
}

.card[data-card-type="3"] {
    .card_number_binary {
      top: 61.2%;
    }
    .card_number {
      top: 63.5%;
    }
}

.card_tt {
  font-size: calc(var(--card-width) * 0.055);
  font-family: sans-serif;
  font-style: italic;
}

.card_info_box{
  display: none;
}

.card_prereq{
  position: absolute;
  top: 2.7%;
  left: 21%;
  font-family: "Prototype";
  font-size: calc(var(--card-width) * 0.07);
  background: #f7d543;
}

.card_badges {
  display: flex;
  position: absolute;
  top:0;
  right: 0;
  flex-direction: row-reverse;
}

.card_vp{
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: -1300% 0;
  width: calc(var(--card-width) * 0.2);
  height: calc(var(--card-width) * 0.2);
  position: absolute;
  bottom: 3%;
  right: 3%;
  font-family: "Prototype";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.card .badge{
  width: calc(var(--card-width) * 0.15);
  height: calc(var(--card-width) * 0.15);
  background-image: url("img/badges.png");
  background-size: 1200% 100%;
}

.badge.tag_City{ background-position-x: 0;}
.badge.tag_Event{ background-position-x: -100%;}
.badge.tag_Earth{ background-position-x: -200%;}
.badge.tag_EventAggro{ background-position-x: -300%;}
.badge.tag_Plant{ background-position-x: -400%;}
.badge.tag_Space{ background-position-x: -500%;}
.badge.tag_Jovian{ background-position-x: -600%;}
.badge.tag_Science{ background-position-x: -700%;}
.badge.tag_Building{ background-position-x: -800%;}
.badge.tag_Energy{ background-position-x: -900%;}
.badge.tag_Microbe{ background-position-x: -1000%;}
.badge.tag_Animal{ background-position-x: -1100%;}

.card_bg{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/cards_bg.png");
  background-size: 300% 100%;
  border-radius: 5%;
}

.card[data-card-type="1"] .card_bg{
  background-position-x: 0;
}
.card[data-card-type="2"] .card_bg{
  background-position-x: -200%;
}
.card[data-card-type="3"] .card_bg{
  background-position-x: -100%;
}

.card_illustration{
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url("img/cards_illustrations.jpg");
  background-size: 1000% 2100%;
  top: 16%;
  border-radius: 5%;
}
@for $val from 1 through 250{
  $col : calc( $val - 1);
  $row:  floor(( calc( calc($val - 1) / 10)));

  .card_illustration.cardnum_#{$val}{
    background-position-x: $col % 10 *-100%;
    background-position-y: calc($row * -100%);
  }
}


.card.corp {
  width: var(--card-height);
  height: var(--card-width);

  .card_illustration {
    display: none;
  }
  .card_title {
    display: none;
  }
  .card_bg{
    background-image: url("img/corporations.jpg");
    background-size: 700% 200%;
  }
  .card_badges {
    display: none;
  }
  .card_cost {
    display: none;
  }
  .card_vp {
    display: none;
  }

  .card_action{
    display: none;
  }

  .card_number{
    display: none;
  }

  .card_initial{
    position: absolute;
    font-size: calc(var(--card-width) * 0.035);
  }
  .card_effect{
    background:revert;
    padding:revert;
    font-size: calc(var(--card-width) * 0.035);
  }
}
.card_corp_1 .card_bg{background-position: 0 0;}
.card_corp_2 .card_bg{background-position: -100% 0;}
.card_corp_3 .card_bg{background-position: -200% 0;}
.card_corp_4 .card_bg{background-position: -300% 0;}
.card_corp_5 .card_bg{background-position: -400% 0;}
.card_corp_6 .card_bg{background-position: -500% 0;}
.card_corp_7 .card_bg{background-position: -600% 0;}
.card_corp_9 .card_bg{background-position: 0 -100%;}
.card_corp_8 .card_bg{background-position: -100% -100%;}
.card_corp_10 .card_bg{background-position: -200% -100%;}
.card_corp_11 .card_bg{background-position: -300% -100%;}
.card_corp_12 .card_bg{background-position: -400% -100%;}
.card_corp_13 .card_bg{background-position: -500% -100%;}

.outer_production{
  background-image: url("img/prodtexture.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.token_img.temperature_icon {
  background-position: -200% -100%;
}
.token_img.draw_icon {
  background-position: 0 0;
}
.action_arrow {

  position: relative;
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  width: calc(var(--card-width) * 0.2);
  height: calc(var(--card-width) * 0.2);
  background-position: -300% 0;
}

/* corp specific */
.card_corp_1 {
  .card_title {
    display: flex;
  }
  .card_effect{
    left: 56%;
    top: 58%;
    width: 38%;
  }
  .card_initial {
    left: 6%;
    top: 66%;
    width: 47%;

  }
}
.card_corp_2 {
  .card_effect{
    left: 37%;
    top: 59%;
    width: 53%;
  }
  .card_initial {
    left: 6%;
    top: 66%;
    width: 29%;
  }
}
.card_corp_3 {
  .card_effect{
    left: 56%;
    top: 58%;
    width: 38%;
  }
  .card_initial {
    left: 6%;
    top: 66%;
    width: 47%;

  }
}
.card_corp_4 {
  .card_effect{
    left: 51%;
    top: 58%;
    width: 39%;
  }
  .card_initial {
    left: 5%;
    top: 66%;
    width: 47%;

  }
}

.card_corp_5 {
  .card_effect{
    left: 56%;
    top: 58%;
    width: 38%;
  }
  .card_initial {
    left: 6%;
    top: 66%;
    width: 47%;

  }
}

.card_corp_6 {
  .card_effect{
    left: 50%;
    top: 58%;
    width: 43%;
  }
  .card_initial {
    left: 6%;
    top: 65%;
    width: 42%;
  }
}

.card_corp_7 {
  .card_effect{
    top: 49%;
    width: 36%;
    height: 24%;
    left: 57%;
  }
  .card_initial {
    top: 70%;
    width: 89.5%;
    left: 6%;
  }
}


.card_corp_8 {
  .card_effect{
    top: 53%;
    width: 46%;
    height: 24%;
    left: 47%;
  }
  .card_initial {
    top: 58%;
    width: 38.5%;
    left: 6%;
  }
}

.card_corp_9 {
  .card_effect{
    top: 59%;
    width: 39%;
    height: 24%;
    left: 51%;
  }
  .card_initial {
    top: 63%;
    width: 42.5%;
    left: 6%;
  }
}
.card_corp_10 {
  .card_effect {
    top: 56%;
    width: 40%;
    height: 24%;
    left: 52%;
  }

  .card_initial {
    top: 66%;
    width: 44.5%;
    left: 6%;
  }
}

.card_corp_11 {
  .card_effect{
    top: 48%;
    width: 45%;
    height: 24%;
    left: 49%;
  }
  .card_initial {
    top: 72%;
    width: 86.5%;
    left: 6%;
  }
}
.card_corp_12 {
  .card_effect {
    top: 56%;
    width: 40%;
    height: 24%;
    left: 52%;
  }

  .card_initial {
    top: 70%;
    width: 44.5%;
    left: 6%;
  }
}
