.cardstack {
  --subcount: "0"; // overriden by js
  --outlinecolor: lightgray;
  --hlcolor: gray;

 /* transition: all 400ms ease-in;*/
  position: relative;
  user-select: none;
  flex: 0 0 auto;
  max-width: 100%;

  .stack_content_txt {
    position: relative;
    display: none;
    width: 100%;
  }

  .stack_content_txt::after {
    content: ": "var(--subcount);
  }

  .stack_sum.cards::after {
    content: var(--subcount);
    position: relative;
  }
  .stack_sum.cards {
    width: calc(var(--card-width)*0.15);
    height: calc(var(--card-width)*0.2);
    border-radius: 20%;
    background-color: var(--hlcolor);
    text-align: center;
  }

  .stack_header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .stack_header_left {
      width: fit-content;
      padding: 3px;
      display: flex;
      align-items: center;
    }

    .stack_header_right {
      width: fit-content;
      padding: 3px;
      display: flex;
      align-items: center;
    }

    .stack_header_middle {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
    }
  }
}

.mcompact {
  .tableautoprow{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .cardstack {
    outline: 1px dashed var(--outlinecolor);
    border-radius: calc(var(--card-width) * 0.05);
    margin: calc(var(--card-width) * 0.02) calc(var(--card-width) * 0.09) calc(var(--card-width) * 0.08) calc(var(--card-width) * 0.01);

    .stack_header {
      border-radius: calc(var(--card-width) * 0.05);
      background-color: var(--outlinecolor);
    }


    .topline {
      display: flex;
      flex-direction: row;
      background-color: var(--outlinecolor);
      padding-left: calc(var(--card-width)*0.02);
      align-items: center;
    }

    .bottomline {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      /*height: calc(var(--card-width) * 0.25);*/
      align-items: center;
    }

    .stack_sum.cards {
      width: calc(var(--card-width)*0.15);
      height: calc(var(--card-width)*0.18);
      border-radius: 20%;
      outline: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--hlcolor);
      box-shadow: black 1px 1px 0px 1px;
    }

    .stack_label {
      /*margin-left: 1vh;*/
      font-size: calc(var(--card-height) * 0.07);
    }

    .stack_detail_txt {
      font-size: calc(var(--card-height) * 0.05);
      font-style: italic;
    }

    .stack_sum {
      display: none;
    }


    .stack_btn {
      width: calc(var(--card-width) * 0.16);
      height: calc(var(--card-width) * 0.16);
      font-size: calc(var(--card-width) * 0.1);
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .stack_dd_buttons{
      .stack_btn {
        width: 98%;
      }
    }

    .switchview {
      margin-right: calc(var(--card-width) * 0.02);
    }
    .switchview:hover {
      color:  var(--outlinecolor);
      background-color: black;
    }

    .popout {
      display: none;
    }

    .stack_content_txt {
      font-size: calc(var(--card-height) * 0.05);
      font-style: italic;
      color: white;
      width: calc(var(--card-width) * 1);
    }

  }

  //small stack evrsion in header
  .tableautoprow .cardstack{
    .stack_header .stack_header_middle{
      display: none;
    }
    width: calc(var(--card-width) * 0.4);

    .stack_dd_buttons.open{
      right: revert;
    }
  }
}
.cardstack.blue {
  --outlinecolor: #8699fa;
  --hlcolor: #c9ccee;
}
.cardstack.red {
  --outlinecolor: #ce6565;
  --hlcolor: #daa7a7;
}
.cardstack.green {
  --outlinecolor: #68d968;
  --hlcolor: #b7d7b7;
}


.stack_content {
  --overlap: 0;
  --cards-in-stack: round(down,(1.5 / (1 - var(--overlap))) + 1, 1);
  --columns: round(up, calc(var(--subcount-n) / var(--cards-in-stack)),1);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  max-height: calc(var(--card-height) * (2.5 - var(--overlap)));
  min-width: calc(var(--card-width) * 1.03 * var(--columns));

  position: relative;
  padding: calc(var(--card-width) * 0.03);
  // padding to offset margin-top + default padding
  padding-top: calc(var(--card-height) * var(--overlap) + var(--card-width) * 0.03);

  .card {
    margin-top: calc(var(--card-height) * var(--overlap) * -1);
  }

  .prelude.card {
    margin-top: calc(var(--card-width) * var(--overlap) * -1 * 0.9);
  }
  .corp.card {
    margin-top: calc(var(--card-height) * (-1 * var(--overlap)));
    margin-bottom: calc(var(--card-width) - (1 - var(--overlap)) * var(--card-width));
  }
  
}

// hidden

.mcompact .cardstack[data-currentview="0"]  .stack_content{
  min-width: calc(var(--card-width) * 1.03);
}

.cardstack[data-currentview="0"] {
  height: calc(var(--card-width) * 0.2);
  
  .stack_content  .card {
      display: none;
  }
  .stack_content_txt {
    display: none;
  }
}

// synthetic
.cardstack[data-currentview="1"] .stack_content{
 // --columns: 1; // XXX cannot calculate properly
  min-width: calc(var(--card-width) * 1.03 * var(--columns-synth));
  .active_slot.card {
    box-shadow: 2px 2px 3px 3px rgba(0, 0, 0, 0.5019607843), 0px 0px 0px 3px #ff9800 !important;
    transform: none;
    top: 0px;
    left: 0px;
  }
}

// stack
.cardstack[data-currentview="2"] .stack_content {
  --overlap: 0.88;
}

.cardstack[data-currentview="2"].blue .stack_content {
  --overlap: 0.62;
}


// tiles
.cardstack[data-currentview="3"] .stack_content {
  row-gap: calc(var(--card-height) * 0.01);
  width: calc(var(--card-width) * 1.05 * var(--columns));
  min-width: revert;
  overflow: auto;
  max-width: 99.2%;
}

//stack for hq
.cardstack[data-currentview="2"] .stack_content.cards_4 {
  min-width: calc(var(--card-width) * 1.50 * var(--columns));
}


//tiles for hq
/*
.cardstack[data-currentview="3"] .stack_content.cards_4 {
  width: calc(var(--card-width) * 1.50 * var(--columns));
}*/


.cardstack[data-currentview="2"].red,.cardstack[data-currentview="3"].red {
    .stack_content_txt {
      display: block;
      width: calc(var(--card-width) * 1);
    }
}

.mcompact {
  .player_controls {
    display: none;
  }
  .cardstack[data-currentview="1"] .stack_content{

    .card[data-card-type="2"] {
      background-color: #167abf;
      outline: 1px solid #225375;;
    }
    .card[data-card-type="1"] {
      background-color: #43a31d;
      outline: 1px solid #c8e3bd;
    }
    .card[data-card-type="3"] {
      background-color: #ee750e;
      outline: 1px solid #ecc7a8;
    }
    .card[data-card-type="5"] {
      background-color: #91208b;
      outline: 1px solid #c936b8;
      width: var(--card-width);
    }
    .card[data-card-type="4"] {
      background-color: #ddd;
      outline: 1px solid gray;
      background-image: none;
      width: var(--card-width);

      .card_effect {
        display: block;
        position: relative;
        top: 0;
        left: 1%;
        width: 98%;
        height: auto;
        font-size: calc(var(--card-width) * 0.06);
        background-image: url("img/cards_bg_2_blue_action_texture.jpg");
        background-size: 100% 100%;
      }
    }
    .card {
     // height: calc(var(--card-height)*0.4);
    //  overflow: hidden;
      height:fit-content;
      margin-bottom: calc(var(--card-height)*0.03);
      padding-bottom: calc(var(--card-height) * 0.03);
      border-radius: 5px;

      .card_decor {
        position: relative;
        display: flex;
        flex-direction: column;
        height: fit-content;
      }

      .card_outer_action {
        position: relative;
        top:0;
      }
      .card_action_bottomdecor,.card_action_text{
        display: none;
      }

      .card_resource_holder  {
        position: relative;
        margin-top: calc(var(--card-height) * 0.02);
        top:0;
      }
      .card_badges,.card_cost,.card_bg,.card_illustration,.card_effect,.card_prereq,.card_number,.card_number_binary, .card_initial {
        display: none;
      }

      .card_title{
        position: relative;
        top:0;
        display: block;
      }

      .card_vp {
        top: 0;
        right: 0;
        bottom:revert;
      }
      .card_vp.vp_custom {
        position: relative;
        margin-top: calc(var(--card-height) * 0.02);
        left: 37%;
      }

    }
    .card[data-show_calc_vp="1"][data-vp]::after {
      right: 1%;
      bottom: 2%;
    }
  }
  .stack_dd_buttons_close {
    font-size: 1vh;
  }
}

.stack_dd_buttons{
  display: none;
  opacity: 0;
  transition: all 300ms ease-in;
}
.stack_dd_buttons.open{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  opacity: 1;

  width: calc(var(--card-width) * 1.06);
  right: 2%;
  top: 100%;
  background: white;
  height: fit-content;

 .stack_btn {
   width: calc(var(--card-width)*1.06);
   left: 1%;
   border-radius: 3%;
   margin-bottom: 2%;
   position: relative;

   .stack_ddl_icon {
     display: inline-block;
     width:10%;
   }
   .stack_ddl_label {
     display: inline-block;
     width: 80%;
     text-align: center;
   }
 }
  .stack_btn:hover {
    color:  var(--outlinecolor);
    background-color: black;
  }
}

.stack_dd_buttons_close {
  padding: 2px;
  cursor: pointer;
}

.stack_dd_buttons_close .fa {
  float: right;
}

.ma_selected_menu::after {
  content: "\f00c";
  font-family: FontAwesome;
  position: absolute;
  right: 10px;
}