/*card bg ratio : 1.40658174*/

#ebd-body {
  --card-width: calc(var(--localsetting_cardsize)*.15vh);
  --card-height: calc(var(--card-width)*1.40658174);
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px #00000080;
  position: relative;
  --resourcesize: calc(var(--card-width) * 0.16);
  //user-select: none;
}



.location .card {
  margin-right: 5px;
  position: relative;
}

.card[data-card-type="0"] {
  background-color: white;
  background-image: revert;

}

#discard_main {
  background-image: revert;
}

.card[data-card-type="1"] {
  background-color: var(--card-background-green);
}

.card[data-card-type="2"] {
  background-color: var(--card-background-blue);
}

.card[data-card-type="3"] {
  background-color: var(--card-background-event); // event
}

.card[data-card-type="5"],
.prelude {
  background-color: var(--card-background-prelude); // prelude
}

.prelude .card_illustration {
  background-image: unset;
}

.prelude .card_bg {
  background-image: unset;
}

.prelude .card_number_binary {
  display: none;
}

.card_cost {
  font-family: var(--mars-font);
  position: absolute;
  top: 1.1%;
  left: 1.3%;
  border-radius: calc(var(--card-width) * 0.02);
  width: calc(var(--card-width) * 0.14);
  height: calc(var(--card-width) * 0.14);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(var(--card-width) * 0.09);
}

.minidiscount.token_img {
  display: none;
  top: 138%;
  left: 4%;
  // z-index: 2;
  --resourcesize: calc(var(--card-width) * 0.14);
  color: #bef983;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  font-family: var(--mars-font);

}

.discountarrow {
  display: none;
  position: absolute;
  left: 27%;
  top: 90%;
  //z-index: 3;
  background: #bef983;
  border-radius: 50%;
  outline: calc(var(--card-width) * 0.01) solid #bef983;
  font-size: calc(var(--card-width) * 0.08);
}

.hand,
.draw,
.draft,
.tooltip-body {


  & .card_cost.discounted {
    // color: #bef983;
    // text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
    // outline: calc(var(--card-width) * 0.025) solid #bef983;

    .minidiscount {
      display: flex;
    }

    .discountarrow {
      display: block;
    }
  }

}

.card_title {
  font-family: var(--mars-font);
  position: absolute;
  top: 9.7%;
  left: 4%;
  width: 92%;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: calc(var(--card-width) * 0.067);
  overflow: hidden;
  height: 6%;
}

.card_title_inner {
  width: fit-content;
  white-space: nowrap;
}

.token_descr {
  position: absolute;
  top: 50%;
  font-size: calc(var(--card-width) * 0.07);
  width: 96%;
  padding: 2%;
  height: 38%;
  background-color: rgba(249, 249, 249, 0.84);
  display: none;
}

.card_effect {
  position: absolute;
  top: 68%;
  font-size: calc(var(--card-width) * 0.07);
  width: 91%;
  left: 3%;
  padding: 2%;
  height: 27%;
  /*background-color: rgba(249, 249, 249, 0.84);*/
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.card[data-card-type="3"] .card_effect {
  height: 30%;
  top: 65%;

}

.card[data-card-type="2"] .card_effect {
  height: 18%;
  top: 78%;

}

.card[data-card-type="2"] .card_hovertt .card_effect {
  height: revert;
  top: revert;
}

.card[data-card-type="3"] .card_hovertt .card_effect {
  height: revert;
  top: revert;
}

.card_effect.rows {
  flex-direction: column;

  .card_icono {
    height: 50%;
    padding-right: unset;
  }
}

.card_effect.oneline {
  flex-direction: column;
  top: 68%;
  height: 27%;

  .card_icono {
    height: 30%;
    padding-right: unset;
    margin-right: 1%;
  }
}

.blocks_2.oneline .card_tt {
  display: unset;
}

.blocks_2.oneline.hasvp .card_tt {
  width: 86%;
}

.groupline {
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px;
  font-family: 'SpaceFont';
}


.card_outer_action {
  position: absolute;
  top: 16%;
  font-size: calc(var(--card-width) * 0.075);
  width: 100%;
  display: flex;
  flex-direction: column;
  left: 2.8%;
  width: 94.7%;
  height: fit-content;
}

.card_action {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  flex-direction: column;
  background-image: url('img/cards_bg_2_blue_action_texture.jpg');
  background-size: 100% 100%;
  height: fit-content;
  padding-top: 3%;

  .outer_production {
    padding-left: calc(var(--card-width) * 0.03);
    padding-right: calc(var(--card-width) * 0.03);
  }
}

.card_action_line {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  height: fit-content;
  --resourcesize: calc(var(--card-width) * 0.12);

  .badge {
    width: calc(var(--card-width) * 0.12);
    height: calc(var(--card-width) * 0.12);
  }
}

.card_action_text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  font-size: calc(var(--card-width) * 0.05);
  font-family: Georgia;
  font-style: italic;
  order: 1;
  overflow: hidden;
}


.card_action_bottomdecor {
  position: relative;
  width: 100%;
  background-image: url("img/cards_bg_2_blue_action_bottom.png");
  height: calc(var(--card-width) * 0.075);
  background-size: cover;
}

.card[data-card-type="1"] .card_outer_action {
  display: none;
}

.card[data-card-type="3"] .card_outer_action {
  display: none;
}








.card_number {
  position: absolute;
  top: 60%;
  right: 3%;
  font-size: calc(var(--card-width) * 0.04);
  font-family: var(--mars-font);
  padding: calc(var(--card-width) * 0.005);
  background: #c1c1c1;
  border: 1px solid black;
}

.card_number_binary {
  position: absolute;
  top: 62.3%;
  left: 36%;
  width: 28%;
  display: flex;
  font-size: calc(var(--card-width) * 0.05);
  font-family: var(--mars-font);
  opacity: 0.3;
  justify-content: center;
}

.card[data-card-type="2"] {
  .card_number_binary {
    top: 73.8%;
  }

  .card_number {
    top: 65.2%;
  }
}

.card[data-card-type="3"] {
  .card_number_binary {
    top: 60.5%;
  }

  .card_number {
    top: 56.5%;
  }
}

.card_icono {

  height: calc(var(--card-width) * 0.35);
  position: relative;
  padding-right: 4%;
  --resourcesize: calc(var(--card-width) * 0.12);
  height: 96%;
  flex-shrink: 0;
  text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px;
  font-family: 'SpaceFont';

  .tile {
    width: calc(var(--card-width) * 0.15);
    height: calc(var(--card-width) * 0.16);
    position: relative;
    left: revert;
    top: revert;
    margin-left: calc(var(--card-width) * 0.01);
  }


  .tracker {
    background-image: url("img/icons.png");
    background-size: 1400% 200%;
    width: calc(var(--card-width) * 0.15);
    height: calc(var(--card-width) * 0.15);
  }

  .token_img.tracker_w {
    width: calc(var(--card-width) * 0.15);
    height: calc(var(--card-width) * 0.15);
  }

  .plusminus {
    width: calc(var(--card-width) * 0.06);
    display: flex;
    justify-content: center;

    height: unset;
    position: unset;
    top: unset;
  }

  .outer_production {
    background-size: cover;
    flex-direction: column;
    padding-bottom: calc(var(--card-width) * 0.03);
    padding-top: calc(var(--card-width) * 0.03);
    height: fit-content;
    align-items: flex-start;

    .outer_production {
      background-image: unset;
      display: unset;
      justify-content: unset;
      align-items: unset;
      background-size: unset;
      height: unset;
      flex-direction: unset;
      padding: unset;
    }
  }

  .outer_gains {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
  }

  .card .token_img {
    margin-right: calc(var(--card-width) * 0.01);
  }

  .outer_redborder {
    /*
    width: calc(var(--card-width) * 0.15);
    height: calc(var(--card-width) * 0.15);*/
    width: var(--resourcesize);
    height: var(--resourcesize);

    .token_img {
      margin-right: 0;
      width: calc(var(--resourcesize) * 0.85);
      height: calc(var(--resourcesize) * 0.85);
    }

  }

  .outer_redborder.redborder_hex {
    width: calc(var(--card-width) * 0.18);
    height: calc(var(--card-width) * 0.18);
    --resourcesize: calc(var(--card-width) * 0.16);

    .tile {
      margin-left: 0;
    }

    .token_img {
      margin-right: 0;
      width: calc(var(--card-width) * 0.15);
      height: calc(var(--card-width) * 0.15);
    }

    .tracker {
      position: relative;
    }
  }

  .breaker {
    flex-basis: 100%;
    height: 0;
  }


  .resource_exponent {
    display: flex;
    font-size: calc(var(--card-width) * 0.05);
    text-shadow: none;
    position: absolute;
    width: fit-content;
    --resourcesize: calc(var(--card-width) * 0.05);
    right: -42%;
    top: -27%;
  }

  .badge {
    width: calc(var(--card-width) * 0.13);
    height: calc(var(--card-width) * 0.13);
  }

  &.icono_prod {
    position: relative;
    display: flex;
    align-items: center;
  }

  &.icono_gains {
    min-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.icono_losses {
    min-width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}





.card_action {
  .card_icono.icono_losses {
    min-width: unset;
  }

  .card_icono {
    padding-right: 0;
  }
}


.effect_separator {
  margin-left: calc(var(--card-width) * 0.03);
  margin-right: calc(var(--card-width) * 0.03);
  font-size: calc(var(--card-width) * 0.09);
  font-family: 'Protoype';
  font-weight: bolder;
}

.card_tt {
  font-size: calc(var(--card-width) * 0.05);
  font-family: Georgia;
  font-style: italic;
  order: 1;
  overflow: hidden;

}

.blocks_2 .card_tt {
  // have to fit urbanized area text
  font-size: calc(var(--card-width) * 0.04);
}

.blocks_3 .card_tt {
  display: none;
}

.rows.hasvp .card_tt {
  width: 86%;
}

.production_line {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: calc(var(--card-width) * 0.02);
  padding-left: calc(var(--card-width) * 0.03);

}

.card_info_box {
  display: none;
}

.card_prereq {
  position: absolute;
  top: 2.8%;
  left: 21%;
  font-family: var(--mars-font);
  font-size: calc(var(--card-width) * 0.065);
  /*background: #f7d543;*/
  height: 6.2%;
  --resourcesize: calc(var(--card-width) * 0.08);
  display: flex;
  align-items: center;
  padding-right: calc(var(--card-width) * 0.01);

}

.card[data-invalid_prereq="1"] .card_prereq::after {
  content: "🚫";
  color: red;
  font-weight: bold;
  font-family: Roboto, Arial, Noto;
}

.card[data-invalid_prereq="1"] .card_tt_prereq {
  color: red;
}

.card[data-invalid_prereq="1"] .card_tt_prereq::before {
  content: "🚫";
  color: red;
  font-family: Roboto, Arial, Noto;
}

.prereq_content {

  display: flex;
  width: fit-content;
  min-width: calc(var(--card-width) * 0.22);
  padding-left: calc(var(--card-width) * 0.01);
  background: radial-gradient(circle, rgb(255, 232, 10) 0%, rgb(231, 164, 3) 100%);
  align-items: center;
  height: calc(var(--card-width) * 0.09);

  .token_img {
    margin-right: 0;
  }

  .badge {
    margin-left: calc(var(--card-width) * 0.01);
  }

  .tile {
    width: calc(var(--card-width) * 0.08);
    height: calc(var(--card-width) * 0.08);
    position: relative;
    left: revert;
    top: revert;
    margin-left: calc(var(--card-width) * 0.01);
  }

  .tracker {
    background-image: url("img/icons.png");
    background-size: 1400% 200%;
    width: calc(var(--card-width) * 0.08);
    height: calc(var(--card-width) * 0.08);
    position: relative;
    left: revert;
    top: revert;
    margin-left: calc(var(--card-width) * 0.01);
  }

  .outer_production {
    width: calc(var(--card-width) * 0.1);
    height: calc(var(--card-width) * 0.1);

    .token_img {
      width: calc(var(--card-width) * 0.07);
      height: calc(var(--card-width) * 0.07);
    }
  }

  .outer_redborder {
    width: calc(var(--card-width) * 0.09);
    height: calc(var(--card-width) * 0.095);
  }
}

.card_prereq:empty {
  padding-right: revert;
}

.card_badges {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  flex-direction: row-reverse;
}



.card>* {
  pointer-events: none;
}

.card .prereq_content>.outer_production {
  display: flex;
}

.prereq_content.mode_max {
  background: radial-gradient(circle, rgba(255, 195, 10, 1) 0%, rgba(255, 89, 0, 1) 100%);
}


.card .prereq_content .badge {
  width: calc(var(--card-width) * 0.09);
  height: calc(var(--card-width) * 0.09);
}

.card_vp {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: -1300% 0;
  width: calc(var(--card-width) * 0.15);
  height: calc(var(--card-width) * 0.15);
  position: absolute;
  bottom: 1%;
  right: 1%;
  font-family: var(--mars-font);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  font-size: calc(var(--card-width) * 0.10);
  text-shadow: #fbe571 0px 0px 2px, #fbe571 0px 0px 2px, #fbe571 0px 0px 2px, #fbe571 0px 0px 2px, #fbe571 0px 0px 2px, #fbe571 0px 0px 2px;
  color: black;

  .number_inside {
    top: -5%;
    position: relative;
  }
}

.card_vp.vp_custom {
  width: calc(var(--card-width) * 0.25);
  height: calc(var(--card-width) * 0.25);
  font-size: calc(var(--card-width) * 0.08);
  --resourcesize: calc(var(--card-width) * 0.08);
  flex-wrap: nowrap;

  .badge {
    width: calc(var(--card-width) * 0.1);
    height: calc(var(--card-width) * 0.1);
  }

  .tracker {
    width: calc(var(--card-width) * 0.1);
    height: calc(var(--card-width) * 0.1);
  }
}

.card .badge {
  width: calc(var(--card-width) * 0.15);
  height: calc(var(--card-width) * 0.15);
  background-image: url("img/badges.png");
  background-size: 1300% 100%;
}

.badge.tag_City {
  background-position-x: 0;
}

.badge.tag_Event {
  background-position-x: -100%;
}

.badge.tag_Earth {
  background-position-x: -200%;
}

.badge.tag_EventAggro {
  background-position-x: -300%;
}

.badge.tag_Plant {
  background-position-x: -400%;
}

.badge.tag_Space {
  background-position-x: -500%;
}

.badge.tag_Jovian {
  background-position-x: -600%;
}

.badge.tag_Science {
  background-position-x: -700%;
}

.badge.tag_Building {
  background-position-x: -800%;
}

.badge.tag_Energy {
  background-position-x: -900%;
}

.badge.tag_Microbe {
  background-position-x: -1000%;
}

.badge.tag_Animal {
  background-position-x: -1100%;
}

.badge.tag_Wild {
  background-position-x: -1200%;
}

.card_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("img/cards_bg.png");
  background-size: 300% 100%;
  border-radius: 5%;
}

.card[data-card-type="1"] .card_bg {
  background-position-x: 0;

}

.card[data-card-type="2"] .card_bg {
  background-position-x: -200%;

}

.card[data-card-type="3"] .card_bg {
  background-position-x: -100%;

}

.card_illustration {
  position: absolute;
  width: 96%;
  height: 50%;
  background-image: url("img/cards_illustrations.jpg");
  background-size: 1000% 2100%;
  top: 16%;
  left: 2%;
  border-radius: 5%;
}

@for $val from 1 through 250 {
  $col : calc($val - 1);
  $row: floor((calc(calc($val - 1) / 10)));

  .card_illustration.cardnum_#{$val} {
    background-position-x: $col % 10 *-100%;
    background-position-y: calc($row * -100%);
  }
}

.card[data-card-type="2"] .card_illustration {
  top: 28%;
}

.card.corp {
  width: var(--card-height);
  height: var(--card-width);

  .card_illustration {
    display: none;
  }

  .card_title {
    display: none;
  }

  .card_bg {
    background-image: url("img/corporations.jpg");
    background-size: 700% 200%;
  }

  .card_badges {
    display: none;
  }

  .card_cost {
    display: none;
  }

  .card_vp {
    display: none;
  }

  .card_action {
    display: none;
  }

  .card_outer_action {
    display: none;
  }

  .card_number {
    display: none;
  }

  .card_initial {
    position: absolute;
    font-size: calc(var(--card-width) * 0.038);
    font-family: Georgia;

    left: 6%;
    top: 66%;
    width: 35%;
  }

  .card_effect {
    background: revert;
    padding: revert;
    font-size: calc(var(--card-width) * 0.038);
    font-family: Georgia;

    left: 56%;
    top: 60%;
    width: 38%;
  }
}

.card_corp_1 .card_bg {
  background-position: 0 0;
}

.card_corp_2 .card_bg {
  background-position: -100% 0;
}

.card_corp_3 .card_bg {
  background-position: -200% 0;
}

.card_corp_4 .card_bg {
  background-position: -300% 0;
}

.card_corp_5 .card_bg {
  background-position: -400% 0;
}

.card_corp_6 .card_bg {
  background-position: -500% 0;
}

.card_corp_7 .card_bg {
  background-position: -600% 0;
}

.card_corp_9 .card_bg {
  background-position: 0 -100%;
}

.card_corp_8 .card_bg {
  background-position: -100% -100%;
}

.card_corp_10 .card_bg {
  background-position: -200% -100%;
}

.card_corp_11 .card_bg {
  background-position: -300% -100%;
}

.card_corp_12 .card_bg {
  background-position: -400% -100%;
}

.card_corp_13 .card_bg {
  background-position: -500% -100%;
}

.mcompact {
  @for $num from 19 through 23 {
    $i: $num - 19;
    $col: $i % 6;
    $row: calc(($i - $col) / 6);

    .card_corp_#{$num} .card_bg {
      background-position: calc(100% / 5 * $col) 0;
      background-image: url(img/prelude/preG_cardsC.jpg);
      background-size: 600%;


    }
  }

  // prelude

  @for $num from 1 through 35 {
    $i: $num - 1;
    $col: $i % 6;
    $row: calc(($i - $col) / 6);

    .card_prelude_P#{$num} .card_bg,
    .card_prelude_P0#{$num} .card_bg {
      background-position: calc(100% / 5 * $col) calc(100% / 5 * $row);
    }
  }

  .card.prelude {
    width: var(--card-height);
    height: var(--card-width);

    .card_decor {
      .card_bg {
        background-image: url("img/prelude/preG_cardsP.jpg");
        background-size: 600% auto;
      }

      .card_title {
        top: 15.5%;
        left: unset;
        width: 100%;
        height: unset;
      }
    }
  }


  .card.prelude {
    .card_decor {

      .card_illustration,
      .card_badges,
      .card_outer_action,
      .card_vp,
      .card_number_binary {
        visibility: hidden;
      }

      .card_cost {
        .number_inside {
          display: none;
        }
      }

      .card_effect {
        * {
          display: none;
        }

        .card_tt {
          display: block;
          position: absolute;
        }
      }

      .blocks_2 .card_tt {
        left: 35%;
      }

      .blocks_3 .card_tt {
        left: 50%;
      }

    }
  }

  // individual cards
  .card_prelude_P02 .card_tt {
    left: 53% !important;
  }

  .card_prelude_P03 .card_tt {
    left: 49% !important;
  }

  .card_prelude_P04 .card_tt {
    left: 50% !important;
  }

  .card_prelude_P05 .card_tt {
    left: 46% !important;
  }

  .card_prelude_P07 .card_tt {
    left: 50% !important;
  }

  .card_prelude_P13 .card_tt {
    left: 46% !important;
  }

  .card_prelude_P14 .card_tt {
    left: 46% !important;
  }

  .card_prelude_P18 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P19 .card_tt {
    left: 46% !important;
    top: 10%;
  }


  .card_prelude_P20 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P21 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P22 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P23 .card_tt {
    left: 53% !important;
  }

  .card_prelude_P24 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P25 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P27 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P31 .card_tt {
    left: 38% !important;
  }

  .card_prelude_P32 .card_tt {
    left: 48% !important;
  }

  .card_prelude_P35 .card_tt {
    left: 46% !important;
  }

  .card.prelude_main {
    .card_illustration {
      background-image: url("img/prelude/pre_illustrations.jpg");
      background-size: 700% 100%;
    }

  }

  .card_main_P36 .card_illustration {
    background-position-x: 0;
  }

  .card_main_P37 .card_illustration {
    background-position-x: -100%;
  }

  .card_main_P38 .card_illustration {
    background-position-x: -200%;
  }

  .card_main_P39 .card_illustration {
    background-position-x: -300%;
  }

  .card_main_P40 .card_illustration {
    background-position-x: -400%;
  }

  .card_main_P41 .card_illustration {
    background-position-x: -500%;
  }

  .card_main_P42 .card_illustration {
    background-position-x: -600%;
  }



  /*
  .card.prelude_main {
    .card_bg {
      background-image: url("img/prelude/preG_cards.jpg");
      background-size: 1000% auto;
    }

    .card_title {
      top: 11%;
    }

    .card_effect {
      width: 85%;
    }

    .card_prereq {
      top: 4%;
      font-size: calc(var(--card-width) * 0.055);
      .badge, .token_img {
        display: none;
      }

      .prereq_content {
        background: unset;
      }
    }

  }

  .card_main_P36 {
    .card_tt {
      left: 36% !important;
      top: 20% !important;
      width: 30%;
    }

    .card_bg {
      background-position: calc(100% / 9 * 0) 0;
    }
  }

  .card_main_P37 {
    .card_tt {
      left: 40% !important;
      top: 0% !important;
    }

    .card_bg {
      background-position: calc(100% / 9 * 1) 0;
    }
  }

  .card_main_P38 {
    .card_tt {
      left: 36% !important;
      width: 30%;
    }

    .card_bg {
      background-position: calc(100% / 9 * 2) 0;
    }
  }

  .card_main_P39 {
    .card_tt {
      left: 20% !important;
    }

    .card_bg {
      background-position: calc(100% / 9 * 3) 0;
    }
  }

  .card_main_P40 {
    .card_tt {
      left: 10% !important;
      top: 10% !important;
    }

    .card_bg {
      background-position: calc(100% / 9 * 4) 0;
    }
  }

  .card_main_P41 {
    .card_tt {
      left: 40% !important;
    }

    .card_bg {
      background-position: calc(100% / 9 * 5) 0;
    }
  }

  .card_main_P42 {
    .card_tt {
      left: 43% !important;
      top: 10% !important;
    }
    .card_prereq {
      display: none;
    }

    .card_bg {
      background-position: calc(100% / 9 * 6) 0;
    }
  }

   */

}

.outer_production {
  background-image: url("img/prodtexture.png");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: contain;
}

.outer_redborder {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer_redborder.redborder_hex {
  background-position: -1100% 0;
}

.outer_redborder.redborder_resource {
  background-position: -1000% 0;
}

.token_img.temperature_icon {
  background-position: -200% -100%;
}

.token_img.oxygen_icon {
  background-position: -100% -100%;
  clip-path: circle(48% at 51% 51%);
}

.token_img.draw_icon {
  background-position: 0 0;
}

.action_arrow {
  position: relative;
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  width: calc(var(--card-width) * 0.18);
  height: calc(var(--card-width) * 0.18);
  background-position: -300% 0;
  flex-shrink: 0;
}

/* corp specific */

.card.corp.card_corp_1 {
  .card_title {
    display: flex !important;
    top: 16.7%;
    left: 15%;
    width: 69%;
    height: 13%;
    font-size: calc(var(--card-width) * 0.08);
  }

  .card_effect {
    left: 56%;
    top: 58%;
    width: 38%;
  }

  .card_initial {
    left: 6%;
    top: 66%;
    width: 47%;

  }
}

.card.corp.card_corp_2 {
  .card_effect {
    left: 37%;
    top: 59%;
    width: 53%;
  }

  .card_initial {
    left: 6%;
    top: 66%;
    width: 29%;
  }
}

.card_corp_3 {
  .card_effect {
    left: 56%;
    top: 58%;
    width: 38%;
  }

  .card_initial {
    left: 6%;
    top: 66%;
    width: 47%;

  }
}

.card.corp.card_corp_4 {
  .card_effect {
    left: 51%;
    top: 58%;
    width: 39%;
  }

  .card_initial {
    left: 5%;
    top: 66%;
    width: 47%;

  }
}

.card.corp.card_corp_5 {
  .card_effect {
    left: 56%;
    top: 58%;
    width: 38%;
  }

  .card_initial {
    left: 6%;
    top: 66%;
    width: 47%;

  }
}

.card.corp.card_corp_6 {
  .card_effect {
    left: 50%;
    top: 58%;
    width: 43%;
  }

  .card_initial {
    left: 6%;
    top: 65%;
    width: 42%;
  }
}

.card.corp.card_corp_7 {
  .card_effect {
    top: 49%;
    width: 36%;
    height: 24%;
    left: 57%;
  }

  .card_initial {
    top: 70%;
    width: 89.5%;
    left: 6%;
  }
}


.card.corp.card_corp_8 {
  .card_effect {
    top: 53%;
    width: 46%;
    height: 24%;
    left: 47%;
  }

  .card_initial {
    top: 58%;
    width: 38.5%;
    left: 6%;
  }
}

.card.corp.card_corp_9 {
  .card_effect {
    top: 59%;
    width: 39%;
    height: 24%;
    left: 51%;
  }

  .card_initial {
    top: 63%;
    width: 42.5%;
    left: 6%;
  }
}

.card.corp.card_corp_10 {
  .card_effect {
    top: 56%;
    width: 40%;
    height: 24%;
    left: 52%;
  }

  .card_initial {
    top: 66%;
    width: 44.5%;
    left: 6%;
  }
}

.card.corp.card_corp_11 {
  .card_effect {
    top: 48%;
    width: 45%;
    height: 24%;
    left: 49%;
  }

  .card_initial {
    top: 72%;
    width: 86.5%;
    left: 6%;
  }
}

.card.corp.card_corp_12 {
  .card_effect {
    top: 53%;
    width: 49%;
    height: 24%;
    left: 43%;
  }

  .card_initial {
    top: 70%;
    width: 44.5%;
    left: 6%;
  }
}

.card.corp.card_corp_13 {
  .card_effect {
    top: 54%;
    width: 47%;
    height: 16%;
    left: 46%;
  }

  .card_initial {
    top: 26%;
    width: 44.5%;
    left: 44%;
  }
}

.card.corp.card_corp_22,
.card.corp.card_corp_23,
.card.corp.card_corp_21,
.card.corp.card_corp_19 {
  .card_initial {
    top: 62%;
    left: 6.5%;
    width: 37%;
  }

  .card_effect {
    top: 62%;
    left: 53%;
    width: 40%;
  }
}

.card.corp.card_corp_24 {
  .card_initial {
    top: 65%;
    width: 42%;
  }

  .card_effect {
    top: 60%;
    left: 50%;
    width: 42%;
  }
}

.card.corp.card_corp_25 {
  .card_initial {
    top: 62%;
    left: 6.5%;
    width: 37%;
  }

  .card_effect {
    top: 52%;
    left: 50%;
    width: 40%;
  }
}

.card.corp.card_corp_28 {
  .card_initial {
    top: 66%;
    left: 7%;
    width: 37%;
  }

  .card_effect {
    top: 66%;
    left: 50%;
    width: 40%;
  }
}



/* compact corp */
.corp_effect {

  .infobox {
    bottom: revert;
    left: 0;
    top: 0;
  }

  .card.corp.card_corp_1 .card_bg {
    background-position: 5% 34%;
    width: 260%;
    height: 260%;
  }

  #card_corp_2 .card_bg {
    background-position: -94% 38%;
    width: 184%;
    height: 264%;
  }

  #card_corp_3 .card_bg {
    background-position: -191% 35%;
    width: 252%;
    height: 268%;
  }

  #card_corp_4 .card_bg {
    background-position: -291.5% 38%;
    width: 254%;
    height: 286%;
  }

  #card_corp_5 .card_bg {
    background-position: -390.7% 39%;
    width: 271%;
    height: 318%;
  }

  #card_corp_6 .card_bg {
    background-position: -492% 37%;
    width: 220%;
    height: 260%
  }

  #card_corp_7 .card_bg {
    background-position: -591% 29%;
    width: 242%;
    height: 260%;
  }

  #card_corp_8 .card_bg {
    background-position: -91.5% -66%;
    width: 256%;
    height: 297%;
  }

  #card_corp_9 .card_bg {
    background-position: 8.5% -62%;
    width: 251%;
    height: 291%;
  }

  #card_corp_10 .card_bg {
    background-position: -191% -65%;
    width: 257%;
    height: 279%;

  }

  #card_corp_11 {
    width: calc(var(--card-width) * 1);
    background: white;

    .card_bg {

      background-position: -292% -87%;
      width: 161%;
      height: 260%;
      clip-path: inset(0% 66.80% 61.55% 0%);
    }

    .card_effect {
      left: 54%;
      top: 3%;
      width: 45%;
    }
  }

  #card_corp_12 .card_bg {
    background-position: -393% -65%;
    width: 200%;
    height: 269%;

  }

  #card_corp_13 .card_bg {
    background-position: -376% -68%;
    width: 204%;
    height: 269%;

  }
}

/*
.tableau,
.hand,
.draw,
.draft {
  .card:hover {
    z-index: 10;
    transform: scale(1.5);
    transition: all 500ms;
    transition-delay: 500ms;
  }
}
*/

/*
.corp_effect .card:hover {
  z-index: 10;
  transform: scale(3);
  transform-origin: left;
  transition: all 500ms;
  transition-delay: 500ms;

}
*/
//hover tooltip
.card_hovertt {
  opacity: 0;
  visibility: hidden;
  width: 96%;
  height: 96%;
  padding: 2%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  z-index: 8;
  border-radius: 5%;

  .token_title {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #d0c6b7a6;
    font-weight: lighter;
    font-size: calc(var(--card-width) * 0.08);
    font-family: var(--mars-font);
  }

  .tt_intertitle {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: calc(var(--card-width) * 0.07);
    font-family: var(--mars-font);
  }

  .tt_linegroup {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .card_number {
    position: relative;
    top: unset !important;
    right: unset;
    font-family: unset;
    font-size: calc(var(--card-width) * 0.06);
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
  }

  .card_cost {
    position: relative;
    font-size: calc(var(--card-width) * 0.07);
    background-image: url('img/resources.png');
    background-size: 1000% 200%;
    background-position: -300% 0;
  }

  .card_badges {
    position: relative;
    flex-direction: row;
  }

  .card_effect {
    position: relative;
    top: unset;
    width: unset;
    height: unset;
    left: unset;
    background-color: unset;
    font-size: calc(var(--card-width) * 0.07) !important;
  }

  .card_initial {
    position: relative !important;
    width: 100%;
    top: unset;
    left: 0;
    font-size: calc(var(--card-width) * 0.07) !important;
  }
}

/*
.card:hover .card_hovertt {
  animation: showme 300ms 1500ms ;
  animation-fill-mode: forwards;
}*/
.award:hover .card_hovertt {
  animation: showme 300ms 1500ms;
  animation-fill-mode: forwards;
}

.milestone:hover .card_hovertt {
  animation: showme 300ms 1500ms;
  animation-fill-mode: forwards;
}

#display_main .card_hovertt {
  width: fit-content;
  height: fit-content;
}

#map_bottom .card_hovertt {
  width: fit-content;
  height: fit-content;
}

.mcompact .corp_effect .card .card_hovertt {
  .token_title {
    font-size: calc(var(--card-width) * 0.04);
  }

  .tt_intertitle {
    font-size: calc(var(--card-width) * 0.04);
  }

  .card_initial {
    display: flex !important;
    font-size: calc(var(--card-width) * 0.04) !important;
  }

  .card_effect {
    top: unset;
    width: unset;
    height: unset;
    left: unset;
    font-size: calc(var(--card-width) * 0.04) !important;
  }
}

.cnt_media.undefined {
  color: red;
}

.corp_effect .card:hover .card_hovertt {
  animation: showmeinplace 300ms 1500ms;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}

#display_main .card:hover .card_hovertt {
  animation: showme 300ms 1000ms;
  animation-fill-mode: forwards;
}

.mcompact {
  .card .resource {
    width: calc(var(--card-width) * 0.08);
    height: calc(var(--card-width) * 0.08);
    margin-right: 2%;
  }

  .card_resource_holder {
    position: absolute;
    left: 42%;
    top: 0%;

    display: flex;
    justify-content: center;
    align-items: center;


    color: black;
    font-size: calc(var(--resourcesize) * 0.8);
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px;
    font-family: var(--mars-font);


    .tracker_res {
      width: calc(var(--resourcesize) * 0.8);
      height: calc(var(--resourcesize) * 0.8);
      border: 2px solid white;
      background-color: white;
      border-radius: 4px;
    }

    &::after {
      content: attr(data-resource_counter);
      margin-left: 100%;
    }

  }

  .card_resource_holder[data-resource_counter="0"] {
    display: none;
  }

  .card>.resource {
    display: none;
  }

  .before {
    visibility: hidden;
  }

  .after {
    position: absolute;
    right: calc(var(--card-width) * 0.05);
    top: calc(var(--card-width) * 0.08);
  }


  .card[data-show_calc_vp="1"][data-vp]::after {
    position: absolute;
    width: calc(var(--card-width) * 0.15);
    height: calc(var(--card-width) * 0.15);
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
    color: white;
    font-size: calc(var(--card-width) * 0.1);
    line-height: calc(var(--card-width) * 0.15);
    font-family: var(--mars-font);
    content: attr(data-vp);
    border-radius: 50%;
    outline: #e3cc4e 0.15em solid;
    outline-offset: -0.15em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    background-image: url("img/icons.png");
    background-size: 1400% 200%;
    background-position: -1300% 0;
    right: 6%;
    bottom: 14%;
  }
}


@for $num from 24 through 28 {
  $i: $num - 24;
  $col: $i;
  $row: 0;

  .mcompact .card.card_corp_#{$num} .card_bg {
    background-position: calc(100% / 5 * $col) 0%;
    background-image: url(img/colonies/colo_cards_corp_bg.jpg);
    background-size: auto 100%;
  }

  .mfull .card.card_corp_#{$num} {
    background-position: calc(100% / 5 * $col) 0%;
    background-image: url(img/colonies/colo_cardsC.jpg);
    background-size: auto 100%;
  }
}

.mfull .card.colo_main {
  background-image: url(img/colonies/colo_cards.jpg);
  background-size: 1000% auto;

  .card_decor>*:not(.card_resource_holder, .card_bg) {
    display: none;
  }
}

.mcompact .card.colo_main {
  &>.card_decor>.card_bg {
    background-image: url(img/colonies/colo_cards_main_bg.jpg);
    background-size: 1000% auto;
  }

  .card_number_binary,
  .card_number,
  .card_badges,
  .card_illustration,
  .card_vp {
    visibility: hidden;
  }

  .prereq_content {
    visibility: hidden;
  }

  .card_title {
    top: 11.8%;
  }

  .card_cost {
    &>.number_inside {
      visibility: hidden;
    }
  }

  .card_outer_action {
    height: 25%;
    left: 8%;
    width: 86%;
    font-size: calc(var(--card-width) * 0.065);

    &>.card_action {
      position: relative;
      background-image: unset;
      background-color: unset;
      display: block;
      height: 100%;
      text-align: center;

      &>.card_action_text {
        position: absolute;
        top: 64%;
      }

      &>.card_action_icono {
        display: none;
      }
    }

    &>.card_action_bottomdecor {
      visibility: hidden;
    }
  }



  .card_initial {
    position: absolute;
    font-size: calc(var(--card-width) * 0.038);
    font-family: Georgia;

  }

  .card_effect {
    background: revert;
    padding: revert;
    font-size: calc(var(--card-width) * 0.038);
    font-family: Georgia;
    display: block;
    left: 8%;
    width: 86%;

    &>.groupline {
      display: none;
    }

    &>.card_icono {
      display: none;
    }

  }
}


.mcompact .card.card_main_C01 .card_effect {
  left: 37%;
  width: 36%;
}

.mcompact .card.card_main_C02 .card_effect {
  top: 80%;
}

.mcompact .card.card_main_C03 .card_outer_action>.card_action>.card_action_text {
  top: 92%;
}

.mcompact .card.card_main_C03 .card_effect {
  left: 46%;
  width: 36%;
}

.mcompact .card.card_main_C04 .card_effect {
  width: 56%;
  top: 78%;
}

.mcompact .card.card_main_C05 .card_effect {
  width: 56%;
  top: 76%;
}

.mcompact .card.card_main_C06 .card_effect {
  left: 43%;
  width: 46%;
  top: 74%;
}

.mcompact .card.card_main_C08 .card_effect {
  width: 56%;
  top: 81%;
}

.mcompact .card.card_main_C09 .card_effect {
  left: 8%;
  width: 56%;
}

.mcompact .card.card_main_C10 .card_effect {
  top: 74%;
  left: 50%;
  width: 46%;
}

.mcompact .card.card_main_C11 .card_effect {
  top: 84%;
}


.mcompact .card.card_main_C13 .card_effect {
  top: 74%;
  width: 56%;
}

.mcompact .card.card_main_C14 .card_effect {
  left: 33%;
  width: 36%;
}

.mcompact .card.card_main_C15 .card_effect {
  top: 74%;
  left: 50%;
  width: 50%;
}

.mcompact .card.card_main_C16 .card_effect {
  top: 72%;
  left: 46%;
  width: 46%;
}

.mcompact .card.card_main_C17 .card_title {
  top: 13%;
  font-size: calc(var(--card-width) * 0.05);
}

.mcompact .card.card_main_C17 .card_effect {
  top: 79%;
  left: 40%;
  width: 56%;
}

.mcompact .card.card_main_C18 .card_effect {
  left: 8%;
  top: 74%;
  width: 68%;
}

.mcompact .card.card_main_C19 .card_outer_action>.card_action>.card_action_text {
  top: 100%;
}

.mcompact .card.card_main_C20 .card_effect {
  left: 33%;
  top: 74%;
  width: 60%;
}

.mcompact .card.card_main_C21 .card_effect {
  top: 74%;
}

.mcompact .card.card_main_C22 .card_effect {
  left: 50%;
  top: 72%;
  width: 40%;
}

.mcompact .card.card_main_C23 .card_effect {
  top: 80%;
}
.mcompact .card.card_main_C24 .card_outer_action>.card_action>.card_action_text {
  top: 108%;
}
.mcompact .card.card_main_C24 .card_effect {
  top: 84%;
}

.mcompact .card.card_main_C25 .card_effect {
  left: 50%;
  top: 72%;
  width: 40%;
}

.mcompact .card.card_main_C26 .card_effect {
  left: 50%;
  top: 72%;
  width: 40%;
}

.mcompact .card.card_main_C27 .card_effect {
  left: 46%;
  top: 62%;
  width: 50%;
}

.mcompact .card.card_main_C28 .card_effect {
  top: 78%;
  width: 70%;
}

.mcompact .card.card_main_C29 .card_effect {
  top: 78%;
  width: 60%;
}

.mcompact .card.card_main_C30 .card_effect {
  top: 74%;
}

.mcompact .card.card_main_C31 .card_effect {
  top: 78%;
  width: 60%;
}

.mcompact .card.card_main_C32 .card_outer_action>.card_action>.card_action_text {
  top: 105%;
}


.mcompact .card.card_main_C32 .card_effect {
  left: 36%;
  width: 40%;
}


.mcompact .card.card_main_C33 .card_outer_action>.card_action>.card_action_text {
  top: 86%;
}

.mcompact .card.card_main_C33 .card_effect {
  left: 8%;
  width: 60%;
}

.mcompact .card.card_main_C34 .card_effect {
  left: 40%;
  width: 50%;
}


.mcompact .card.card_main_C36 .card_effect {
  left: 30%;
}

.mcompact .card.card_main_C37 .card_effect {
  top: 80%;
  width: 70%;
}

.mcompact .card.card_main_C38 .card_effect {
  top: 80%;
  left: 40%;
  width: 50%;
}

.mcompact .card.card_main_C39 .card_effect {
  left: 40%;
  width: 50%;
}

.mcompact .card.card_main_C40 .card_effect {
  left: 8%;
  width: 80%;
}

.mcompact .card.card_main_C41 .card_outer_action>.card_action>.card_action_text {
  top: 83%;
}

.mcompact .card.card_main_C41 .card_effect {
  left: 40%;
  width: 50%;
}

.mcompact .card.card_main_C42 .card_effect {
  top: 70%;
  left: 30%;
  width: 40%;
}

.mcompact .card.card_main_C43 .card_outer_action>.card_action>.card_action_text {
  top: 105%;
}


.mcompact .card.card_main_C44 .card_outer_action>.card_action>.card_action_text {
  top: 108%;
}

.mcompact .card.card_main_C44 .card_effect {
  top: 74%;
  left: 40%;
  width: 36%;
}

.mcompact .card.card_main_C45 .card_outer_action>.card_action>.card_action_text {
  top: 105%;
}


.mcompact .card.card_main_C47 .card_effect {
  left: 40%;
  width: 50%;
}

.mcompact .card.card_main_C48 .card_effect {
  top: 80%;
  width: 86%;
}





@for $num from 1 through 49 {
  $i: $num - 1;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);
  $cnum: $num;

  @if $num < 10 {
    $cnum: "0#{$num}"
  }

  .mcompact .card.card_main_C#{$cnum} .card_bg {
    background-position-x: calc(100% / 9 * $col);
    background-position-y: calc(100% / 4 * $row);
  }

  .mfull .card.card_main_C#{$cnum} {
    background-position-x: calc(100% / 9 * $col);
    background-position-y: calc(100% / 4 * $row);
  }
}

@keyframes showme {
  0% {
    visibility: visible;
    transform: translateX(0);
    opacity: 0;

  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(100%);
  }
}

@keyframes showmeinplace {
  0% {
    visibility: visible;
    transform: translateY(-100%);
    opacity: 0;

  }

  100% {
    visibility: visible;
    opacity: 1;
    transform: translateX(0%);
  }
}