#generalactions{
  --resourcesize: 30px;

  .token_img {
    font-family: SpaceFont;
    margin-left: 5px;
  }

  .tracker_m{
    color:black;
  }
  .tracker_s{
    color:white;
    text-shadow: -1px 1px 0 #000,    1px 1px 0 #000,    1px -1px 0 #000,    -1px -1px 0 #000;
  }
  .tracker_u {
    color:white;
    text-shadow: -1px 1px 0 #000,    1px 1px 0 #000,    1px -1px 0 #000,    -1px -1px 0 #000;
  }

  .tracker_h {
    color:white;
    text-shadow: -1px 1px 0 #000,    1px 1px 0 #000,    1px -1px 0 #000,    -1px -1px 0 #000;
  }
}

#custom_paiement {
  display: inline-block;
  margin-left:10px;
  vertical-align: bottom;
  user-select: none;
}
.custom_paiement_inner {
  display: flex;
  align-items: center;
}

.payment_group{
  display: grid;
  grid-template-columns: 1fr 0.4fr 1fr 0.4fr;
  border-radius: 5px;
  margin-left: 4px;
  height: 30px;
  padding: 6px 12px;
  line-height: normal;
  margin-bottom: 2px;
  margin-top: 0;
  background: #e1e1e1;
  position: relative;

  .item_worth{
    position: absolute;
    display: flex;
    --resourcesize: 13px;
    bottom: 1%;
    left: 25%;

    .payment_item {
      font-size: 10px;
      font-weight: lighter;
    }
  }
}

.btn_payment_item{
  cursor: pointer;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  align-self: center;
  background: #000;
  color: white;
}

.payment_item_value{
  font-family: "SpaceFont";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

#btn_custompay_send {
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
  display: flex !important;
  align-items: center;
}