/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBody.scss
 *
 */

@import url(../../../css/csslayer.css);

#ebd-body {
  --mars-font: 'SpaceFont';
  --awards-font: 'Tangerine';
}

/* the other files */
@import "GameBasics";
@import "GameTokens";
@import "Cubes";
@import "Card";
@import "Card_specific";
@import "Map";
@import "MiniBoard";
@import "PlayerBoard";
@import "CustomPay";
@import "Tooltips";
@import "LocalSettings";
@import "ScoreSummary";
@import "VLayout";
@import "CardStack";
@import "Mobile";


/* latin */
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tangerine/v17/IurY6Y5j_oScZZow4VOxCZZM.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* thai */
@font-face {
  font-family: 'SpaceFont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr5mOBWzVaF5NQ.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'SpaceFont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr5mOBWoVaF5NQ.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'SpaceFont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr5mOBWpVaF5NQ.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'SpaceFont';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr5mOBWnVaE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*Lighter space font*/
/* latin */
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kanit/v15/nKKU-Go6G5tXcr4-ORWnVaE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
#ebd-body {
  background-image: url("img/space.jpg");
}

#thething {
  display: flex;
  flex-direction: column;
  font-family: var(--mars-font);
  position: relative;
}

#main_area {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 2vh;
  justify-content: center;
}

// map ordereding control by mapplacement local setting
#ebd-body #main_board {
  order: 3;
}

#ebd-body .thisplayer_zone {
  order: 1;
}

#ebd-body[data-localsetting_mapplacement=first] #main_board {
  order: 1;
}

#ebd-body[data-localsetting_mapplacement=first] .thisplayer_zone {
  order: 2;
}

#decks_area {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 10%;
  position: absolute;
  top: 0%;
  width: 22%;
}

.tracker::after, .param::after  {
  content: attr(data-state);
  pointer-events: none;
}

#alt_tracker_t {
  content: attr(data-sign) attr(data-state); // plus sign for temperature
}

.playerboard_produce {
  .tracker::after {
    content: attr(data-sign) attr(data-state);
  }
}


#oceans_pile {
  position: absolute;
  clip-path: revert;
  width: calc(var(--stan-width) * 0.309);
  height: calc(var(--stan-width) * 0.35);
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: top left;
}

#oceans_pile .tracker_w {
  /*
  position: absolute;
  top: -11%;
  left: -30%;
  font-size: calc(var(--stan-width) * 0.07);
  border: 1px solid white;
  background: black;
  color: white;
  width: calc(var(--stan-width) * 0.15);
  height: calc(var(--stan-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1%;*/
  font-size: calc(var(--stan-width) * 0.2);
  color: gold;
  background-image: unset;
}

#oceans_pile .tracker_w::after {
  content:attr(data-calc);
}

/** Temp markers */
#params {
  width: fit-content;
  display: none;
}
#params > * {
  display: inline-block;
  margin-right: 20px;
}




.card .resource {
  width: 10px;
  height: 10px;
  background-color: #e8a33d;
  position: relative;
  box-shadow: #0b0b0bad 2px 2px 3px 1px;
  margin-top: 3px;
}
.cards_2 > .card {
  display: inline-block;
}

#display_main .card .token_descr {
  display: none;
}

#display_main .card .token_rules {
  top: 55%;
}
#display_main .card .token_cost {
  top: 20%;
}

/* decks */
#decks_area .card {
  /*
  width: calc(var(--stan-width) * 0.3);
  height: calc(var(--stan-width) * 0.31);

  font-size: calc(var(--stan-width) * 0.07);*/
  width:0;
  height:0;
}
#decks_area .milestone,
#decks_area .award {
  width: calc(var(--stan-width) * 0.4);
  height: calc(var(--stan-width) * 0.5);
}


#deck_main {
  /*
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  background-position: 0 -100%;
  background-color: grey;

   */
}

.deck_line {

  color: white;
  font-family: var(--mars-font);
  display: flex;
  width: fit-content;
  font-size: calc(var(--stan-width)*0.12);

  .deck_line_text{
    margin-right:3%;
  }
  .carddeck > .counter {
    top: 0;
    left: 0;
    position: relative;
    margin-left: 10px;
  }

  .infobox {
    display: none;
  }
  #discard_main {
    background-color: unset;
  }
}



#discard_main {
  background-color: ghostwhite;
}

.carddeck .counter {
  /*
  position: absolute;
  top: -18%;
  left: -30%;
  border: 1px solid white;
  background: black;
  color: white;
  width: calc(var(--stan-width) * 0.15);
  height: calc(var(--stan-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1%;

   */
  position: relative;
}

/** hide cards in discard */
#discard_main > .card {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.tracker_tagCity {
  background-position-x: 0;
}
.tracker_tagEvent {
  background-position-x: -100%;
}
.tracker_tagEarth {
  background-position-x: -200%;
}
.tracker_tagEventAggro {
  background-position-x: -300%;
}
.tracker_tagPlant {
  background-position-x: -400%;
}
.tracker_tagSpace {
  background-position-x: -500%;
}
.tracker_tagJovian {
  background-position-x: -600%;
}
.tracker_tagScience {
  background-position-x: -700%;
}
.tracker_tagBuilding {
  background-position-x: -800%;
}
.tracker_tagEnergy {
  background-position-x: -900%;
}
.tracker_tagMicrobe {
  background-position-x: -1000%;
}
.tracker_tagAnimal {
  background-position-x: -1100%;
}

.thisplayer_zone {
  min-width: calc(var(--map-width) * 1);
  flex-grow: 100;
  order: 2;
}

#players_area {
  margin-top: 2vh;
}

#hand_area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}

.hand.location:empty {
  display: none;
}


.bgabutton.overpay {
  background: red;
}
.bgabutton.overpay:hover {
  background: red;
}

// show action of other players
.bgabutton.otherplayer::after {
  content: "";
  position: relative;
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background-color: var(--plcolor);
  outline: 1px solid white;
}

/*--------------- Floating hand -------------------- */
#hand_area_buttons{
  display: none;
}
#ebd-body[data-localsetting_handplace='floating'] {
  #hand_area {
    background-color: rgba(40,39,36,.78);
    border-right: 1px solid rgba(240, 248, 255, 0.39);
    border-top: 1px solid rgba(240, 248, 255, 0.39);
    border-top-right-radius: 8px;
    bottom: 0;
    box-shadow: 0 0 10px 1px #ff0;
    left: 0;
    position: fixed;
    transform: translateY(80%);
    transition: transform .8s;
    z-index: 1000;

    .hand_sorter{
      left:revert;
      left:5%;
    }
  }

  #hand_area_buttons{
    display: flex;
    justify-content: flex-start;
    left: 0;
    position: absolute;
    right: 0;
    transition: top .8s;
    z-index: 2;
    cursor: pointer;

    .icon_close{
      display: none;
    }
    .icon_hand{
      display: flex;
    }

    .icon_hand,.icon_close {
      align-items: center;
      font-size: 32px;
      height: 40px;
      justify-content: center;
      margin: 4px;
      width: 40px;
    }

    #hand_area_button_pop{
      background-color: gray;
      border: 1px solid #000;
      border-radius: 50%;
      box-shadow: 2px 2px 5px #000;
      cursor: pointer;
      margin: -38px 5px 0;
      transform: translateY(0);
      transition: transform .4s,margin .4s;
    }

    #hand_area_button_pop:hover {
      transform: translateY(-10px);
    }

  }
  #hand_area[data-open='1'] {

    transform: translateY(0);

    #hand_area_button_pop{

      .icon_close{
        display: flex;
      }
      .icon_hand {
        display: none;
      }
    }
  }
}
.bgabutton_orange {
  background-color: #b17300;
}
.bgabutton_targetcolor {
  background-color: #2196f3c7;
}
.bgabutton_purple {
  background-color: rgb(43, 15, 76);
}

.bgabutton.disabled {
  pointer-events: unset; // undo bga default
}

.bgabutton.disabled:hover {
	background-color: red;
}
.bgabutton.disabled:active {
	pointer-events: none; // prevent default click, but not hover
}

.innerbutton {
  display: flex;
  justify-content: center;
  align-items: center;

  .card_icono {
    text-shadow: revert;
  }

  .card_icono .outer_production{
    padding-bottom: 2px;
    padding-top: 2px;
    flex-direction:row;
  }

}

.bgabutton.gfx {
  padding:2px;
}

#page-title .innerbutton .token_img  {
  width: 26px;
  height: 26px;
  line-height: 26px;
}
/* --------------- Base Resource Images ---------- */

.tracker {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
}

.token_img > .tracker {
  background-image:  unset;
}

.tracker.micon {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
}
.tracker.badge {
  background-image: url("img/badges.png");
  background-size: 1200% 100%;
}


.tracker_resAnimal{
  background-position: -100% 0;
}
.tracker_resMicrobe{
  background-position: -400% 0;
}
.tracker_resFighter{
  background-position: -400% -100%;
}
.tracker_resScience{
  background-position: -600% 0;
}

.tracker_m, .tracker_s, .tracker_gen, .tracker_u, .tracker_p, .tracker_e, .tracker_h, .tracker_tr {
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
}

.tracker_pdelta {
  background-image: url('img/p_delta.jpg');
  background-size: contain;
}


.tracker_m {
  background-position: -300% 0;
}
.tracker_s{
  background-position: -700% 0;
}
.tracker_u {
  background-position: -800% 0;
}
.tracker_p{
  background-position: 0 0;
}
.tracker_e{
  background-position: -500% 0;
}
.tracker_h{
  background-position: -200% 0;
}
.tracker_pp{
  background-position: 0 0;
}
.tracker_ph{
  background-position: -200% 0;
}
.tracker_pm {
  background-position: -300% 0;
}
.tracker_pe{
  background-position: -500% 0;
}
.tracker_ps{
  background-position: -700% 0;
}
.tracker_pu {
  background-position: -800% 0;
}

.tracker_gen {
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  background-position: -700% -100%;
  clip-path: circle(48% at 51% 51%);
}

.tracker_tr {
  background-position: -900% 0;
}

.tracker_t{
  background-position: -200% -100%;
}
.tracker_o{
  background-position: -100% -100%;
}
.tracker_w{
  background-position: -600% -100%;
}

.tracker_ers{ 
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: 0 -100%; order:-2;
}
.tracker_eru{ 
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: -100% -100%;order:-1;
}

.tracker.tracker_city{ 
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: -700% 0;
}
.tracker.tracker_forest{ 
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: -300% -100%;
}
.tracker.tracker_land{ 
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  background-position: -200% -100%;
}

/*don't display for now*/
.tracker.tracker_cityonmars {
  display: none !important;
}

.starting_player{
  position: relative;
  width: 36px;
  height: 36px;
  background-image: url('img/resources.png');
  background-size: 1000% 200%;
  background-position: -500% -100%;
}

.starting_player::after{
  content: ""; // override tracker value
}


/* --------------- LOGS -------------------- */

.log .token_img {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 24px;
}
.log  {
  .tracker_pm, .tracker_ps, .tracker_pu, .tracker_pp, .tracker_pe, .tracker_ph {
    outline: 4px solid #b7915e;
    background-color: #b7915e;
    margin-left: 3px;
    margin-right: 3px;
  }
}

.log .token_img.tracker_pdelta {
  background-image: url('img/p_delta.jpg');
  width: 96px;
  background-size: contain;
}


#page-title .token_img, .head_infomsg_item .token_img {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 30px;
}

#page-title .item_worth .token_img {
  width: var(--resourcesize);
  height: var(--resourcesize);
  display: flex;
  vertical-align:revert;
  justify-content: center;
  line-height: revert;
}

.topbar_movefrom {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 0%;

}
#thething .topbar_movefrom{
  left: 50%;
  top:-42px;
}

.resmover {
  position: absolute;
  width: 30px;
  height: 30px;

  .token_img{
    width: 30px;
    height: 30px;
    vertical-align: middle;
    text-align: center;
  }
}

.marker_tr {
  position: absolute;
  top: unset;
}

.card_hl_preview{
  width: 100%;
  display: flex;
  justify-content: center;
  --card-width: 220px;
  --card-height: calc(var(--card-width)*1.40658174);
  align-items: flex-start;
  height: 50px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 200ms ease-in-out;
}

.card_hl_preview:hover {
  height: calc(var(--card-width)*1.40658174);
}

.card_hl_tt{
  text-decoration: underline;
  font-weight: bold;
  display: inline;
  text-transform: uppercase;
  cursor:help;
}

/** Card reference */

.allcards {
  width: 100%;
}
.expandablecontent {
  padding: 10px;
}
.expandablecontent_cards > *{
  display: inline-block;
  margin: 2px;
}
.expandable {
  border-radius: 10px;
  box-shadow: 0px 0px 4px 0px #555;
  background-color:     hsla(27, 28.6%, 13.7%, 0.11);

}


/*Sort*/
.hand_sorter{
  position: absolute;
  top: calc(var(--card-width) * -0.3);
  left: 0.5%;
  display: flex;
  flex-direction: row;
  background-color: rgba(151, 145, 145, 0.6);
  border-radius: 1vh;
  padding: 0.3vh;
  z-index: 1;
  width: calc(var(--card-width) * 0.8);
  height: calc(var(--card-width) * 0.2);
  justify-content: space-evenly;
  align-items: center;

  .hs_button {
    border: 1px solid black;
    font-size: calc(var(--card-width) * 0.11);
    width: calc(var(--card-width) * 0.15);
    height: calc(var(--card-width) * 0.18);
    overflow: hidden;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
  }

  .hs_picto{
    position: absolute;
    top: 5%;
    width: 100%;
    text-align: center;
  }

  .hs_direction{
    width: 100%;
    text-align: center;
    bottom: -20%;
    position: absolute;
  }

  .hs_button[data-direction=""] {
    .hs_direction::before {
      content:"";
    }
  }
  .hs_button[data-direction="increase"] {
    background-color: #eed17ad9;
    .hs_direction::before {
      content:"⮕";
    }
  }
  .hs_button[data-direction="decrease"] {
    background-color: #eed17ad9;
    .hs_direction::before {
      content:"⬅";
    }
  }
}

#ebd-body.mobile_version.touch-device #hs_button_hand_area_manual {
 display: none;
}

.hand_area[data-sort_type="cost"][data-sort_direction="increase"] {
  .handy {
    .card {
      order: var(--sort_cost);
    }
  }
}
.hand_area[data-sort_type="cost"][data-sort_direction="decrease"] {

    .card {
      order: calc(var(--sort_cost) * -1);
    }

}
.hand_area[data-sort_type="vp"][data-sort_direction="increase"] {
  .card{
    order:var(--sort_vp) ;
  }
}
.hand_area[data-sort_type="vp"][data-sort_direction="decrease"] {

    .card {
      order: calc(var(--sort_vp) * -1);
    }

}
.hand_area[data-sort_type="playable"][data-sort_direction="increase"] {

  .card{
    order:var(--sort_playable) ;
  }
}
.hand_area[data-sort_type="playable"][data-sort_direction="decrease"] {

    .card {
      order: calc(var(--sort_playable) * -1);
    }


}
.hand_area[data-sort_direction="increase"] {
  .card.corp {
    order:-100000
  }
}
.hand_area[data-sort_direction="decrease"] {
  .card.corp {
      order:100000
  }
}
.dragzone {
  position: relative;
  display: block;
  height: var(--card-height);
  width: calc(var(--card-width) *  0.0001);
  transition: all 100ms ease-out;
  transition-delay: 150ms;

}


.dragzone_inside {
  top: 0;
  height: 100%;
  position: absolute;
  z-index: 5;
  /*background-color: rgba(139, 69, 45, 0.37);*/
  width: calc(var(--card-width) * 1);
}

.dragzone_inside.dragleft{
  left: calc(var(--card-width) * -0.5);
}
.dragzone_inside.dragright{
  right: calc(var(--card-width) * -0.1);
  width: calc(var(--card-width)*0.5);
}

.dragzone.over {
  width: calc(var(--card-width)*0.8);
  outline: 2px dashed green;

  .dragzone_inside{
    left:0;
    right: 0;


  }
  .dragleft{
    left: calc(var(--card-width) * -0.35);
    width: calc(var(--card-width)*1.75);
  }
  .dragright{
    right: calc(var(--card-width) * -0.5);
    width: calc(var(--card-width)*1);
  }
}

.dragzone.outsideright.over{
  width: calc(var(--card-width)*0.5);
}

.drag-active {
  transition: 0.01s;
  transform: translateX(-9999px); // hmm?
  width: 0.1px;
  * {
    pointer-events: none;
  }
}
.drag_inpg {
  .dijitTooltip{
    display: none;
  }
  .handy{
    box-sizing: border-box;
  /* flex-wrap: nowrap;*/
  }
  #hand_area{
   /* flex-wrap: nowrap;*/

  }
  user-select: none; 
  touch-action: none;
}

/*
.handy.spaced {
  .card{
    margin-left:15%;
    margin-right: 15%;
    .dragleft{
      display: block;
      left: -15%;
      position: absolute;
      outline: 2px solid black;
      width: 15%;
      height: 100%;
    }
    .dragright{
      display: block;
      right: -15%;
      position: absolute;
      outline: 2px solid black;
      width: 15%;
      height: 100%;
    }
    .drag-active {
      margin-left:0;
      margin-right:0;
      .dragright{
        display: none;
      }
      .dragleft{
        display: none;
      }
    }

}*/