/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameTokens.scss
 *
 */

.location {
  position: relative;

}
.hand_area .location {
  background-color:  #ffffff99;
  border-radius: 1vh;
  padding: 10px 10px 10px  calc(var(--card-width)*0.2);
}

.hand, .draw, .draft {
  min-height: var(--card-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.draw, .draft  {
  min-height: unset;
}

.hand:after, .draw:after, .draft:after {
  position: absolute;
  top: 0.5em;
  left: 0;
  font-size:  calc(var(--card-width)*0.2);
  font-family: "SpaceFont";
  color: rgba(0, 0, 0, 0.34);
/*  transform: rotate(-90deg);
  transform-origin: bottom;*/


  transform: rotate(-90deg) translateX(-30px) translateY(-8px);
  transform-origin: .5em center 0;
  margin-right: -140px;
  overflow-wrap: break-word;
  height: calc(var(--card-width) * 0.2);
}

.hand:after{
  content: 'Hand';
}
.draw:after{
  content: 'Draw';
}
.draft:after{
  content: 'Draft';
}

.draw:empty,.draft:empty {
  display: none;
}
.draw:empty:after,.draft:empty:after {
  display: none;
}

.location > * {
  display: inline-block;
  position: relative;
}
.location > .counter {
  position: absolute;
  top: 0;
  left: 0;
}
.spectatorMode .hand {
  display: none;
}

.carddeck > .counter {
  position: absolute;
  top: 90%;
  left: calc(50% - 0.5em);
}

.active_slot {
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #64b4ff !important;
}
.active_slot.card:hover {
  cursor: pointer;
  box-shadow: unset;
  outline: 3px solid blue;
}

.marker {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: #0b0b0bad 2px 2px 3px 1px;
}

$colors-list:(
  _0000ff: #0000ff,
  _ff0000: #ff0000,
  _008000: #008000,
  _ffa500: #ffa500,
  _773300: #773300,
  _ffffff: #ffffff
);

@each $key,$val in $colors-list{
  .marker#{$key} {
    background-color: #{$val};
  }
  .color#{$key} {
    color: #{$val};
  }
  .plcolor#{$key} {
    --plcolor: #{$val};
  }
}
