/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBody.scss
 *
 */
/* the other files */
@import "GameBasics";
@import "GameTokens";
@import "Card";
@import "Map";
@import "MiniBoard";
@import "PlayerBoard";


@font-face {
  font-family: 'Prototype';
  src: url('img/Prototype.woff2') format('woff2'),
  url('img/Prototype.woff') format('woff'),
  url('img/Prototype.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



#ebd-body {
  --stan-width:12em; /* 25vh */
  --stan-height: calc(var(--stan-width)*0.3);
}


#thething {
  display: flex;
  flex-direction: column;
}

#main_area {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: row;

}

#decks_area > * {
  display: inline-block;
}



.display_main  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
  background-color: darkgray;
  width: fit-content;
  height: fit-content;
  padding: calc(var(--stan-width) * 0.07);

}
#decks_area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 40%;
}

.tracker::after, .param::after  {
  content: attr(data-state);
}

#oceans_pile {
  position: relative;
  clip-path: revert;
}

#oceans_pile #tracker_w {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  background: black;
  color: white;
  width: calc(var(--stan-width) * 0.15);
  height: calc(var(--stan-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1%;
}

/** Temp markers */
#params {
 width: fit-content;
}
#params > *{
  display: inline-block;
  margin-right: 20px;
}


/* standard projects */
#display_main .card {
  width: var(--stan-width);
  height: var(--stan-height);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px #00000080;
  font-size: calc(var(--stan-width) * 0.07);
  margin-bottom:calc(var(--stan-height) * 0.1); ;
}

.token.marker {
  width: 10px;
  height: 10px;
  outline: 1px dashed black;
}
.card .resource {
  width: 10px;
  height: 10px;
  outline: 1px dashed black;
}

#display_main .card .token_descr{
  display: none;
}

#display_main .card .token_rules {
  top:55%;
}
#display_main .card .token_cost {
  top: 20%;
}

/* decks */
#decks_area .card {
  width: calc(var(--stan-width) * 0.4);
  height: calc(var(--stan-width) * 0.5);
  /* border: black solid 1px; */
  border-radius: 5%;
  box-shadow: 2px 2px 3px 1px #00000080;
  font-size: calc(var(--stan-width) * 0.07);
  margin-bottom:calc(var(--stan-height) * 0.1); ;
}
#decks_area .milestone,#decks_area .award {
  width: calc(var(--stan-width) * 0.4);
  height: calc(var(--stan-width) * 0.5);
}

#deck_main{
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  background-position: 0 -100%;
 background-color: grey;
}
#discard_main{
  background-color: ghostwhite;
}

.carddeck .counter {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
  background: black;
  color: white;
  width: calc(var(--stan-width) * 0.15);
  height: calc(var(--stan-width) * 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1%;
}



/* */

