/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameTokens.scss
 *
 */

.location {
  display: block;
  width: 100%;
  position: relative;
}

.hand, .draw {
  min-height: var(--card-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}
.draw {
  min-height: unset;
}

.hand:after, .draw:after {
  position: absolute;
  top:0;
  Left:0;
  opacity: 0.2;
  font-size: xx-large;
  font-family: "Prototype";
}

.hand:after{
  content: 'Hand';
}
.draw:after{
  content: 'Draw';
}

.draw:empty {
  display: none;
}
.draw:empty:after {
  display: none;
}

.location > * {
  display: inline-block;
  position: relative;
}
.location > .counter {
  position: absolute;
  top: 0;
  left: 0;
}
.spectatorMode .hand {
  display: none;
}

.carddeck > .counter {
  position: absolute;
  top: 90%;
  left: calc(50% - 0.5em);
}

.active_slot {
  cursor: pointer;
  box-shadow: 0px 0px 4px 2px #64b4ff !important;
}
.active_slot.card:hover {
  cursor: pointer;
  box-shadow: unset;
  outline: 3px solid blue;
}

.marker {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: #0b0b0bad 2px 2px 3px 1px;
}

.marker_0000ff {
  background-color: #0000ff;
}
.marker_ff0000 {
  background-color: #ff0000;
}
.marker_008000 {
  background-color: #008000;
}
.marker_ffffff {
  background-color: #ffffff;
}