/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * testlav implementation : © Alena Laskavaia <laskava@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * GameBasics.scss
 *
 */

/* animation */

#oversurface {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  pointer-events: none;
  overflow: visible;
}

#oversurface > * {
  position: absolute;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /* background-color: blue; */
  transform-origin: center center;
}

.phantom {
  animation: pulse 500ms ease-in-out;
}

#page-title .bgabutton {
  -webkit-user-drag: none; // prevent dragging buttons on title
}

#page-title {
  min-height: 76px; // prevent jumping and resizing of header
}

#page-title.fixed-page-title {
  width: calc(100% - 10px) !important;
}

#page-title {
  display: block !important;
}

@keyframes pulse {
  0% {
    transform: scale(1) !important;
  }

  50% {
    transform: scale(1.2) !important;
  }

  100% {
    transform: scale(1) !important;
  }
}

.infobox {
  position: absolute !important;
  bottom: 0.2em;
  left: 0.2em;
  font-family: FontAwesome;
  font-size: x-large;
  width: 1em;
  height: 1em;
  opacity: 0.3;
}

.limbo {
  display: none;
  height: 0px;
  overflow: hidden;
}

#button_undo {
  float: right;
  background-color: red;
  background-image: none;
}

#ebd-body[data-maop="confturn"] #button_undo,
#ebd-body[data-maop="confnocards"] #button_undo,
#ebd-body[data-maop="confirm"] #button_undo,
#ebd-body[data-maop="t"] #button_undo,
#ebd-body[data-maop="o"] #button_undo,
#ebd-body[data-maop="w"] #button_undo {
  float: unset;
}

#button_rcss {
  float: right;
  background-color: rgb(255, 0, 251);
  background-image: none;
}

/* warning banner for message_warning */
.head_warning {
  background-color: #e6c66e;
}

.head_warning span {
  text-shadow: 0px 0px 2px black;
}

#gameaction_status_wrap[data-interface-status="updated"] .imgtext {
  visibility: hidden;
}
