#ebd-body {
  --map-width: 34vw;
  --map-height: calc(var(--map-width)*0.92);

  --stan-width:6.5vw; /* 25vh */
  --stan-height: calc(var(--stan-width)*0.3);
}

#map_middle{
  display: flex;
  width: calc(var(--map-width)*1.45);
  position: relative;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: flex-start;
  padding-top: 8%;
}

#main_board {
  display: flex;
  flex-direction: column;
}

#map_top{
  position: absolute;
  width: 100%;
  height: 20%;

}
#map_right{
  padding:1%;
  height: 96%;
}
#map_left{
  padding: 0.3%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 96%;
}


#map {
  position: relative;
  width: var(--map-width);
  height: var(--map-height);
}

.map_bg {
  background-image: url('img/map.png');
  width: var(--map-width);
  height:var(--map-height);
  background-size: contain;
  position: absolute;
}

.hex {
  width: calc(var(--map-width) * 0.109);
  height: calc(var(--map-width) * 0.118);
  border-radius: 30%;
  outline: 1px solid black;
  position: absolute;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 100ms ease-in-out;
}

@for $col from 1 through 9 {
  @for $row from 1 through 9 {
    .map_hexes #hex_#{$col}_#{$row} {
      left: 1% + ($col - 1) * 10.9% ;
      top: 1% + ($row - 1) * 10.3% ;
    }
  }
}

.hex.even{
  margin-left: calc(var(--map-width) * -0.0553);
}

.outer.hex {
/*  background-color: rgba(128, 128, 128, 0.66);*/
}

#hex_0_1 {
  left: 1%;
  top: 25%;
}
#hex_0_2 {
  left: 10%;
  top: 5%;
}

#hex_0_3 {
 /* left: 7%;
  top: 40%;*/
  top: 2%;
}

.hex_phobos {
  left: 6%;
  top: 13%;
  background-image: url("img/phobos.png");
  position: absolute;
  width: calc(var(--map-width) * 0.14);
  height: calc(var(--map-width) * 0.135);
  background-size: contain;
}

.hex_ganymede {
  position: absolute;
  left: 4%;
  top: 40%;
  background-image: url("img/ganymede.png");
  width: calc(var(--map-width) * 0.109);
  height: calc(var(--map-width) * 0.125);
  background-size: contain;
}



.hex:hover {
  background-color: rgba(255, 255, 0, 0.4);
}

.hex.active_slot {
  background-color: rgba(86, 207, 110, 0.4);
}
.hex.active_slot:hover {
  background-color: rgba(86, 207, 110);
}




.tile{
  width: calc(var(--map-width) * 0.109);
  height: calc(var(--map-width) * 0.118);
  background-image: url("img/tiles.png");
  background-size: 1000% 200%;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  left: -4%;
  top: -1%;
  position: absolute;
}

.tile.tile_2 {background-position: 0 0;}
.tile.tile_1 {background-position: -100% 0;}
.tile.tile_3 {background-position: -200% 0;}
.tile.tile_8 {background-position: -300% 0;}
.tile.tile_85 {background-position: -400% 0;}
.tile.tile_128 {background-position: -500% 0;}
.tile.tile_123 {background-position: -600% 0;}
.tile.tile_140 {background-position: -700% 0;}
.tile.tile_5 {background-position: -800% 0;}
.tile.tile_142 {background-position: -900% 0;}
.tile.tile_natural {background-position: 0 -100%;}
.tile.tile_97 {background-position: -100% -100%;}
.tile.tile_199 {background-position: -200% -100%;}

.tile .marker {
  outline: 1px dashed black;
  position: absolute;
  top: 42%;
  left: 40%;
  width: calc(var(--map-width) * 0.025);
  height: calc(var(--map-width) * 0.025);
}

#map_bottom{
  display: flex;
  width:100%;
}


#main_awards, #main_milestones{
  width: 48%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(135deg, rgba(51,51,51,1) 0%, rgba(225,225,225,1) 24%, rgba(158,158,158,1) 82%, rgba(225,225,225,1) 100%);
  padding: 0.3vh;
  border: 0.4vh solid #938989;
  width: fit-content;
  border-radius: 30% 30% 0 0;
}
.map_milesawardscontent{
  display: flex;
  flex-wrap: wrap;
}

.milestone, .award  {
  width: calc(var(--map-width) * 0.138);
  height: calc(var(--map-width) * 0.08);
  background-image: url("img/milestones_awards.png");
  background-size: 500% 200%;
  position: relative;
}

.award_1 {background-position:-200% 0; }
.award_2 {background-position:0 0; }
.award_3 {background-position:-100% 0; }
.award_4 {background-position:-300% 0; }
.award_5 {background-position:-400% 0; }

.milestone_1 {background-position:-0% -100%;}
.milestone_2 {background-position:-100% -100%;}
.milestone_3 {background-position:-200% -100%;}
.milestone_4 {background-position:-300% -100%;}
.milestone_5 {background-position:-400% -100%;}


.map_milesawardsheader{
  display: flex;
  justify-content: space-evenly;
}
.map_title {
  background-color: #EE6F10;
  padding: 0.3vh;
  border: 0.4vh solid #938989;
  width: fit-content;
  border-radius: 30% 30% 0 0;
  font-family: "Prototype";
}


#temperature_map {
  position: relative;
  height: 100%;
  width: calc(var(--map-width) * 0.157);
  background-image: url("img/temperature.png");
  background-size: cover;

//  border: 1px solid red;
 // background: linear-gradient(180deg, rgba(255,0,8,1) 0%, rgba(47,0,255,1) 75%, rgba(0,255,252,1) 100%);

}

.temperature_scale{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.temperature_scale_item{
  position: absolute;
  height: 4%;
  width: 100%;
  justify-content: center;
  display: none;
  align-items: center;

}
.temperature_scale_item::after{
  content: attr(data-val);
}

#temperature_map #tracker_t {
  position: absolute;
  height: 3%;
  width: 29%;
  box-shadow: #ffcb00 0px 0px 0px 3px;
  left: 42%;
  transition: 600ms all;

}
#temperature_map #tracker_t::after{
  content: revert;
}

#temperature_map #tracker_t[data-state="-30"] {
  bottom: 1%;
  height: 12%;
  width: 68%;
  left: 24%;
  border-radius: 50%;
}
#temperature_map #tracker_t[data-state="-28"] {  bottom: 12.8%; }
#temperature_map #tracker_t[data-state="-26"] {  bottom: 17.3%; }
#temperature_map #tracker_t[data-state="-24"] {  bottom: 21.8%; }
#temperature_map #tracker_t[data-state="-22"] {  bottom: 26.3%; }
#temperature_map #tracker_t[data-state="-20"] {  bottom: 30.8%; }
#temperature_map #tracker_t[data-state="-18"] {  bottom: 35.3%; }
#temperature_map #tracker_t[data-state="-16"] {  bottom: 39.8%; }
#temperature_map #tracker_t[data-state="-14"] {  bottom: 44.3%; }
#temperature_map #tracker_t[data-state="-12"] {  bottom: 48.8%; }
#temperature_map #tracker_t[data-state="-10"] {  bottom: 53.3%; }
#temperature_map #tracker_t[data-state="-8"] {  bottom: 57.8%; }
#temperature_map #tracker_t[data-state="-6"] {  bottom: 62.3%; }
#temperature_map #tracker_t[data-state="-4"] {  bottom: 66.8%; }
#temperature_map #tracker_t[data-state="-2"] {  bottom: 71.3%; }
#temperature_map #tracker_t[data-state="0"] {  bottom: 75.8%; }
#temperature_map #tracker_t[data-state="2"] {  bottom: 80.3%; }
#temperature_map #tracker_t[data-state="4"] {  bottom: 84.8%; }
#temperature_map #tracker_t[data-state="6"] {  bottom: 89.3%; }
#temperature_map #tracker_t[data-state="8"] {  bottom: 93.8%; }



#oxygen_map {
  /* gfx ratio : 0.2815315*/
  position: absolute;
  width: var(--map-width);
  height: calc(var(--map-width) * 0.2815315);
 /* border: 1px solid red;
  background: linear-gradient(90deg, rgb(180, 105, 0) 0%, rgb(238, 223, 120) 75%, rgba(0,255,252,1) 100%);*/
  background-image: url("img/oxygen.png");
  background-size: cover;
  top: -65%;
  pointer-events: none;
  left: 16.5%;
}

.oxygen_scale{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
}

.oxygen_scale_item{
  position: absolute;
  width: 4%;
  height: 14%;
  justify-content: center;
  display: flex;
  align-items: center;

}
.oxygen_scale_item::after{
 /* content: attr(data-val);*/
}

#oxygen_map #tracker_o {
  position: absolute;
  width: 4%;
  height: 14%;
  box-shadow: #ffcb00 0px 0px 0px 3px;
  border-radius: 50%;
  transition: 600ms all;
  padding: 0.3%;
}

#oxygen_map #tracker_o::after{
  content: revert;
}
.oxygen_scale_item[data-val="0"] {  left: 6%; top: 64%;}
.oxygen_scale_item[data-val="1"] {  left: 11%; top:51% }
.oxygen_scale_item[data-val="2"] {  left: 16.5%; top:36% }
.oxygen_scale_item[data-val="3"] {  left: 22%; top:26% }
.oxygen_scale_item[data-val="4"] {  left: 29%; top:17% }
.oxygen_scale_item[data-val="5"] {  left: 34.5%; top:11% }
.oxygen_scale_item[data-val="6"] {  left: 41%; top:7% }
.oxygen_scale_item[data-val="7"] {  left: 47.5%; top:6% }
.oxygen_scale_item[data-val="8"] {  left: 54%; top:7% }
.oxygen_scale_item[data-val="9"] {  left: 60%; top:11% }
.oxygen_scale_item[data-val="10"] {  left: 67%; top:17% }
.oxygen_scale_item[data-val="11"] {  left: 72.5%; top:24.5% }
.oxygen_scale_item[data-val="12"] {  left: 78.5%; top:35% }
.oxygen_scale_item[data-val="13"] {  left: 84%; top:48% }
.oxygen_scale_item[data-val="14"] {  left: 89.5%; top:63% }

#oxygen_map #tracker_o[data-state="0"] {  display:revert;opacity: 1;left: 6%; top: 64%;}
#oxygen_map #tracker_o[data-state="1"] {  left: 10.5%; top:50% }
#oxygen_map #tracker_o[data-state="2"] {  left: 16.5%; top:36% }
#oxygen_map #tracker_o[data-state="3"] {  left: 22%; top:25% }
#oxygen_map #tracker_o[data-state="4"] {  left: 28.5%; top:17% }
#oxygen_map #tracker_o[data-state="5"] {  left: 34.5%; top:11% }
#oxygen_map #tracker_o[data-state="6"] {  left: 40.7%; top:7% }
#oxygen_map #tracker_o[data-state="7"] {  left: 47%; top:5.5% }
#oxygen_map #tracker_o[data-state="8"] {  left: 53.5%; top:7% }
#oxygen_map #tracker_o[data-state="9"] {  left: 60%; top:10% }
#oxygen_map #tracker_o[data-state="10"] {  left: 66.5%; top:16% }
#oxygen_map #tracker_o[data-state="11"] {  left: 72%; top:24% }
#oxygen_map #tracker_o[data-state="12"] {  left: 78.3%; top:34% }
#oxygen_map #tracker_o[data-state="13"] {  left: 84%; top:46% }
#oxygen_map #tracker_o[data-state="14"] {  left: 89%; top:62% }

/*standard projects*/
#standard_projects_area{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: calc(var(--stan-width));
}

#display_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(135deg, rgba(51,51,51,1) 0%, rgba(225,225,225,1) 24%, rgba(158,158,158,1) 82%, rgba(225,225,225,1) 100%);
  border:calc(var(--stan-width) * 0.01) solid #938989;
  width: fit-content;

}


#display_main .card {
  border-radius:revert;
  box-shadow: revert;
  background: revert;
}

#standard_projects_title_zone {
  background: linear-gradient(135deg, rgba(51,51,51,1) 0%, rgba(225,225,225,1) 24%, rgba(158,158,158,1) 82%, rgba(225,225,225,1) 100%);
  width: calc(var(--stan-width) * 0.9);
  border-radius: 30% 30% 0 0;
  display: flex;
  justify-content: center;
  padding: calc(var(--stan-width) * 0.04);
}

.standard_projects_title{
  background: gold;
  width: fit-content;
  font-family: "Prototype";
  font-size: calc(var(--stan-width) * 0.08);
  border-radius: calc(var(--stan-width) * 0.08);
  padding: calc(var(--stan-width) * 0.01) calc(var(--stan-width) * 0.03);
  border: calc(var(--stan-width) * 0.01) solid black;
}

#counter_display_main {
  display: none;
}
#display_main .card_info_box{
  display: none;
}

.stanp_decor {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 130%;
}
.stanp_cost{
  position: relative;
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  width:  calc(var(--stan-width) * 0.2);
  height: calc(var(--stan-width) * 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: -900% 0;
  font-family: "Prototype";
  font-size: calc(var(--stan-width) * 0.1);
}

.stanp_arrow {
  position: relative;
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  width:  calc(var(--stan-width) * 0.2);
  height: calc(var(--stan-width) * 0.2);
  background-position: -300% 0;

}

.stanp_action{
  height: calc(var(--stan-width) * 0.25);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--stan-width) * 0.03);
  width: calc(var(--stan-width) * 0.3);
}

.stanp_decor .outer_production{
  width:  calc(var(--stan-width) * 0.25);
  height: calc(var(--stan-width) * 0.25);

}

.stanp_decor  {
  --resourcesize: calc(var(--stan-width) * 0.17);

  .token_img {
    margin-right: revert;
    font-family: "Prototype";
    font-size:calc(var(--resourcesize) * 0.6);
  }

  .tile {
    width:  calc(var(--stan-width) * 0.25);
    height: calc(var(--stan-width) * 0.25);
  }

  .tracker{
    position: relative;
    width: calc(var(--stan-width) * 0.25);
    height: calc(var(--stan-width) * 0.25);
    flex-shrink: 0;
    background-image: url("img/icons.png");
    background-size: 1400% 200%;
  }
}