.miniboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  --resourcesize:30px;
  --pb_cellsize: 75px;
}


.miniboard > * {
  display: flex;
  // width: 55px; // huh?
  justify-content: normal;
  align-items: center;
  font-weight: bold;
  order: 99;
}

.token_img {
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  width : var(--resourcesize);
  height:  var(--resourcesize);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

}

.player_boards .token_img {
  margin-right: 4px;
}

.playerboard_produce .token_img {
  width: var(--producesize);
  height: var(--producesize);
}

.outer_tracker_m{
  order: 0;
}
.outer_tracker_pm {
  order: 1;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_s{
  order: 2;
}
.outer_tracker_ps {
  order: 3;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_u{
  order: 4;
}
.outer_tracker_pu {
  order: 5;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_p {
  order: 6;
}
.outer_tracker_pp {
  order: 7;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_e{
  order: 8;
}
.outer_tracker_pe {
  order: 9;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_h{
  order: 10;
}
.outer_tracker_ph {
  order: 11;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_tr {
  order: 12;
}

.token_img.tracker_p{
  background-position: 0 0;
}
.token_img.tracker_resAnimal{
  background-position: -100% 0;
}
.token_img.tracker_h{
  background-position: -200% 0;
}
.token_img.tracker_m {
  background-position: -300% 0;
}
.token_img.tracker_resMicrobe{
  background-position: -400% 0;
}
.token_img.tracker_resFighter{
  background-position: -400% -100%;
}

.token_img.tracker_e{
  background-position: -500% 0;
}
.token_img.tracker_resScience{
  background-position: -600% 0;
}

.token_img.tracker_s{
  background-position: -700% 0;
}
.token_img.tracker_u {
  background-position: -800% 0;
}
.token_img.tracker_pp{
  background-position: 0 0;
}
.token_img.tracker_ph{
  background-position: -200% 0;
}
.token_img.tracker_pm {
  background-position: -300% 0;
}
.token_img.tracker_pe{
  background-position: -500% 0;
}
.token_img.tracker_ps{
  background-position: -700% 0;
}
.token_img.tracker_pu {
  background-position: -800% 0;
}
.token_img.tracker_tr {
  background-position: -900% 0;
}
.token_img.cardback {
  background-position: 0 -100%;
  background-color: black;
  width: calc(var(--resourcesize) * 0.78);
}

.token_img.tracker_t{
  background-position: -200% -100%;
}
.token_img.tracker_o{
  background-position: -100% -100%;
}
.token_img.tracker_w{
  background-position: -600% -100%;
}

.tracker_passed {
display: none;
}

.miniboard.style_2 {

  flex-direction: column;

  .playerboard_header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    --resourcesize: 35px;
    margin-top: 5px;
  }

  .playerboard_group{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: calc(var(--resourcesize) * 1);
    height: calc(var(--resourcesize) * 2);
    font-family: "Prototype";
    position: relative;
    font-size: calc(var(--resourcesize) * 0.55);
    font-weight: normal;
  }

  .playerboard_group_img{
    display: flex;
    align-items: center;
    grid-area: 1/1/1/1;

    .token_img{
      margin-right: 0;
      opacity: 0.7;

    }

  }

  .playerboard_own {
    position: absolute;
    width: 100%;
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px;
  }

  .playerboard_produce {
    grid-area: 2/1/2/1;
    width: 100%;
  }
}

.player_score_value {

  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  width: 24px;
  height: 24px;
  background-position: -1300% 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-family: "Prototype";
}


.player_score .fa-star {
  display: none;
}



.cardback.counter {
  color: white;
}

.miniboard {
  --pb_cellsize: 33px;
}

.miniboard_tags, .miniboard_entry{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: fit-content;
  position: relative;
  left: unset;
}

.miniboard_tags {
  margin-top: 20px;
}

.miniboard_entry {
  justify-content: space-between;
}


#ebd-body[data-localsetting_showbadges='false'] {
  .miniboard_tags {
    display: none;
  }
}

/*
 * Controls in the top bar
 */

#player_config {
	margin: 10px 0px; 
  #player_config_row {
    display: flex;
    justify-content: space-around;

    *:hover {
      opacity: 1;
    }
  }
  button {
    background-color: transparent;
  }
}

#show-settings:hover {
  animation: fa-spin 2s linear;
}

#settings-controls-container {
  position: relative;
  text-align: center;
  border-top: 1px solid gray;
  margin-top: 10px;

  .row-data {
    border: none;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid gray;
  }

  .row-data .row-label {
    width: 100%;
    float: none;
    color: black;
    padding-bottom: 0px;
    text-overflow: initial;
    white-space: normal;
    padding: 2px 4px 0px;
  }

  .row-data .row-value {
    width: 85%;
    margin: 0;
  }
}

.fp_holder{
  width: 36px; // has to be fixed size so layout does not change when 1st player marker dissapears
}


.mini_counter{
  position: relative;
  width: calc(var(--pb_cellsize) * 1);
  height: calc(var(--pb_cellsize) * 1);
}


.mini_counter::after {
  content: attr(data-state);
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: var(--pb_cellsize);
  text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
  color: white;
  font-size: calc(var(--pb_cellsize) * 0.4);
  font-family: 'Prototype';
}



.playerboard_header .player_tags {
    .badge {
      width: calc(var(--pb_cellsize) * 1);
      height: calc(var(--pb_cellsize) * 1);
      display: flex;
      grid-template-columns: unset;
      grid-column-start: unset;
      margin-right: unset;
      opacity: 0.8;
      position: absolute;
    }

    .tracker {
      width: calc(var(--pb_cellsize) * 1);
      height: calc(var(--pb_cellsize) * 1);
      display: flex;
      grid-template-columns: unset;
      grid-column-start: unset;
      margin-right: unset;
      opacity: 0.8;
      position: absolute;
    }
}

#settings-controls-container.settingsControlsHidden {
  display: none;
}

#player_board_params {
  display: flex;
  --resourcesize: 35px;
  justify-content: space-between;
  margin-top: 12px;
  padding-right: 1%;
  padding-left: 1%;

  .params_line{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .tile {
      width: var(--resourcesize);
      height: var(--resourcesize);
      position: relative;
    }
  }
}
