.miniboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  --resourcesize:30px;
  --pb_cellsize: 75px;
}


.miniboard > * {
  display: flex;
  width: 55px;
  justify-content: normal;
  align-items: center;
  font-weight: bold;
  order: 99;
}

.token_img {
  background-image: url("img/resources.png");
  background-size: 1000% 200%;
  width : var(--resourcesize);
  height:  var(--resourcesize);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-right: 4px;
}

.playerboard_produce .token_img {
  width: var(--producesize);
  height: var(--producesize);
}

.outer_tracker {
 /* border: 1px solid; */
}

.outer_tracker_m{
  order: 0;
}
.outer_tracker_pm {
  order: 1;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_s{
  order: 2;
}
.outer_tracker_ps {
  order: 3;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_u{
  order: 4;
}
.outer_tracker_pu {
  order: 5;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_p {
  order: 6;
}
.outer_tracker_pp {
  order: 7;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_e{
  order: 8;
}
.outer_tracker_pe {
  order: 9;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_h{
  order: 10;
}
.outer_tracker_ph {
  order: 11;
  background-color: rgba(232, 127, 44, 0.43);
}

.outer_tracker_tr {
  order: 12;
}

.token_img.tracker_p{
  background-position: 0 0;
}
.token_img.tracker_animal{
  background-position: -100% 0;
}
.token_img.tracker_h{
  background-position: -200% 0;
}
.token_img.tracker_m {
  background-position: -300% 0;
}
.token_img.tracker_microbe{
  background-position: -400% 0;
}

.token_img.tracker_e{
  background-position: -500% 0;
}
.token_img.resource_science{
  background-position: -600% 0;
}

.token_img.tracker_s{
  background-position: -700% 0;
}
.token_img.tracker_u {
  background-position: -800% 0;
}
.token_img.tracker_pp{
  background-position: 0 0;
}
.token_img.tracker_ph{
  background-position: -200% 0;
}
.token_img.tracker_pm {
  background-position: -300% 0;
}
.token_img.tracker_pe{
  background-position: -500% 0;
}
.token_img.tracker_ps{
  background-position: -700% 0;
}
.token_img.tracker_pu {
  background-position: -800% 0;
}
.token_img.tracker_tr {
  background-position: -900% 0;
}
.token_img.cardback {
  background-position: 0 -100%;
}

.tracker_passed {
display: none;
}

.miniboard.style_2 {

  flex-direction: column;

  .playerboard_header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    --resourcesize: 35px;
    margin-top: 5px;
  }

  .playerboard_group{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: calc(var(--resourcesize) * 1);
    height: calc(var(--resourcesize) * 2);
    font-family: "Prototype";
    position: relative;
    font-size: calc(var(--resourcesize) * 0.55);
    font-weight: normal;
  }

  .playerboard_group_img{
    display: flex;
    align-items: center;
    grid-area: 1/1/1/1;

    .token_img{
      margin-right: 0;
      opacity: 0.7;

    }

  }

  .playerboard_own {
    position: absolute;
    width: 100%;
    text-shadow: #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px, #fff 0px 0px 2px;
  }

  .playerboard_produce {
    grid-area: 2/1/2/1;
    width: 100%;
  }

  .tracker_tr {
    display: none;
  }
}

.player_score_value:after {
  content: "";
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
  width: calc(var(--pb_cellsize) * 0.5);
  height: calc(var(--pb_cellsize) * 0.5);
  background-position: -1200% 0;
  display: inline-block;
  vertical-align: middle;
}


.player_score .fa-star {
  display: none;
}

.miniboard_entry {
  display: flex;
  width: calc(var(--resourcesize) * 2);
  font-size: calc(var(--resourcesize) * 0.55);
  font-family: 'Prototype';
}
/*
.tracker_pm::before {
  content: "prod MC ";
}

.tracker_m::before {
  content: "MC ";
}

.tracker_passed::before {
  content: "Passed ";
}*/
