.mcompact {
  --dpiratio:1;

  #ebd-body.mobile_portrait {

    /*1x defaults */
    --default-map-width: 0.67vw;
    --default-stan-width: 0.17vw;
    --default-card-width: 0.2vw;
    --default-pb_cellsize: 9vw;
    --default-resourcesize: 5vw;


    --map-width: calc(var(--localsetting_mapsize) * var(--default-map-width) );
    --stan-width: calc(var(--localsetting_mapsize) * var(--default-stan-width) );
    --card-width: calc(var(--localsetting_cardsize) * var(--default-card-width) );
    --pb_cellsize:var(--default-pb_cellsize);

    .milestone_label {
      bottom: 6%;
      font-size: calc(var(--map-width) * 0.03);
    }

    .award_label {
      bottom: -2%;
      font-size: calc(var(--map-width) * 0.05);
    }

    .compact_card_tt {
      .milestone_label {
        bottom: 5%;
        font-size: calc(var(--map-width) * 0.017);
        width: 88%;
        left: 4%;
      }
      .award_label {
        bottom: -3%;
        font-size: calc(var(--map-width) * 0.027);
      }
    }

    .counters_holder{
      --resourcesize:   var(--default-resourcesize);
      min-width:0;
    }

    .player_counters {
     /* 1X --resourcesize: 7.5vw;*/
      --resourcesize:   var(--default-resourcesize);
      flex-wrap: wrap;
    }

    .player_controls{
     /* justify-content: flex-start;
      top: 6%;*/
    }

    .hand, .draw, .draft {
      padding: 6px 6px 6px  calc(var(--card-width)*0.2);
    }

    .hand::after, .draw::after, .draft::after {
      font-size:  calc(var(--card-width)*0.2);
    }

    #map_bottom {
      flex-direction: column;
    }

    #main_awards, #main_milestones {
      width: 97%;
      height: calc(var(--map-height) * 0.28);
      left: 1%;

      .milestone, .award {
        width: calc(var(--map-width) * 0.260);
        height: calc(var(--map-width) * 0.15);
      }

      .map_milesawardsheader {
        top: 10%;

        .map_title {
          font-size: calc(var(--map-width) * 0.04);
        }

        .milesawardscosts {
          .token_img {
            --resourcesize: calc(var(--map-width) * 0.06);
            font-size: calc(var(--map-width) * 0.04);
          }
        }

        .milesawardsgains {
          .card_vp {
            width: calc(var(--map-width) * 0.06);
            height: calc(var(--map-width) * 0.06);
            font-size: calc(var(--map-width) * 0.04);
          }
        }
      }

      .map_milesawardscontent {
        justify-content: center;
      }
    }

    #scoretable {
      font-size: smaller;

      .scorecell {
        padding: 0.2em;
      }
    }

    .cardstack {
      .stack_btn {
        width: calc(var(--card-width) * 0.25);
        height: calc(var(--card-width) * 0.25);
        font-size: calc(var(--card-width) * 0.2);
      }
    }

  }


}
