#ebd-body {
  --pb_cellsize:4.5vw;
}

.player_area {
  border: 0.4vh solid var(--plcolor);
  position: relative;
  border-radius: 1vh;
  background: linear-gradient(135deg, rgb(51, 51, 51) 0%, rgb(225, 225, 225) 24%, rgb(158, 158, 158) 82%, rgb(225, 225, 225) 100%);
  --card-count:1;
}
.player_area_name {
  background: linear-gradient(135deg, rgb(51, 51, 51) 0%, rgb(225, 225, 225) 24%, rgb(158, 158, 158) 82%, rgb(225, 225, 225) 100%);
  width: fit-content;
  padding: 0.3vh;
  position: absolute;
  z-index: 1;
  top: -3vh;
  right: 0;
  border-radius: 1vh;
  color: var(--plcolor);
  font-family: "Prototype";
  border: 0.4vh solid var(--plcolor);
}

.playerboard {
  position: relative;
  width:100%;
  height: fit-content;
  display: flex;
  --resourcesize: 2em;
  --producesize: 1.6em;
  font-family: "Prototype";
  flex-wrap: wrap;
}

.playerboard_group {
  position: relative;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
}



.playerboard_own{
  width: var(--pb_cellsize);
  height: calc(var(--pb_cellsize) *0.5);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mini .playerboard_own {
  width: calc(var(--pb_cellsize) *0.8);
}

.playerboard_produce{
  width: var(--pb_cellsize);
  height: calc(var(--pb_cellsize) *0.5);
  background-image: url('img/prodtexture.png');
  background-size: 100% 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color:white;
}

.player_area .location {
  width: revert;
}
.tableau {
  display: flex;
  flex-wrap: wrap;

  .card[data-card-type="1"] {
   order:2;
  }
  .card[data-card-type="2"] {
    order:1;
  }
  .card[data-card-type="3"] {
    order:3;
  }
  .corp {
    order: 4;
  }

}

.tableau>.counter {
  display: none;
}

.player_tags{
  position: relative;
  display: flex;
  width: 100%;
  height:fit-content;
  flex-wrap: wrap;
}

.player_tags .badge,.player_tags .tracker{
  position: relative;
  width: calc(var(--pb_cellsize) * 0.5);
  height: calc(var(--pb_cellsize) * 0.5);

  display: inline-grid;
  grid-template-columns: calc(var(--pb_cellsize) * 0.5) calc(var(--pb_cellsize) * 0.3);
  grid-column-start: 1;

  margin-right: calc(var(--pb_cellsize) * 0.3);
}

.player_tags .tracker {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
}

.player_tags .tracker.badge {
  background-image: url("img/badges.png");
  background-size: 1200% 100%;
}

.player_tags .badge::after,.player_tags .tracker::after {
  content: attr(data-state);
  grid-column-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Prototype";

}
.player_tags .badge[data-state="0"],.tracker[data-state="0"] {
  opacity: 0.2;
}
.player_tags .badge[data-state="0"]::after,.player_tags .tracker[data-state="0"]::after {

}

.badge.tracker_tagCity{ background-position-x: 0;}
.badge.tracker_tagEvent{ background-position-x: -100%;}
.badge.tracker_tagEarth{ background-position-x: -200%;}
.badge.tracker_tagEventAggro{ background-position-x: -300%;}
.badge.tracker_tagPlant{ background-position-x: -400%;}
.badge.tracker_tagSpace{ background-position-x: -500%;}
.badge.tracker_tagJovian{ background-position-x: -600%;}
.badge.tracker_tagScience{ background-position-x: -700%;}
.badge.tracker_tagBuilding{ background-position-x: -800%;}
.badge.tracker_tagEnergy{ background-position-x: -900%;}
.badge.tracker_tagMicrobe{ background-position-x: -1000%;}
.badge.tracker_tagAnimal{ background-position-x: -1100%;}


.tracker.tracker_ers{ background-position: 0 -100%; order:-2;}
.tracker.tracker_eru{ background-position: -100% -100%;order:-1;}

.tracker.tracker_city{ background-position: -700% 0;}
.tracker.tracker_forest{ background-position: -600% 0;}
.tracker.tracker_land{ background-position: -300% -100%;}

.tracker_tagVenus{
  display: none;
}

.player_controls{
  position: relative;
  display: flex;
  width:100%;
  justify-content: flex-end;
}

.filter_button{
  border: calc(var(--pb_cellsize) * 0.01) solid black;
  margin-left: 0.5vw;
  font-size: calc(var(--pb_cellsize) * 0.15);
  padding: calc(var(--pb_cellsize) * 0.03);
  border-radius: calc(var(--pb_cellsize) * 0.05);
  cursor: pointer;
  user-select: none;
}
.filter_button.filter_blue {
  background-color: #67b1f1;
}
.filter_button.filter_green {
  background-color: #b5ff82;
}
.filter_button.filter_red {
  background-color: #fcb2b2;
}
.filter_button[data-enabled="1"]::before {
  content:'☑' ;
}
.filter_button[data-enabled="0"]::before {
  content:'☐' ;
}

.tableau[data-visibilityblue="0"] {
  .card[data-card-type="2"] {
    display: none;
  }
}

.tableau[data-visibilitygreen="0"] {
  .card[data-card-type="1"] {
    display: none;
  }
}
.tableau[data-visibilityred="0"] {
  .card[data-card-type="3"] {
    display: none;
  }
}
.mcompact {
.cards_1, .cards_3 {
  display: flex;
  flex-direction: column;

  .card:not(:last-child):not(:hover) {
    height: calc(var(--card-height) * 0.18);
    overflow: hidden;

    .card_bg{
      height:calc(var(--card-height));
    }
    .card_illustration{
      display: none;
    }
    .card_vp{
      display: none;
    }
    .card_title {
      height:revert;
      height: 28%;
      top:62%;
    }
    .card_action{
      display: none;
    }
    .card_effect{
      display: none;
    }
  }

  .card:hover {
    z-index: 10;
    transform: translateY(-5%);
    transition: all 100ms;
  }
}
}