.scoretable{
  /*display: table;*/
  display: flex;
  flex-direction: row;
  font-family: var(--mars-font);
  width: fit-content;
  border-radius: 0.5em;
  outline: 0.3em solid #840000;
  border-collapse: separate;


  .marker {
    background-image: url('img/cubes_opaque.png');
    position: absolute;
    opacity:0.3;
  }

  .card_vp {
    position: relative;
    display: inline-block;
  }

  .scorecol{
    display: flex;
    flex-direction: column;
}


  .scorecell{
    position: relative;
    display: table-cell;
    padding: 0.5em;
    border-left: 0.1em solid black;
    border-top: 0.1em solid black;
    text-align: center;
    background-color: #F5E9DB;
    height: 1.5em;
  }

  .scorecell[data-position="1"]::after {
    content:"🥇";
    float: right;
  }
  .scorecell[data-position="2"]::after {
    content:"🥈";
    float: right;
  }
  .scorecell .card_vp {
    display: inline-block;
  }

  .scoregoal{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #343434;
    font-size: smaller;
  }

  .progress_hist {
    position: absolute;
    width: 100%;
    margin: -0.5em;
    bottom: 0.5em;
  }

  .progress_hist[data-grade="low"] {
    background-color: rgba(255, 165, 165, 0.5)
  }
  .progress_hist[data-grade="mid"] {
    background-color: rgba(242, 167, 87, 0.5)
  }
  .progress_hist[data-grade="high"] {
    background-color: rgba(105, 210, 3, 0.3)
  }

  .progress_hist[data-grade="won"] {
      display: none;
  }


  .score_val {
    position: relative;
    z-index: 1;
  }


  .score {
    font-family:'Kanit';
    font-weight:300;
  }
  .header{
    background-color: #D0AE8C;
    height: 3em;
  }
  .scoreheader {
    .scorecell{
      text-align: right;
      border-left: none;
    }
  }

  .scorecell.corp{
    height: 1.5em;
  }

  .corp_logo {
    width: 4.5em;
    height: 1.5em;
  }

}

.scorecell.won .scoregoal {
  display: none;
}

#popin_score_dlg {
  background-image: url("img/full/tooltipbg.jpg");
}