/* tooltips */
.midSizeDialog {
  max-width: 400px;
}

.tooltipimage {
  vertical-align: top;
  display: inline-block;
}

.tooltiptext {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.tooltiptitle {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  width: 100%;
  background-color: #faebd752;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
}

.tooltip-body {
  width: 100%;
  padding: 10px;
}

.mcompact {
  .card_tooltipcontainer {
    --card-width: 15vw;
    --card-height: calc(var(--card-width)*1.40658174);

    .tooltipimage {
      display: none;
    }

    .infobox {
      display: none;
    }


    .tooltiptext {
      max-width: none;
    }
  }

  .midSizeDialog {
    max-width: none;
  }

  .tt_intertitle {
    text-transform: uppercase;
  }


  .card[data-card-type="1"] .tt_intertitle {
    background: #d0f0bd;
  }

  .card[data-card-type="2"] .tt_intertitle {
    background: #bdd8f0;
  }

  .card[data-card-type="3"] .tt_intertitle {
    background: #f0c3bd;
  }

  .card[data-card-type="4"] .tt_intertitle {
    background: #e9bdf0;
  }
}

.mfull {
  #ebd-body {
    --tt-width: calc(var(--localsetting_cardsize) / 100 * 520px);
    --tt-height: calc(var(--tt-width) * 0.688);

    .midSizeDialog {
      max-width: calc(var(--tt-width));
    }

    .tooltipcontainer {
      background-image: url(img/full/tooltipbg.jpg);
      background-size: auto;
    }

    .card_tooltipcontainer {
      --card-width: calc(var(--tt-width) * 0.4);
      --card-height: calc(var(--card-width)*1.40658174);
      min-width: var(--tt-width);
      min-height: var(--tt-height);
    }
  }


  .tt_section>* {
    display: block;
  }

  .card_tt_effect {
    margin-left: 10px;
  }

  .tt_intertitle {
    text-transform: uppercase;
    font-weight: bold;
  }

  .tooltiptext {
    margin-left: 10px;

  }

  .tooltiptitle {
    padding: 6px;
    padding-left: 10px;
  }

  .tooltipcontainer,
  .tundra .dijitTooltipContainer {
    background-color: transparent;
    border: unset;
    border-radius: unset;
    padding: unset;
    margin: 0;
  }
}

.tt_2cols {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: calc(var(--card-width)*2.1);
}

.tt_2cols.corp {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: revert;
  width: calc(var(--card-width)*1.5);
}

.tt_card_text {
  font-family: sans-serif;
}