/* tooltips */
.midSizeDialog {
  max-width: none;
}

.tooltiptitle {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  background: #d3672977;
  padding-left: 0.2em;
}


.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
}

.tooltip-body {
  position: relative;
  width: 100%;
  display: flex;
}

.tooltipimage {
  flex: none;
}

.tooltiptext {
  max-width: 40em;
}

.prereq_notmet {
  display: none;
  font-style: italic;
}

.invalid_prereq {
  .prereq_notmet {
    display: block;
  }
}

.mcompact {
  --resourcesize: 6vh;
}

.mfull {
  --resourcesize: 32px;
}

.tooltipimage.tracker {
  width: var(--resourcesize);
  height: var(--resourcesize);
  background-image: url("img/resources.png");
  background-size: 1000% 200%;

}

.tooltipimage.tracker.tracker_eru,
.tooltipimage.tracker.tracker_ers {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
}

.tooltipimage.tracker.tracker_pdelta {
  background-image: url("img/p_delta.png");
  background-size: contain;
}

.mcompact {
  .tooltipcontainer {
    --card-width: 20vh;
    --card-height: calc(var(--card-width) * 1.40658174);
    --map-width: 92vh;
    max-width: 60vh;
    font-size: large;
  }

  .compact_card_tt {
    display: flex;
  }

  .card_tooltipcontainer {
    max-width: calc(var(--card-width) * 2.5);
  }

  .card_tt_tooltipimagecontainer {
    padding: 0.2em;
  }

  .stanproj_tooltipcontainer {
    .card_tt_tooltipimagecontainer {
      display: none;
    }
  }

  .tt_intertitle {
    background: #d3672944;
  }

  .tooltipcontainer {
    .tile {
      position: relative;
      width: calc(var(--map-width) * 0.2170);
      height: calc(var(--map-width) * 0.24);
    }
  }

  .card_tt_tooltipimagecontainer {
    .tracker.badge {
      position: relative;
    }

    .tracker.badge::after {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 7vh;
      text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
      color: white;
      font-size: 3.5vh;
      font-family: var(--mars-font);
    }
  }
}

.tooltipcontainer {

  .tt_section.tt_error {
    .card_tt_effect {
      color: red;
      font-style: italic;
    }
  }

  .invalid_prereq {
    .tt_section.tt_prereq {
      .card_tt_effect {
        color: red;
      }
    }
  }

  .discounted {
    .tt_section.tt_cost {
      .card_tt_effect {
        text-decoration: line-through;
        color: gray; // the line though is not visible enought especially on number 4
      }

      .card_tt_effect:after {
        content: var(--discount-val);
        text-decoration: revert;
        display: inline-block;
        margin-left: 2%;
        color: #327935;
        font-weight: bold;
      }
    }
  }

}

.tooltipcontainer {
  background-image: url(img/full/tooltipbg.jpg);
  background-size: cover;
}

// .bgabutton.disabled {
//   pointer-events: unset; // to allow tooltips
// }

.mfull #ebd-body {
  --tt-width: calc(var(--localsetting_cardsize) / 100 * 600px);
  --tt-height: calc(var(--tt-width) * 0.688);

  .card_tooltipcontainer {
    --card-width: calc(var(--tt-width) * 0.4);
    --card-height: calc(var(--card-width)*1.40658174);
    min-width: var(--tt-width);
    min-height: var(--tt-height);
    font-size: calc(var(--localsetting_cardsize) * 1.2%);

    .tooltiptext {
      max-width: calc(var(--tt-width) * 0.6 - 25px);
      padding: 10px;
    }
  }
}


.tt_section>* {
  display: block;
}

.card_tt_effect {
  margin-left: 10px;
}


.tt_intertitle {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 0.2em;
}


.tooltipcontainer,
.tundra .dijitTooltipContainer {
  border: unset;
  border-radius: unset;
  padding: unset;
  margin: 0;
}


.tooltipcontainer .discounted .tt_section.tt_cost {
  .card_tt_effect:after {
    color: black;
  }
}


.tt_2cols {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: calc(var(--card-width)*2.1);
}

.tt_2cols.corp {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: revert;
  width: calc(var(--card-width)*1.5);
}

.tt_card_text {
  font-family: sans-serif;
}

.compact_card_tt {
  .token {
    .marker {
      display: none;
    }
  }
}