/* tooltips */
.midSizeDialog {
  max-width: 400px;
}

.tooltipimage {
  vertical-align: top;
  display: inline-block;
}

.tooltiptext {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}

.tooltiptitle {
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  width: 100%;
  background-color: #faebd752;
}

.tundra .dijitTooltipContainer,
.tooltipcontainer {
  background: white;
  color: black;
}

.tooltip-body {
  width: 100%;
  padding: 10px;
}

.prereq_notmet {
  display: none;
  font-style: italic;
}

.invalid_prereq {
  .prereq_notmet {
    display: block;
  }
}

.mcompact {
  --resourcesize: 6vh;
}
.mfull {
  --resourcesize:  32px;
}

.tooltipimage.tracker {
  width: var(--resourcesize);
  height: var(--resourcesize);
  background-image: url("img/resources.png");
  background-size: 1000% 200%;

}

.tooltipimage.tracker.tracker_eru,.tooltipimage.tracker.tracker_ers {
  background-image: url("img/icons.png");
  background-size: 1400% 200%;
}

.tooltipimage.tracker_pdelta {
  background-image: url("img/p_delta.jpg");
  background-size: contain;
  width: calc(var(--resourcesize)*4);
  height: var(--resourcesize);
}

.mcompact {

  .tooltipimage.tracker.tracker_tr {
    display: none;
  }

  .tooltipimage.tracker.tracker_gen {
    display: none;
  }

  .tooltipimage.tracker.tracker_passed {
    display: none;
  }

  .tooltipimage.hex {
    display: none;
  }

  .compact_card_tt {
    display: flex;
    --card-width: 25vh;
    --card-height: calc(var(--card-width)*1.40658174);
  }

  .compact_card_tt.standard_project {
    .card_tooltipimagecontainer {
      display: none;
    }
  }

  .tooltiptitle {
    /*font-size:initial ;*/
    font-size: 1.6vh;
  }

  .card_tooltipcontainer,
  .award_tooltipcontainer,
  .milestone_tooltipcontainer,
  .card_stanproj_1_tooltipcontainer,
  .card_stanproj_2_tooltipcontainer,
  .card_stanproj_3_tooltipcontainer,
  .card_stanproj_4_tooltipcontainer,
  .card_stanproj_5_tooltipcontainer,
  .card_stanproj_6_tooltipcontainer {

    font-family: Georgia;
    font-size: 1.6vh;
    padding-left: 1vh;

    max-width: 60vh;
    --map-width: 92vh;

    .tooltip-body {
      padding: 0;
    }

    .tooltiptitle {
      display: flex;
      justify-content: center;
      font-family: var(--mars-font);
      font-size: 2vh;
      background-color: rgba(87, 87, 87, 0.32);

    }

    .tooltipimage {
      display: none;
    }


    .infobox {
      display: none;
    }


    .tooltiptext {
      max-width: none;
    }


  }

  .award_tooltipcontainer,
  .milestone_tooltipcontainer,
  .card_stanproj_1_tooltipcontainer,
  .card_stanproj_2_tooltipcontainer,
  .card_stanproj_3_tooltipcontainer,
  .card_stanproj_4_tooltipcontainer,
  .card_stanproj_5_tooltipcontainer,
  .card_stanproj_6_tooltipcontainer {
    max-width: 40vh;
  }





  .midSizeDialog {
    max-width: none;
  }

  .tt_intertitle {
    text-transform: uppercase;
    font-size: 1.7vh;
    font-family: var(--mars-font);
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: calc(var(--card-width) * 0.07);
    font-family: var(--mars-font);
    background: #ffe9a8;
  }


  .card_tooltipcontainer[data-card-type="1"] .tt_intertitle {
    background: #d0f0bd;
  }

  .card_tooltipcontainer[data-card-type="2"] .tt_intertitle {
    background: #bdd8f0;
  }

  .card_tooltipcontainer[data-card-type="3"] .tt_intertitle {
    background: #f0c3bd;
  }

  .card_tooltipcontainer[data-card-type="4"] .tt_intertitle {
    background: #e9bdf0;
  }

  .tooltipcontainer {
    .tile {
      position: relative;
      width: calc(var(--map-width) * 0.2170);
      height: calc(var(--map-width) * 0.24);
    }
  }

  .card_tooltipimagecontainer {
    .tracker.badge {
      position: relative;
     /* width: 7vh;
      height: 7vh;*/
    }

    .tracker.badge::after {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 7vh;
      text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
      color: white;
      font-size: 3.5vh;
      font-family: var(--mars-font);
    }
  }
}

.tooltipcontainer {

  .tt_section.tt_error {
    .card_tt_effect {
      color: red;
      font-style: italic;
    }
  }

  .invalid_prereq {
    .tt_section.tt_prereq {
      .card_tt_effect {
        color: red;
      }
    }
  }

  .discounted {
    .tt_section.tt_cost {
      .card_tt_effect {
        text-decoration: line-through;
        color: gray; // the line though is not visible enought especially on number 4
      }

      .card_tt_effect:after {
        content: var(--discount-val);
        text-decoration: revert;
        display: inline-block;
        margin-left: 2%;
        color: #327935;
        font-weight: bold;
      }
    }
  }

}

.mfull {
  #ebd-body {
    --tt-width: calc(var(--localsetting_cardsize) / 100 * 520px);
    --tt-height: calc(var(--tt-width) * 0.688);

    .midSizeDialog {
      max-width: calc(var(--tt-width));
    }

    .tooltipcontainer {
      background-image: url(img/full/tooltipbg.jpg);
      background-size: auto;
    }

    .card_tooltipcontainer {
      --card-width: calc(var(--tt-width) * 0.4);
      --card-height: calc(var(--card-width)*1.40658174);
      min-width: var(--tt-width);
      min-height: var(--tt-height);
      font-size: calc(var(--localsetting_cardsize) * 1.2%);
    }
  }


  .tt_section>* {
    display: block;
  }

  .card_tt_effect {
    margin-left: 10px;
  }

  .tt_intertitle {
    text-transform: uppercase;
    font-weight: bold;
  }

  .tooltiptext {
    margin-left: 10px;

  }

  .tooltiptitle {
    padding: 6px;
    padding-left: 10px;
  }

  .tooltipcontainer,
  .tundra .dijitTooltipContainer {
    border: unset;
    border-radius: unset;
    padding: unset;
    margin: 0;
  }


  .tooltipcontainer .discounted .tt_section.tt_cost {
      .card_tt_effect:after {
        color: black;
      }
  }
}

.tt_2cols {
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: calc(var(--card-width)*2.1);
}

.tt_2cols.corp {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  height: revert;
  width: calc(var(--card-width)*1.5);
}

.tt_card_text {
  font-family: sans-serif;
}