.mfull {
  .player-board {
    background-color: #909090;
  }
  .bgabutton_gray {
    border: none;
    box-shadow: 2px 2px 3px 1px #00000080;
    color: #060606;
    text-shadow: none;
  }

  #ebd-body {
    --map-width: 30em; /* 75vh */
    --map-height: calc(var(--map-width) * 0.92);
    --card-width: 10em;
    --pb_cellsize: 4.5em;

    --stan-width: calc(var(--map-width) * 0.35);
    --stan-height: calc(var(--stan-width) * 0.2);
    --stan-fullheight: calc(var(--stan-width) * 1.604095);
  }

  .card_effect {
    font-size: calc(var(--card-width) * 0.1);
  }

  .player_area {
    border: unset;
    position: relative;
    border-radius: unset;
    background: unset;
    outline: 1px dashed green;
  }

  .player_counters {
    display: none;
  }

  .card_decor {
    pointer-events: none;
    display: none;
  }

  .corp .card_decor {
    display: block;
  }

  .hand.location:empty {
    display: block;
  }

  $bigmap: 1.66;
  $ratio: 1.445 / 1.7;
  $mainh: calc(var(--map-width) * $bigmap * $ratio);
  $mainw: calc(var(--map-width) * $bigmap);

  #main_board {
    position: relative;
    width: $mainw;
    height: $mainh;
  }

  #main_area {
    margin-top: unset;
    display: grid;
    grid-template-columns: $mainw auto;
    grid-template-rows: $mainh auto auto;
    justify-content: unset;
  }

  #main_board_wrapper,
  #main_board {
    grid-column: 1;
    grid-row: 1;
  }
  #thisplayer_zone ~ .player_area {
    // second player
    grid-column: 2;
  }

  #thisplayer_zone {
    width: 100%;
    grid-column: 2;
    grid-row: 1;
  }

  #players_area {
    display: none;
  }

  #map_middle {
    position: absolute;
    padding-top: 0%;
    padding-left: 0%;
    width: 100%;
    height: 90%;
  }

  #map_top {
    position: absolute;
    width: 58%;
    height: 20%;
    left: 23%;
    top: 11%;
  }

  #map_bottom {
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 0%;
    height: 10%;
  }

  #map_right {
    padding: 0%;
    position: absolute;
    right: 8%;
    top: 0%;
    height: 100%;
  }

  #map_left {
    padding: 0%;
    height: 100%;
    width: 10%;
    left: 7%;
    position: absolute;
  }
  #map {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 72%;
  }
  #oxygen_map {
    position: absolute;
    width: calc(var(--map-width) * 0.88);
    height: calc(var(--map-width) * 0.26);
    background: none;
    top: 0px;
    left: 0px;
  }
  #temperature_map {
    position: relative;
    top: 17%;
    height: 72%;
    width: calc(var(--map-width) * 0.157);
    background: none;
  }

  #standard_projects_area {
    display: block;
    background: unset;
    top: 59%;
  }
  #standard_projects_area .display {
    margin-top: 15%;
    display: block;
  }
  .stanp_decor {
    display: none;
  }
  #standard_projects_title_zone {
    display: none;
  }
  #standard_projects_area .card {
    top: unset !important;
    display: block;
    position: relative;
    margin-bottom: 0.2em;
  }

  .milestone,
  .award {
    background: none;
    width: calc(var(--map-width) * 0.14);
  }
  .map_milesawardsheader {
    display: none;
  }
  #main_awards,
  #main_milestones {
    padding: 0;
    border: none;
    width: 50%;
    background: none;
    position: relative;
  }

  .map_milesawardscontent {
    position: absolute;
    top: 43%;
    left: 2%;
  }

  #display_milestones {
    left: 13%;
  }

  #decks_area {
    display: block;
    position: absolute;
    top: 7%;
    width: var(--stan-width);
    height: var(--stan-height);
  }
  .deck > .card,
  .discard > .card {
    pointer-events: none;
  }

  #deck_main {
    left: 10%;
    position: absolute;
  }
  #discard_main {
    left: 40%;
    position: absolute;
  }

  .hex_ganymede {
    left: 49%;
    top: 41%;
    background-image: none;
  }
  .hex_phobos {
    left: 58%;
    top: 13%;
    background-image: none;
  }
  #oceans_pile {
    position: absolute;
    top: 61%;
    left: 328%;
    clip-path: revert;
  }

  #deck_main,
  #discard_main {
    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: 0 -100%;
    background-color: none;
  }

  // .hex {
  //   background-color: rgba(148, 202, 216, 0.4);
  // }

  .player_area_name {
    background: none;
    padding: 0px;
    z-index: 1;
    top: 3em;
    left: 0px;
    right: unset;
    border: none;
  }
  .tableau.whiteblock {
    background-image: none;
  }

  #main_board::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/full/TMgameboard.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
  .map_bg {
    display: none;
  }

  .player_tags .badge::after,
  .player_tags .tracker::after {
    color: white;
  }

  .card {
    background-size: 1000% auto;
  }

  .tableau {
    height: calc(var(--card-height) * 2);
    display: grid;
    grid-template-columns: var(--card-height) calc(var(--card-width)*2) var(--card-width) var(--card-width) auto;
    grid-template-rows: var(--card-width) auto;
    grid-gap: 0.2em;
    outline: 2px dashed yellow;
    padding: 0;
  }

  .cards_bin {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    grid-template-rows: repeat(auto-fill, calc(var(--card-height) * 0.12)) [last-row] var(--card-height);
    grid-row-start: 1;
    grid-row-end: -1;
  }
  .cards_1 {
    grid-column-end: -1;
    grid-column-start: 4;
  }

  .cards_4 {
    grid-column: 1;
  }
  .cards_3 {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
  }
  .cards_2a {
    grid-template-rows: repeat(auto-fill, calc(var(--card-height) * 0.3)) [last-row] var(--card-height);
  }

  .location .card:hover {
    z-index: 10;
    transform: scale(1.5);
    transition: all 500ms;
    transition-delay: 500ms;
  }

  .active_slot.card {
    box-shadow: 2px 2px 3px 3px #000000, 2px -2px 0px 5px #ff9800 !important;
  }

  .active_slot.card:hover {
    outline: unset;
  }

  @for $num from 1 through 80 {
    $i: $num - 1;
    $col: $i % 10;
    $row: ($i - $col) / 10;
    .card_main_#{$num} {
      background-position: calc(100% / 9 * $col) calc(100% / 7 * $row);
      background-image: url(img/full/cards1.jpg);
    }
  }

  @for $num from 81 through 160 {
    $i: $num - 81;
    $col: $i % 10;
    $row: ($i - $col) / 10;
    .card_main_#{$num} {
      background-position: calc(100% / 9 * $col) calc(100% / 7 * $row);
      background-image: url(img/full/cards2.jpg);
    }
  }

  @for $num from 161 through 208 {
    $i: $num - 161;
    $col: $i % 10;
    $row: ($i - $col) / 10;
    .card_main_#{$num} {
      background-position: calc(100% / 9 * $col) calc(100% / 4 * $row);
      background-image: url(img/full/cards3.jpg);
    }
  }

  .tracker_tagCity {
    background-position-x: 0;
  }
  .tracker_tagEvent {
    background-position-x: -100%;
  }
  .tracker_tagEarth {
    background-position-x: -200%;
  }
  .tracker_tagEventAggro {
    background-position-x: -300%;
  }
  .tracker_tagPlant {
    background-position-x: -400%;
  }
  .tracker_tagSpace {
    background-position-x: -500%;
  }
  .tracker_tagJovian {
    background-position-x: -600%;
  }
  .tracker_tagScience {
    background-position-x: -700%;
  }
  .tracker_tagBuilding {
    background-position-x: -800%;
  }
  .tracker_tagEnergy {
    background-position-x: -900%;
  }
  .tracker_tagMicrobe {
    background-position-x: -1000%;
  }
  .tracker_tagAnimal {
    background-position-x: -1100%;
  }

  #tracker_o,
  #tracker_gen,
  #tracker_t {
    width: 64px;
    height: 64px;
    background-image: url(img/resources.png);
    background-position: 30.5% 62%;
    background-size: calc(52 * 100%);
  }

  #oxygen_map #tracker_o {
    position: absolute;
    width: 8%;
    height: 24%;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }

  #temperature_map #tracker_t {
    position: absolute;
    height: 7%;
    width: 39%;
    left: 74%;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }

  #tracker_gen {
    position: absolute;
    width: calc(var(--stan-width) * 0.2);
    height: calc(var(--stan-width) * 0.2);
  }

  @for $num from 1 through 25 {
    $row: $num - 1;
    #tracker_gen[data-state="#{$num}"] {
      left: -74%;
      top: calc(100% - $row * (100% / 24));
    }
  }

  /*
  darhf:temp deactivate

.miniboard > * {
 display: inline-block;
}
.miniboard {


 .playerboard_header {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;

   .playerboard_group {
     position: relative;
     width: fit-content;
     height: fit-content;
     display: grid;
     grid-template-columns: 60% 40%;
     grid-template-rows: repeat(2, 1fr);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
     width: calc(var(--resourcesize) * 2.2);
     height: calc(var(--resourcesize) * 1);
     font-family: "Prototype";
     font-size: calc(var(--resourcesize) * 0.4);
     margin: calc(var(--resourcesize) * 0.06);

     .playerboard_group_img {
       display: flex;
       justify-content: flex-end;
       align-items: center;
       grid-area: 1 / 1 / 4 / 2;
       .token_img {
         margin-right: 0;
       }
     }
     .playerboard_produce {
       width: revert;
       height: revert;
       grid-area: 2 / 2 / 3 / 3;
     }
     .playerboard_own {
       width: revert;
       height: revert;
       background: #ffffff7d;
       grid-area: 1 / 2 / 2 / 3;
     }

     .player_tags .badge[data-state="0"],
     .tracker[data-state="0"] {
       display: revert;
     }
   }

   .playerboard_own {
     width: var(--pb_cellsize);
     height: calc(var(--pb_cellsize) * 0.5);
     display: flex;
     justify-content: space-evenly;
     align-items: center;
   }
 }


  }
  */

  .player_tags .badge[data-state="0"],
  .player_tags .tracker[data-state="0"] {
    opacity: 0.2;
    display: inline-block;
  }
  /* Added by darhf, to prevent messing things up too much*/
  #map_hexes {
    position: unset;
    width: unset;
    height: unset;
    top: unset;
    left: unset;
  }

  .card_hovertt .card_effect {
    font-size: calc(var(--card-width) * 0.07);
  }
  .player_area_name {
    top: 0;
  }
}
