.card.cardhelp {
  background-size: 1000% auto;
}


@for $num from 1 through 80 {
  $i: $num - 1;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 7 * $row );
    background-image: url(img/full/cards1.jpg);
  }
}

@for $num from 81 through 160 {
  $i: $num - 81;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 7 * $row );
    background-image: url(img/full/cards2.jpg);
  }
}

@for $num from 161 through 208 {
  $i: $num - 161;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 4 * $row);
    background-image: url(img/full/cards3.jpg);
  }
}


.mfull {
  #ebd-body {
    /* 
    background-image: url("img/full/tooltipbg.jpg"); 
    background-size: contain;
    */
    background-image: unset;

  }

  /** discount */
  .handy .card[data-discount_cost]::after {
    content: attr(data-discount_cost);
    position: absolute;
    top: 14%;
    left: 6%;
    width: calc(var(--card-width) * 0.12);
    height: calc(var(--card-width) * 0.12);
    line-height: calc(var(--card-width) * 0.12);
    font-size: calc(var(--card-width) * 0.08);
    text-align: center;
    border-radius: 20%;
    color: #bef983;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
    font-family: var(--mars-font);

    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: -300% 0;
  }

  .player-board {
    background-color: unset;
    background-image: url("img/full/tooltipbg.jpg");
    background-size: contain;
  }

  .bgabutton_gray {
    border: none;
    box-shadow: 2px 2px 3px 1px #00000080;
    color: #060606;
    text-shadow: none;
  }

  #ebd-body {
    --localsetting_mapsize: 100;
    --localsetting_cardsize: 100;
    --map-width: calc(var(--localsetting_mapsize) / 100 * 600px);
    --map-board-with: calc(var(--map-width) * 1.66);
    --map-height: calc(var(--map-width) * 0.92);
    --pb_cellsize: 3.5em;

    --card-width: calc(var(--localsetting_cardsize) / 100 * 160px);
    --card-height: calc(var(--card-width) * 1.40658174);

    --stan-width: calc(var(--map-board-with) * 0.155);
    --stan-height: calc(var(--stan-width) * 0.2);
    --stan-fullheight: calc(var(--stan-width) * 1.604095);
  }

  $ratio: 0.849;
  $mainh: calc(var(--map-board-with) * $ratio);
  $mainw: calc(var(--map-board-with));

  .card_effect {
    font-size: calc(var(--card-width) * 0.1);
  }


  .card_decor {
    pointer-events: none;
    display: none;
  }

  .corp .card_decor {
    display: block;
  }


  #main_board {
    position: relative;
    width: $mainw;
    height: $mainh;
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px 1px;
  }

  #main_area {
    margin-top: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  // mid-map layout
  #main_board {
    order: 2;
  }


  #map_middle {
    position: absolute;
    width: 100%;
    height: 90%;
  }

  #map_top {
    position: absolute;
    width: 58%;
    height: 20%;
    left: 23%;
    top: 11%;
  }

  #map_bottom {
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 0%;
    height: 10%;
  }

  #map_right {
    padding: 0%;
    position: absolute;
    right: 8%;
    top: 0%;
    height: 100%;
  }

  #map_left {
    padding: 0%;
    height: 100%;
    width: 10%;
    left: 7%;
    position: absolute;
  }

  #map {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 72%;
  }

  #map_hexes {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  #oxygen_map {
    position: absolute;
    width: calc(var(--map-width) * 0.88);
    height: calc(var(--map-width) * 0.26);
    background: none;
    top: 0px;
    left: 0px;
  }

  #temperature_map {
    position: relative;
    top: 17%;
    height: 72%;
    width: calc(var(--map-width) * 0.157);
    background: none;
  }

  #standard_projects_area {
    display: block;
    background: unset;
    top: 59%;
  }

  #standard_projects_area .display {
    margin-top: 19%;
    display: block;
  }

  .stanp_decor {
    display: none;
  }

  #standard_projects_title_zone {
    display: none;
  }

  #standard_projects_area .card {
    top: unset !important;
    display: block;
    position: relative;
    margin-bottom: 0.2em;
  }

  #main_board {

    .milestone,
    .award {
      position: relative;
      background: none;
      width: 17%;
      height: 100%;
    }
  }

  .map_milesawardsheader,
  .award_label,
  .milestone_label {
    display: none;
  }

  #main_awards,
  #main_milestones {
    padding: 0;
    border: none;
    width: 50%;
    background: none;
    position: relative;

    .marker {
      // same size as all markers on map defined in GameTokens.scss
      top: 40%;
      left: 35%;
    }

  }

  .map_milesawardscontent {
    position: absolute;
    top: 8%;
    left: 2%;
    width: 100%;
    height: 100%;
  }

  #display_milestones {
    left: 13%;
  }

  #decks_area {
    display: block;
    position: absolute;
    top: 7%;
    width: var(--stan-width);
    height: var(--stan-height);
    color: white;
  }

  .carddeck,
  #discard_main,
  #deck_main {
    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: 0 -100%;
    background-color: unset;
    width: calc(var(--map-width) * 0.05);
    height: calc(var(--map-width) * 0.07);
    outline: 1px solid #9E9E9E;
    border-radius: 20%;
  }

  .carddeck>.counter {
    position: absolute;
    top: 10%;
  }

  .carddeck>.card {
    pointer-events: none;
  }

  #deck_main {
    left: 10%;
    position: absolute;
  }

  #discard_main {
    left: 40%;
    position: absolute;
  }

  .hex_ganymede {
    left: 49%;
    top: 41%;
    background-image: none;
  }

  .hex_phobos {
    left: 58%;
    top: 13%;
    background-image: none;
  }

  #oceans_pile {
    position: absolute;
    top: 10%;
    left: 76%;

    width: calc(var(--stan-width) * 0.45);
    height: calc(var(--stan-width) * 0.54);
  }

  #outer_scoretracker {
    display: none;
  }


  // .hex {
  //   background-color: rgba(148, 202, 216, 0.4);
  // }

  #ebd-body #main_board {
    order: 2;
  }

  #ebd-body .thisplayer_zone {
    order: 1;
  }

  #ebd-body[data-localsetting_mapplacement=first] #main_board {
    order: 1;
  }

  #ebd-body[data-localsetting_mapplacement=first] .thisplayer_zone {
    order: 2;
  }



  #main_board::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/full/TMgameboard.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .map_bg {
    display: none;
  }

  .player_tags .badge::after,
  .player_tags .tracker::after {
    color: white;
  }

  .card {
    background-size: 1000% auto;
  }

  .pboard {
    width: calc(var(--card-width) * 22.2 / 6.5);
    height: calc(var(--card-height) * 16 / 9);
    background-image: url(img/full/pboard.jpg);
    background-size: contain;
    position: relative;
  }

  .resarea {
    position: absolute;
    color: gray;
  }

  .resarea::before {
    content: attr(data-state);
    position: absolute;
    top: -6%;
    right: 1%;

  }

  .resarea_m {
    width: 36%;
    height: 26%;
    left: 5%;
    top: 7%;
  }

  .resarea_s {
    width: 25%;
    height: 26%;
    left: 43%;
    top: 7%;
  }

  .resarea_u {
    width: 25%;
    height: 26%;
    left: 69%;
    top: 7%;
    color: #d2cdcd;
  }

  .resarea_p {
    width: 31%;
    height: 22%;
    left: 5%;
    top: 71%;
  }

  .resarea_e {
    width: 26%;
    height: 22%;
    left: 38%;
    top: 71%;
    color: #d2cdcd;
  }

  .resarea_h {
    width: 28%;
    height: 22%;
    left: 66%;
    top: 71%;
  }


  .tableau {
    //height: calc(var(--card-height) * 2);
    // display: grid;
    // grid-template-columns: auto auto auto auto auto;
    // grid-template-rows: var(--card-width) auto;
    // grid-gap: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    //outline: 2px dashed var(--plcolor);
    padding: 0.5em;
  }

  .cards_bin {
    --overlap: 0.88;
    max-height: calc(var(--card-height) * 2.3);
  }

  .cards_bin.stacked {
    --overlap: 0.88;
    max-height: calc(var(--card-height) * (2.3 - var(--overlap)));
    padding-top: calc(var(--card-height) * var(--overlap));
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: 0 0 auto;

    .card {
      margin-top: calc(var(--card-height) * var(--overlap) * -1);
    }
  }
  .cards_2.stacked {
    --overlap: 0.66;
   }

  .cards_4 {
    padding: 2px;
    flex: 0 0 auto;
  }

  .cards_1 {}

  .cards_2a {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(var(--card-width) * 3);
    max-height: unset;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    row-gap: 5px;
  }

  



  .cards_3 {

    /* justify-self: right; */
  }



  .tableau[data-visibility_2="0"] {
    .cards_2 {
      visibility: hidden;
      width: 0px;
      height: var(--card-height);
    }
  }

  .tableau[data-visibility_1="0"] {

    .cards_1,
    .cards_1vp {
      visibility: hidden;
      width: 0px;
      height: var(--card-height);
    }

  }

  .tableau[data-visibility_3="0"] {

    .cards_3,
    .cards_3vp {
      visibility: hidden;
      width: 0px;
      height: 20px;
    }
  }

  .tableau[data-visibility_0="0"] {
    .pboard {
      display: none;
    }
  }

  .tableau[data-visibility_4="0"] {
    .corp_holder {
      display: none;
    }
  }

  .location .card:hover {
    z-index: 10;
    transform: unset;
    transition: all 500ms;
    transition-delay: 500ms;
  }

  .location .card {
    transition: all 300ms;
    transition-delay: unset;
  }

  .card.corp {
    background-size: 600% auto;
  }

  .card_corp_1 {
    // begginer
    background-position: 0 100%;
    background-image: url(img/full/cardsC.jpg);
  }

  @for $num from 2 through 13 {
    $i: $num - 2;
    $col: $i % 6;
    $row: calc(($i - $col) / 6);

    .card_corp_#{$num} {
      background-position: calc(100% / 5 * $col) calc(100% / 2 * $row);
      background-image: url(img/full/cardsC.jpg);
    }
  }

  .card_corp_9 {
    background-position: 0% 50%;
  }

  .card_corp_8 {
    background-position: 20% 50%;
  }



  #oxygen_map .tracker_o,
  #main_board .tracker_gen,
  #temperature_map .tracker_t {
    width: 64px;
    height: 64px;
    background-image: url(img/resources.png);
    background-position: 30.5% 62%;
    background-size: calc(52 * 100%);
  }

  #main_board .tracker_gen::after {
    display: none;
  }

  #oxygen_map .tracker_o {
    position: absolute;
    width: 8%;
    height: 24%;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }

  #temperature_map .tracker_t {
    position: absolute;
    height: 7%;
    width: 39%;
    left: 74%;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }

  #main_board .tracker_gen {
    position: absolute;
    width: calc(var(--stan-width) * 0.2);
    height: calc(var(--stan-width) * 0.2);
  }

  @for $num from 1 through 25 {
    $row: $num - 1;

    #main_board .tracker_gen[data-state="#{$num}"] {
      left: -74%;
      top: calc(100% - $row * (100% / 24));
    }
  }

  .player_tags .badge[data-state="0"],
  .player_tags .tracker[data-state="0"] {
    opacity: 0.2;
    display: inline-block;
  }


  .card_hovertt .card_effect {
    font-size: calc(var(--card-width) * 0.07);
  }


  .thisplayer_zone {
    order: 1;
    flex-grow: 1;
  }

  .thisplayer_zone~.player_area {
    // second player
    order: 3;
  }


  .player_area {
    position: relative;
    width: unset;
    min-width: var(--map-board-with);
    // override compact settings
    border: unset;
    border-radius: unset;
    background: unset;
    // override layout settings
    flex-grow: unset;
    display: grid;


    grid-template-columns: min-content auto;
    grid-gap: 2px;
    grid-template-rows: min-content auto;
    grid-template-areas:
      "sidebar  header"
      "sidebar  content";
    /* outline: 1px dashed var(--plcolor); */
  }

  .player_counters {
    display: none;
  }

  #players_area {
    display: none;
  }


  .playerboard_side_name {
    font-family: var(--mars-font);
    width: 32px;
    height: var(--card-height);
    text-overflow: ellipsis;
    text-wrap: nowrap;
    color: var(--plcolor);
  }

  .playerboard_side_name::before {
    content: attr(data-player-name);
    position: absolute;
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: 0.5em 0.75em 0;
  }

  .playerboard_side_gear::after {
    content: "\f013";
    position: absolute;
    font-family: FontAwesome;
    color: gray;
  }

  .playerboard_side_gear:hover::after {
    animation: fa-spin 2s linear;
  }

  .playerboard_side {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* background-image: linear-gradient(to right, var(--plcolor), transparent); */
    width: 32px;
    font-size: 32px;
    grid-area: sidebar;
  }

  .player_area {

    .playerboard_header {
      display: flex;
      width: fit-content;
      grid-area: header;
    }

    .tableau {
      grid-area: content;
    }

    .playerboard_header .badge~.mini_counter[data-state="0"] {
      opacity: 0.2;
    }

    .playerboard_header {
      .counters_holder {
        width: unset;
      }

      .corp_logo {
        display: block;
      }
    }

    .playerboard_controls {
      display: block;
    }

    .player_area_name {
      display: none;
    }

    .player_tags {
      width: unset;
      padding: 2px;
    }

  }





  .player_controls {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 0.5em;
    width: fit-content;
    margin-right: 10px;
    margin-left: 10px;
  }

  .corp_holder {
    justify-content: flex-start;

    .corp_logo {
      display: none;
    }
  }

  .viewcards_button {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 10%;
    cursor: pointer;
  }

  .buttoncard {
    // center content
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
    width: 24px;
    height: 32px;
    border: 1px solid gray;
    border-radius: 20%;
  }

  .viewcardbutton_counter {
    height: calc(var(--resourcesize) * 0.55);
  }

  .viewcards_button[data-cardtype="1"] .buttoncard {
    background-color: #b5ff82;
  }

  .viewcards_button[data-cardtype="2"] .buttoncard {
    background-color: #67b1f1;
  }

  .viewcards_button[data-cardtype="3"] .buttoncard {
    background-color: #e1ac18;
  }

  .viewcards_button[data-cardtype="0"] .buttoncard {
    background-color: #8b452d;
  }

  .viewcards_button[data-cardtype="4"] .buttoncard {
    background-color: white; // corporation selector
  }

  .viewcards_button[data-selected="0"] i {
    display: none;
  }

  .mini_counter.badge {
    width: 39px;
    height: 39px;
  }

  .pboard .marker {
    position: absolute;

  }

  .marker_pm {
    top: 41%;
    left: 16%;
  }

  .marker_ps {
    top: 35%;
    left: 43%;
  }

  .marker_pu {
    top: 35%;
    left: 69%;
  }

  .marker_pp {
    top: 56%;
    left: 8%;
  }

  .marker_pe {
    top: 56%;
    left: 39%;
  }

  .marker_ph {
    top: 56%;
    left: 68%;
  }

  .res,
  .res_n1 {
    width: 20px;
    height: 20px;
    background-color: unset;
    box-shadow: rgba(11, 11, 11, 0.6784313725) 2px 2px 3px 1px;
    margin-top: 3px;
    background-image: url(img/resources.png);
    background-position: 84.3% 99%;
    border-radius: 25%;
    background-size: 2250%;
  }

  .res_n5 {
    width: 25px;
    height: 25px;
    background-position: 90.3% 99%;
  }

  .res_n10 {
    width: 30px;
    height: 30px;
    background-position: 98% 99%;
  }


  .tooltipimage.production {
    outline: 4px solid #b7915e;
    background-color: #b7915e;
    margin-left: 3px;
    margin-right: 3px;
  }


  // temp indicator that card is used
  .card[data-state="3"]::before {
    content: "";
    position: absolute;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: var(--plcolor);
  }

  .hand_sorter {
    position: absolute;
    top: unset;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    background-color: unset;
    color: rgba(0, 0, 0, 0.34);
    border-color: rgba(0, 0, 0, 0.34);
    border-radius: 1vh;
    padding: unset;
    z-index: 30;
    width: unset;
    height: unset;
    justify-content: center;
    align-items: center;
  }
}