.card.cardhelp {
  background-size: 1000% auto;
}


@for $num from 1 through 80 {
  $i: $num - 1;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 7 * $row );
    background-image: url(img/full/cards1.jpg);
  }
}

@for $num from 81 through 160 {
  $i: $num - 81;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 7 * $row );
    background-image: url(img/full/cards2.jpg);
  }
}

@for $num from 161 through 208 {
  $i: $num - 161;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 4 * $row);
    background-image: url(img/full/cards3.jpg);
  }
}

@for $num from 36 through 42 {
  $i: $num - 36;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_P#{$num},
  .cardhelp.card_main_P#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 4 * $row);
    background-image: url(img/prelude/pre_cards.jpg);
  }
}

@for $num from 1 through 9 {
  $i: $num - 1;
  $col: $i % 6;
  $row: calc(($i - $col) / 6);

  .mfull .card_prelude_P0#{$num},
  .cardhelp.card_prelude_P0#{$num} {
    background-position: calc(100% / 5 * $col) calc(100% / 5 * $row);
    background-image: url(img/prelude/pre_cardsP.jpg);
  }
}

@for $num from 1 through 35 {
  $i: $num - 1;
  $col: $i % 6;
  $row: calc(($i - $col) / 6);

  .mfull .card_prelude_P#{$num},
  .cardhelp.card_prelude_P#{$num} {
    background-position: calc(100% / 5 * $col) calc(100% / 5 * $row);
    background-image: url(img/prelude/pre_cardsP.jpg);
  }
}


@for $num from 2 through 13 {
  $i: $num - 2;
  $col: $i % 6;
  $row: calc(($i - $col) / 6);

  .card_corp_#{$num} {
    background-position: calc(100% / 5 * $col) calc(100% / 2 * $row);
    background-image: url(img/full/cardsC.jpg);
  }
}

.mfull {
  @for $num from 19 through 23 {
    $i: $num - 19;
    $col: $i % 6;
    $row: calc(($i - $col) / 6);

    .card_corp_#{$num} {
      background-position: calc(100% / 5 * $col) 0;
      background-image: url(img/prelude/pre_cardsC.jpg);
      background-size: 600%;

      .card_decor {
        display: none; // temp until decor is back
      }
    }
  }
}



.mfull {
  #ebd-body {
    /* 
    background-image: url("img/full/tooltipbg.jpg"); 
    background-size: contain;
    */
    background-image: unset;

  }

  /** discount */
  .handy .card[data-discount_cost]::after {
    content: attr(data-discount_cost);
    position: absolute;
    top: 14%;
    left: 6%;
    width: calc(var(--card-width) * 0.12);
    height: calc(var(--card-width) * 0.12);
    line-height: calc(var(--card-width) * 0.12);
    font-size: calc(var(--card-width) * 0.08);
    text-align: center;
    border-radius: 20%;
    color: #bef983;
    text-shadow: #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px, #000 0px 0px 2px;
    font-family: var(--mars-font);

    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: -300% 0;
  }

  .player-board {
    background-color: unset;
    background-image: url("img/full/tooltipbg.jpg");
    background-size: contain;
  }

  .bgabutton_gray {
    border: none;
    box-shadow: 2px 2px 3px 1px #00000080;
    color: #060606;
    text-shadow: none;
  }

  #ebd-body {
    --localsetting_mapsize: 100;
    --localsetting_cardsize: 100;
    --map-width: calc(var(--localsetting_mapsize) / 100 * 600px);
    --map-board-with: calc(var(--map-width) * 1.66);
    --map-height: calc(var(--map-width) * 0.92);
    --pb_cellsize: 3.5em;

    --card-width: calc(var(--localsetting_cardsize) / 100 * 160px);
    --card-height: calc(var(--card-width) * 1.40658174);

    --stan-width: calc(var(--map-board-with) * 0.155);
    --stan-height: calc(var(--stan-width) * 0.2);
  }



  .card_effect {
    font-size: calc(var(--card-width) * 0.1);
  }


  .card_decor {
    pointer-events: none;
    display: none;
  }

  .corp .card_decor {
    display: block;
  }

  #main_board {
    position: relative;
    width: calc(var(--map-board-with));
    height: calc(var(--map-board-with) * 0.849);
    box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 3px 1px;
  }

  .map_2 #main_board {
    height: calc(var(--map-board-with) * 0.86);
  }

  .map_1 #main_board {
    height: calc(var(--map-board-with) * 0.86);
  }

  .map_3 #main_board {
    height: calc(var(--map-board-with) * 0.844); // vastitas
  }

  #main_area {
    margin-top: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  // mid-map layout
  #main_board {
    order: 2;
  }


  .map_2 #map_bottom {
    bottom: 7%;
  }

  .mileaw_header {
    top: 0%;
    height: 35%;
  }

  #map {
    position: absolute;
    left: 20%;
    top: 21%;
    width: 60%;
    height: 78%;
  }

  .map_3 #map {
    height: 80%;
    left: 20%;
    top: 22%;
    width: 62%;
  }

  .map_4 #map {
    left: 13.5%;
    top: 9%;
    width: 74%;
    height: 93%;
  }

  #map_middle {
    width: 100%;
    position: relative;
    height: 84%;
  }

  #map_hexes {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
  }

  .map_4 #map_hexes {
    left: 4%;
  }

  #oxygen_map {
    position: absolute;
    width: calc(var(--map-width) * 0.88);
    height: calc(var(--map-width) * 0.26);
    background: none;
    top: 10%;
    left: 23%;
  }

  .map_4 #oxygen_map {
    width: calc(var(--map-width) * 0.3);
    height: calc(var(--map-width) * 1.1);
    top: 10%;
    left: 9%;
  }

  #temperature_map {
    position: absolute;
    top: 19%;
    left: 83%;
    height: 77%;
    width: calc(var(--map-width) * 0.157);
    background: none;
  }

  .map_1 #temperature_map,
  .map_3 #temperature_map {
    position: absolute;
    top: 19%;
    left: 6%;
    width: calc(var(--map-width) * 0.1);
  }

  .map_4 #temperature_map {
    position: absolute;
    top: 8%;
    left: 86.5%;
    width: calc(var(--map-width) * 0.1);
    height: 87%;
  }

  #main_board #standard_projects_area {
    display: block;
    background: unset;
    top: 64%;
    left: 7%;
  }

  .map_1 #main_board #standard_projects_area,
  .map_3 #main_board #standard_projects_area {
    top: 64%;
    left: 79%;
  }

  #main_board #standard_projects_area #display_main {
    margin-top: 24%;
    display: block;
  }

  .map_1 #main_board #standard_projects_area #display_main {
    margin-top: 20%;
  }

  .map_2 #main_board #standard_projects_area #display_main {
    margin-top: 15%;
  }

  .stanp_decor {
    display: none;
  }

  #standard_projects_title_zone {
    display: none;
  }

  #standard_projects_area .card {
    top: unset !important;
    display: block;
    position: relative;
  }

  .map_4 {
    #standard_projects_area {
      background-position: 0 calc(var(--stan-height) * 7 * -0.11);
      background-size: auto calc(var(--stan-height) * 7 * 0.98);
    }

    #standard_projects_area #display_main {
      background-color: unset;
      border-radius: 5%;
      padding: unset;
    }

    .stanp_decor {
      display: unset;
    }

  }

  #main_board {
    .mileaw_item {
      position: relative;
      background: none;
      width: 20%;
      height: 100%;
    }
  }

  .mileaw_costs,
  .mileaw_title,
  .mileaw_gains,
  .mileaw_label {
    display: none;
  }

  .mileaw_main {
    padding: 0;
    border: none;
    width: 44%;
    background: none;
    position: relative;
    left: 6%;

    .marker {
      // same size as all markers on map defined in GameTokens.scss
      top: 40%;
      left: 35%;
    }

  }

  #main_awards {
    left: 6%;
  }

  .mileaw_display {
    position: relative;
    top: unset;
    left: unset;
    width: 100%;
    height: 100%;
  }

  #decks_area {
    display: block;
    position: absolute;
    top: 7%;
    left: 6%;
    width: var(--stan-width);
    height: var(--stan-height);
    color: white;
  }

  .map_2 #decks_area {
    top: 15%;
  }

  .map_4 #decks_area {
    top: 89%;
    left: 75%;
  }


  .carddeck,
  #discard_main,
  #deck_main {
    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: 0 -100%;
    background-color: unset;
    width: calc(var(--map-width) * 0.05);
    height: calc(var(--map-width) * 0.07);
    outline: 1px solid #9E9E9E;
    border-radius: 20%;
  }

  .carddeck>.counter {
    position: absolute;
    top: 10%;
  }

  .carddeck>.card {
    pointer-events: none;
  }

  #deck_main {
    left: 10%;
    position: absolute;
  }

  #discard_main {
    left: 40%;
    position: absolute;
  }

  .hex_ganymede {
    left: 12%;
    top: 44%;
    background-image: none;
  }

  .hex_phobos {
    left: 13%;
    top: 14%;
    background-image: none;
  }

  .map_2 .hex_phobos {
    left: 10%;
    top: 23%;
  }

  .map_1 .hex_phobos {
    top: 28%;
    left: 81%;
  }

  .map_3 .hex_phobos {
    top: 23%;
    left: 82%;
  }

  .map_4 .hex_phobos {
    top: 14%;
    left: 8%;
  }

  .map_1 .hex_ganymede {
    top: 46%;
    left: 84%;
  }

  .map_3 .hex_ganymede {
    top: 40%;
    left: 83%;
  }

  .map_4 .hex_ganymede {
    left: 5.5%;
    top: 80.5%;
  }

  #oceans_pile {
    position: absolute;
    top: 11%;
    left: 76%;

    width: calc(var(--stan-width) * 0.45);
    height: calc(var(--stan-width) * 0.54);
  }

  .map_1 #oceans_pile {
    top: 8%;
    left: 19%;
  }

  .map_3 #oceans_pile {
    top: 10%;
    left: 19%;
  }

  .map_4 #oceans_pile {
    top: 10%;
    left: 77%;
  }

  #outer_scoretracker {
    display: none;
  }


  // .hex {
  //   background-color: rgba(148, 202, 216, 0.4);
  // }

  #ebd-body #main_board {
    order: 2;
  }

  #ebd-body .thisplayer_zone {
    order: 1;
  }

  #ebd-body[data-localsetting_mapplacement=first] #main_board {
    order: 1;
  }

  #ebd-body[data-localsetting_mapplacement=first] .thisplayer_zone {
    order: 2;
  }



  #main_board::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/full/TMgameboard.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .map_2 {
    #main_board::before {
      background-image: url(img/full/hellas.jpg);
    }
  }

  .map_1 {
    #main_board::before {
      background-image: url(img/full/elysium.jpg);
    }
  }

  .map_3 {
    #main_board::before {
      background-image: url(img/full/vastitas.jpg);
    }
  }

  .map_4 {
    #main_board::before {
      background-image: url(img/full/amazonis.jpg);
    }


  }


  .map_bg {
    display: none;
  }

  .player_tags .badge::after,
  .player_tags .tracker::after {
    color: white;
  }

  .card {
    background-size: 1000% auto;
  }

  .pboard {
    width: calc(var(--card-width) * 22.2 / 6.5);
    height: calc(var(--card-height) * 16 / 9);
    background-image: url(img/full/pboard.jpg);
    background-size: contain;
    position: relative;
  }

  .resarea {
    position: absolute;
    color: gray;
  }

  .resarea::before {
    content: attr(data-state);
    position: absolute;
    top: -6%;
    right: 1%;

  }

  .resarea_m {
    width: 36%;
    height: 26%;
    left: 5%;
    top: 7%;
  }

  .resarea_s {
    width: 25%;
    height: 26%;
    left: 43%;
    top: 7%;
  }

  .resarea_u {
    width: 25%;
    height: 26%;
    left: 69%;
    top: 7%;
    color: #d2cdcd;
  }

  .resarea_p {
    width: 31%;
    height: 22%;
    left: 5%;
    top: 71%;
  }

  .resarea_e {
    width: 26%;
    height: 22%;
    left: 38%;
    top: 71%;
    color: #d2cdcd;
  }

  .resarea_h {
    width: 28%;
    height: 22%;
    left: 66%;
    top: 71%;
  }


  .tableau {
    //outline: 2px dashed var(--plcolor);
    padding: 0.5em;
  }

  .cardstack {
    font-size: 14px;

    .stack_header {
      //justify-content: flex-start;
      outline: 1px dashed var(--outlinecolor);

      .stack_header_middle {
        display: none;
      }
    }

    .stack_sum.cards {
      width: 1.2em;
      height: 1.2em;
      border-radius: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--hlcolor);
    }

    .stack_btn {
      width: 1.2em;
      height: 1.2em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 0.1em;
      color: gray;
    }

    .stack_btn:hover {
      background-color: #66666655;
    }
  }

  // hidden
  .cardstack[data-currentview="0"] {
    height: unset;

    .stack_content {
      --overlap: 0.99;
    }

    .stack_content .card {
      display: unset;
    }

    .stack_content_txt {
      display: none;
    }
  }

  // synthetic/single
  .cardstack[data-currentview="1"] {
    .stack_content {
      --overlap: 0.99;
    }
  }

  .cardstack[data-currentview="2"] {
    .stack_content {
      --overlap: 0.88;
    }
  }


  // corp/playerboard stack
  .cardstack[data-currentview].cardstack_cards_0 {
    .stack_content {
      --overlap: 0;
      --columns: 1;
      max-width: unset;
      max-height: unset;
      padding-top: 0;
    }

    .stack_sum.cards {
      display: none;
    }
  }

  .cardstack[data-currentview="0"] {
    .stack_content {
      display: none;
    }
  }


  .cardstack[data-currentview="3"].cardstack_cards_4.corp {
    .stack_content {
      row-gap: calc(var(--card-height) * 0.01);
      width: unset;
      min-width: unset;
      overflow: unset;
      max-width: 99.2%;
    }
  }


  .cardstack[data-currentview="3"].red,
  .cardstack[data-currentview="2"].red {
    .cards_3 .card::after {
      content: unset;
    }
  }

  .cardstack[data-currentview="1"].corp {
    .stack_content {
      --overlap: 1;
    }

    .prelude {
      display: none; // hide prelude
    }
  }

  .cardstack[data-currentview="0"] .stack_dd_buttons.open {
    left: auto;
    right: auto;
  }


  .cards_3 .card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/cardback.jpg);
    background-color: black;
    border-radius: 5%;
    background-size: contain;
  }


  .location .card:hover {
    z-index: 10;
    transform: unset;
    transition: all 500ms;
    transition-delay: 500ms;
  }

  .location .card {
    transition: all 300ms;
    transition-delay: unset;
  }

  .card.corp {
    background-size: 600% auto;
  }

  .card_corp_1 {
    // begginer
    background-position: 0 100%;
    background-image: url(img/full/cardsC.jpg);
  }

  .card.prelude {
    width: var(--card-height);
    height: var(--card-width);
    background-size: 600% auto;
  }

  .card_corp_9 {
    background-position: 0% 50%;
  }

  .card_corp_8 {
    background-position: 20% 50%;
  }



  #oxygen_map .tracker_o,
  #main_board .tracker_gen,
  #temperature_map .tracker_t {
    width: calc(var(--map-width) * 0.05);
    height: calc(var(--map-width) * 0.05);
    background-image: url(img/resources.png);
    background-position: 30.5% 62%;
    background-size: calc(52 * 100%);
    border-radius: unset;
    padding: 0;
    box-shadow: unset;
    position: absolute;
  }

  #main_board .tracker_gen::after {
    display: none;
  }


  #temperature_map .tracker_t {
    left: 74%;
  }

  @for $num from 0 through 25 {
    $row: $num;

    #main_board .tracker_gen[data-state="#{$num}"] {
      left: 0%;
      top: calc((100% - $row * (100% / 25)) * 0.95);
    }
  }

  .counters_holder {
    width: unset;
  }

  .player_tags {

    .badge[data-state="0"],
    .tracker[data-state="0"],
    .tracker.tracker_eru[data-state="3"],
    .tracker.tracker_ers[data-state="2"] {
      opacity: 0.2;
      display: inline-block;
    }
  }

  .card_hovertt .card_effect {
    font-size: calc(var(--card-width) * 0.07);
  }

  .player_area {
    position: relative;
    width: unset;
    min-width: var(--map-board-with);
    // override compact settings
    border: unset;
    border-radius: unset;
    background: unset;
    // override layout settings
    flex-grow: 1;
  }

  .thisplayer_zone {
    order: 1;
    flex-grow: 1;
    flex-basis: auto;
    flex-shrink: 1;
  }

  .thisplayer_zone~.player_area {
    // second player
    order: 3;
  }


  .player_counters {
    display: none;
  }

  #players_area {
    display: none;
  }



  .playerboard_side_gear::after {
    content: "\f013";
    position: absolute;
    font-family: FontAwesome;
    color: gray;
  }

  .playerboard_side_gear:hover::after {
    animation: fa-spin 2s linear;
  }



  .player_area {
    .playerboard_header .badge~.mini_counter[data-state="0"] {
      opacity: 0.2;
    }

    .playerboard_header {
      .corp_logo {
        display: block;
      }
    }

    .playerboard_controls {
      display: none;
    }

    .player_area_name {
      text-overflow: clip;
      overflow: hidden;
      z-index: 1;
      color: var(--plcolor);
      min-width: calc(var(--card-width) * 1);
      user-select: none;
      padding-left: 1em;
      font-size: x-large;
    }
  }

  .corp_holder {
    justify-content: flex-start;

    .corp_logo {
      display: none;
    }
  }

  .pboard .marker {
    position: absolute;

  }

  .marker_pm {
    top: 41%;
    left: 16%;
  }

  .marker_ps {
    top: 35%;
    left: 43%;
  }

  .marker_pu {
    top: 35%;
    left: 69%;
  }

  .marker_pp {
    top: 56%;
    left: 8%;
  }

  .marker_pe {
    top: 56%;
    left: 39%;
  }

  .marker_ph {
    top: 56%;
    left: 68%;
  }

  .res,
  .res_n1 {
    width: calc(var(--card-width) * 20 * 0.005);
    height: calc(var(--card-width) * 20 * 0.005);
    background-color: unset;
    box-shadow: rgba(11, 11, 11, 0.6784313725) 2px 2px 3px 1px;
    margin-top: 3px;
    background-image: url(img/resources.png);
    background-position: 84.3% 99%;
    border-radius: 25%;
    background-size: 2250%;
  }

  .res_n5 {
    width: calc(var(--card-width) * 25 * 0.005);
    height: calc(var(--card-width) * 25 * 0.005);
    background-position: 90.3% 99%;
  }

  .res_n10 {
    width: calc(var(--card-width) * 30 * 0.005);
    height: calc(var(--card-width) * 30 * 0.005);
    background-position: 98% 99%;
  }

  #main_board .res {
    position: absolute;
    top: 25%;
    left: 8%;
  }

  .map_1 #main_board .res {
    position: absolute;
    top: 65%;
    left: 7%;
  }

  .tooltipimage.production {
    outline: 4px solid #b7915e;
    background-color: #b7915e;
    margin-left: 3px;
    margin-right: 3px;
  }


  // temp indicator that card is used
  .card[data-state="3"]::before {
    content: "";
    position: absolute;
    left: calc(50% - 4px);
    width: 8px;
    height: 8px;
    background-color: var(--plcolor);
  }

  .hand_sorter {
    position: absolute;
    top: unset;
    bottom: 5px;
    left: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    background-color: unset;
    color: rgba(0, 0, 0, 0.34);
    border-color: rgba(0, 0, 0, 0.34);
    border-radius: 1vh;
    padding: unset;
    z-index: 30;
    width: unset;
    height: unset;
    justify-content: center;
    align-items: center;
  }

  .stack_dd_buttons.open .stack_btn .stack_ddl_label {
    text-align: unset;
    padding-left: 5%;
  }

  .ma_selected_menu {
    .stack_ddl_label {
      font-weight: bold;
    }
  }

  .switchview {
    margin-right: calc(var(--card-width) * 0.02);
  }

  .switchview:hover {
    color: var(--outlinecolor);
    background-color: black;
  }

  .hs_direction {
    display: none;
  }


  #main_board {
    .marker_tr~.marker_tr {
      translate: 50%;
    }

    .marker_tr~.marker_tr~.marker_tr {
      translate: 0% 50%;
    }

    .marker_tr~.marker_tr~.marker_tr~.marker_tr {
      translate: 50% 50%;
    }

    .marker_tr~.marker_tr~.marker_tr~.marker_tr~.marker_tr {
      translate: 100% 25%;
    }
  }
}