.mfull {
  .player-board {
    background-color: #909090;
  }

  .bgabutton_gray {
    border: none;
    box-shadow: 2px 2px 3px 1px #00000080;
    color: #060606;
    text-shadow: none;
  }

  #ebd-body {
    --map-width: calc(var(--localsetting_mapsize) / 100 * 600px);
    --map-board-with: calc(var(--map-width) * 1.66);
    --map-height: calc(var(--map-width) * 0.92);
    --pb_cellsize: 3.5em;

    --card-width: calc(var(--localsetting_cardsize) / 100 * 160px);
    --card-height: calc(var(--card-width) * 1.40658174);

    --stan-width: calc(var(--map-board-with) * 0.155);
    --stan-height: calc(var(--stan-width) * 0.2);
    --stan-fullheight: calc(var(--stan-width) * 1.604095);
  }

  $ratio: 1.445 / 1.7;
  $mainh: calc(var(--map-board-with) * $ratio);
  $mainw: calc(var(--map-board-with));

  .card_effect {
    font-size: calc(var(--card-width) * 0.1);
  }

  .player_area {
    border: unset;
    position: relative;
    border-radius: unset;
    background: unset;
    outline: 1px dashed var(--pcolor);
    min-width: var(--map-board-with);
  }

  .player_counters {
    display: none;
  }

  .counters_holder {
    width: unset;
  }

  .card_decor {
    pointer-events: none;
    display: none;
  }

  .corp .card_decor {
    display: block;
  }

  .hand.location:empty {
    display: block;
    min-width: var(--card-width);
  }




  #main_board {
    position: relative;
    width: $mainw;
    height: $mainh;
  }

  #main_area {
    margin-top: unset;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  // mid-map layout
  #main_board {
    order: 2;
  }

  .thisplayer_zone {
    order: 1;
    flex-grow: 1;
  }

  .thisplayer_zone~.player_area {
    // second player
    order: 3;
  }

  .player_area {
    min-width: $mainw;
    width: unset;
    flex-grow: 1;
  }



  #players_area {
    display: none;
  }

  #map_middle {
    position: absolute;
    padding-top: 0%;
    padding-left: 0%;
    width: 100%;
    height: 90%;
  }

  #map_top {
    position: absolute;
    width: 58%;
    height: 20%;
    left: 23%;
    top: 11%;
  }

  #map_bottom {
    width: 100%;
    position: absolute;
    bottom: 6%;
    left: 0%;
    height: 10%;
  }

  #map_right {
    padding: 0%;
    position: absolute;
    right: 8%;
    top: 0%;
    height: 100%;
  }

  #map_left {
    padding: 0%;
    height: 100%;
    width: 10%;
    left: 7%;
    position: absolute;
  }

  #map {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 72%;
  }

  #oxygen_map {
    position: absolute;
    width: calc(var(--map-width) * 0.88);
    height: calc(var(--map-width) * 0.26);
    background: none;
    top: 0px;
    left: 0px;
  }

  #temperature_map {
    position: relative;
    top: 17%;
    height: 72%;
    width: calc(var(--map-width) * 0.157);
    background: none;
  }

  #standard_projects_area {
    display: block;
    background: unset;
    top: 59%;
  }

  #standard_projects_area .display {
    margin-top: 19%;
    display: block;
  }

  .stanp_decor {
    display: none;
  }

  #standard_projects_title_zone {
    display: none;
  }

  #standard_projects_area .card {
    top: unset !important;
    display: block;
    position: relative;
    margin-bottom: 0.2em;
  }

  .milestone,
  .award {
    position: relative;
    background: none;
    width: 17%;
    height: 100%;
  }

  .map_milesawardsheader,
  .award_label,
  .milestone_label {
    display: none;
  }

  #main_awards,
  #main_milestones {
    padding: 0;
    border: none;
    width: 50%;
    background: none;
    position: relative;
  }

  .map_milesawardscontent {
    position: absolute;
    top: 8%;
    left: 2%;
    width: 100%;
    height: 100%;
  }

  #display_milestones {
    left: 13%;
  }

  #decks_area {
    display: block;
    position: absolute;
    top: 7%;
    width: var(--stan-width);
    height: var(--stan-height);
    color: white;
  }

  .carddeck,
  #discard_main,
  #deck_main {
    background-image: url("img/resources.png");
    background-size: 1000% 200%;
    background-position: 0 -100%;
    background-color: unset;
    width: calc(var(--map-width) * 0.05);
    height: calc(var(--map-width) * 0.07);
    outline: 1px solid #9E9E9E;
    border-radius: 20%;
  }

  .carddeck>.counter {
    position: absolute;
    top: 10%;
  }

  .carddeck>.card {
    pointer-events: none;
  }

  #deck_main {
    left: 10%;
    position: absolute;
  }

  #discard_main {
    left: 40%;
    position: absolute;
  }

  .hex_ganymede {
    left: 49%;
    top: 41%;
    background-image: none;
  }

  .hex_phobos {
    left: 58%;
    top: 13%;
    background-image: none;
  }

  #oceans_pile {
    position: absolute;
    top: 10%;
    left: 76%;

    width: calc(var(--stan-width) * 0.45);
    height: calc(var(--stan-width) * 0.54);
  }



  // .hex {
  //   background-color: rgba(148, 202, 216, 0.4);
  // }

  .player_area_name {
    background: none;
    padding: 0px;
    z-index: 1;
    left: unset;
    right: unset;
    border: none;
    color: var(--plcolor);
    top: calc(var(--card-width) * 0.9);
    position: absolute;
  }


  #main_board::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/full/TMgameboard.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
  }

  .map_bg {
    display: none;
  }

  .player_tags .badge::after,
  .player_tags .tracker::after {
    color: white;
  }

  .card {
    background-size: 1000% auto;
  }

  .tableau {
    //height: calc(var(--card-height) * 2);
    // display: grid;
    // grid-template-columns: auto auto auto auto auto;
    // grid-template-rows: var(--card-width) auto;
    // grid-gap: 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    //outline: 2px dashed var(--plcolor);
    padding: 0.5em;
  }



  .cards_bin {
    // display: grid;
    /* grid-template-columns: repeat(auto-fill, var(--card-width)); */
    // grid-template-rows: repeat(auto-fill, calc(var(--card-height) * 0.12));
    grid-row-start: 1;
    grid-row-end: -1;
    // grid-gap: 0.2em;
  }

  .cards_bin.stacked {
    .card {
      display: block;
    }

    .card~.card {
      margin-top: calc(var(--card-height) * (0.12 - 1));
    }
  }

  .cards_1 {
    grid-column: 2;
  }

  .cards_2 {
    grid-column: 3;
  }

  .cards_4 {
    grid-column: 1;
  }

  .cards_3 {
    grid-column: 1;
    grid-row: 2;
    justify-self: right;
  }

  .cards_2a {
    grid-column-end: -1;
    grid-column-start: 4;
  }

  .cards_2a>* {
    display: inline-block;
  }

  .tableau[data-visibility_2="0"] {
    .cards_2 {
      visibility: hidden;
      width: 0px;
      height: var(--card-height);
    }
  }

  .tableau[data-visibility_1="0"] {

    .cards_1,
    .cards_1vp {
      visibility: hidden;
      width: 0px;
      height: var(--card-height);
    }

  }

  .tableau[data-visibility_3="0"] {

    .cards_3,
    .cards_3vp {
      visibility: hidden;
      width: 0px;
      height: 20px;
    }
  }

  .location .card:hover {
    z-index: 10;
    transform: unset;
    transition: all 500ms;
    transition-delay: 500ms;
  }

  .active_slot.card {
    box-shadow: 2px 2px 3px 3px #000000, 2px -2px 0px 5px #ff9800 !important;
  }

  .active_slot.card:hover {
    outline: unset;
  }




  .card.corp {
    background-size: 600% auto;
  }

  .card_corp_1 {
    // begginer
    background-position: 0 100%;
    background-image: url(img/full/cardsC.jpg);
  }

  @for $num from 2 through 12 {
    $i: $num - 2;
    $col: $i % 6;
    $row: calc(($i - $col) / 6);

    .card_corp_#{$num} {
      background-position: calc(100% / 5 * $col) calc(100% / 2 * $row);
      background-image: url(img/full/cardsC.jpg);
    }
  }

  .card_corp_9 {
    background-position: 0% 50%;
  }

  .card_corp_8 {
    background-position: 20% 50%;
  }

  .playerboard_header .badge~.mini_counter[data-state="0"] {
    opacity: 0.2;
  }

  #tracker_o,
  #tracker_gen,
  #tracker_t {
    width: 64px;
    height: 64px;
    background-image: url(img/resources.png);
    background-position: 30.5% 62%;
    background-size: calc(52 * 100%);
  }

  #oxygen_map #tracker_o {
    position: absolute;
    width: 8%;
    height: 24%;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }

  #temperature_map #tracker_t {
    position: absolute;
    height: 7%;
    width: 39%;
    left: 74%;
    box-shadow: unset;
    border-radius: unset;
    padding: 0;
  }

  #tracker_gen {
    position: absolute;
    width: calc(var(--stan-width) * 0.2);
    height: calc(var(--stan-width) * 0.2);
  }

  @for $num from 1 through 25 {
    $row: $num - 1;

    #tracker_gen[data-state="#{$num}"] {
      left: -74%;
      top: calc(100% - $row * (100% / 24));
    }
  }

  .player_tags .badge[data-state="0"],
  .player_tags .tracker[data-state="0"] {
    opacity: 0.2;
    display: inline-block;
  }

  /* Added by darhf, to prevent messing things up too much*/
  #map_hexes {
    position: unset;
    width: unset;
    height: unset;
    top: unset;
    left: unset;
  }

  .card_hovertt .card_effect {
    font-size: calc(var(--card-width) * 0.07);
  }

  .playerboard_header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-image: linear-gradient(to right, var(--plcolor), transparent);
  }

  .player_tags {
    width: unset;
  }

  .playerboard_controls {
    display: none;
  }

  .player_controls {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding: 0.5em;
  }



  .corp_logo {
    width: calc(var(--card-width) * 0.5);
    height: auto;
  }

  .corp_holder {
    justify-content: flex-start;
  }

  .viewcards_button {
    display: flex;
    width: fit-content;
    height: fit-content;
    border-radius: 3%;
    cursor: pointer;
  }

  .buttoncard {
    // center content
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: normal;
  }

  .corp_holder .card_icon {
    // card form factor is 3/4
    width: 24px;
    height: 32px;

    border: 1px solid black;
    border-radius: 20%;
    border: 1px solid gray;
    border-radius: 20%;
  }

  .viewcardbutton_counter {
    height: calc(var(--resourcesize) * 0.55);
  }

  .viewcards_button[data-cardtype="1"] .buttoncard {
    background-color: #b5ff82;
  }

  .viewcards_button[data-cardtype="2"] .buttoncard {
    background-color: #67b1f1;
  }

  .viewcards_button[data-cardtype="3"] .buttoncard {
    background-color: #e1ac18;
  }

  .viewcards_button[data-selected="0"] i {
    display: none;
  }
}

.card.cardhelp {
  background-size: 1000% auto;
}


@for $num from 1 through 80 {
  $i: $num - 1;
  $col: $i % 10;
  $row: (
    $i - $col) / 10;

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 7 * $row
    );
  background-image: url(img/full/cards1.jpg);
}
}

@for $num from 81 through 160 {
  $i: $num - 81;
  $col: $i % 10;
  $row: (
    $i - $col) / 10;

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 7 * $row
    );
  background-image: url(img/full/cards2.jpg);
}
}

@for $num from 161 through 208 {
  $i: $num - 161;
  $col: $i % 10;
  $row: calc(($i - $col) / 10);

  .mfull .card_main_#{$num},
  .cardhelp.card_main_#{$num} {
    background-position: calc(100% / 9 * $col) calc(100% / 4 * $row);
    background-image: url(img/full/cards3.jpg);
  }
}